[2015-07-08 16:27] #1034 closed

[2015-07-08 17:26] berniejconnors opened #1059 "ca-nb new licence"
Service New Brunswick has changed their data licence to a version of the Open Government Licence.  The new licence can be found here - http://geonb.snb.ca/documents/license/geonb-odl_en.pdf.  The json file should be updated (i don't know how) - https://github.com/openaddresses/openaddresses/blob/master/sources/ca-nb.json

[2015-07-08 17:42] #1059 closed

[2015-07-08 17:42] migurski commented on #1059
Thank you!

[2015-07-08 17:46] ingalls commented on #1059
Thanks @berniejconnors !

[2015-07-09 14:11] michaelblyons opened #1062 "us-md-montgomery postcodes"
According to [the sample][mc-sample], the [`us-md-montgomery` data][mc-config] has city names, but is missing zip codes on some (lots?) of its addresses. When you download the `csv`, though, the zips are missing for _all_ addresses.

1. There's a bug in the `us-md-montgomery` processing somewhere.
2. I endorse adding city names (#230) to the csv output. The data source has those, and without them

[2015-07-11 20:58] #840 closed

[2015-07-16 08:34] tkardi opened #1077 "conditional merge of csv fields"
Is there a way to write a conditional merge of address attributes? For example the Estonian address dataset is originally structured as a hierarchy with 8 levels:

Address level | Description
------------------|---------------
A1 | 1st level admin division
A2 | 2nd level admin division
A3 | 3rd level division (city/city district name, can be blank if the name is the same as the level above)
A4 | s

[2015-07-16 09:01] tkardi opened #1078 "csv data filtering"
In the Estonian dataset there is the whole hierarchical  address tree presented: all levels have their corresponding address-locations described. Is there a need for somehow filtering those (like admin levels' addresspoints, cities and settlements, flats) out so only house numbers / parcel names remain?

[2015-07-16 15:55] NelsonMinar commented on #1077
I believe it will turn up "Tartu linn, , ". Here's the Python code in question:
https://github.com/openaddresses/machine/blob/master/openaddr/conform.py#L672-L681

Is there a reason you're setting `separator` to ","? What's an example of a correct complex Estonian address?

Almost all of our sources that currently use `advanced_merge` set separator to the empty string or a space. (Japanese address

[2015-07-16 15:59] NelsonMinar commented on #1077
(BTW, I'm thrilled that you contributed Estonian data. Aitäh!)

[2015-07-16 16:33] tkardi commented on #1077
Aga palun :) I'm just the messenger here, the adsavalik site has been up and running for some time now and I just saw there was no Estonian data up..

The official-official way as an example would be

_Tartu maakond, Tartu linn, Riia tn 24_ which comes from merging levels A1, A2, A5 and A7 or
_Põlva maakond, Kanepi vald, Soodoma küla, Toominga_ from levels A1, A2, A3, A6 or
_Lääne-Viru maakond, Vi

[2015-07-17 16:42] NelsonMinar commented on #1077
Thanks for the detailed info! You have a very good understanding of the data.

Honestly, the OpenAddresses extractor does not deal well with this level of complexity yet. Our code works pretty well when we have data from a single city and is focussed on street name and number. We have not yet done a good job on country-wide datafiles like Estonia, Denmark, or the Netherlands. We only recently even

[2015-07-17 16:46] NelsonMinar commented on #1078
I think we're discussing this question as part of #1077, specifically my [recommended option 1](https://github.com/openaddresses/openaddresses/issues/1077#issuecomment-122336550). If I'm wrong  could you please clarify the question?

[2015-07-18 18:43] skorasaurus opened #1085 "Summit County, Ohio as Parcel Data"
Contributing.md says to put parcel data into the wiki but the wiki only has a dataset without situs addresses.

Even after looking at a couple data sources in there, I'm unsure whether this set has "situs addresses" or not.

URL download: https://fiscaloffice.summitoh.net/index.php/documents-a-forms/finish/68-parcels/503-parcels
FROM: https://fiscaloffice.summitoh.net/index.php/documents-a-forms/v

[2015-07-20 08:44] tkardi commented on #1078
It is a different question. What I meant was that if the datasource has the whole address tree present there will be a lot of "noise". For example from the Estonian data an appartment bulding adress tree might look like:

row | type | A1 | A2 | A3 | A4 | A5 | A6 | A7 | A8
----|----|----|----|----|----|-----|-----|-----|-----
1 | A | Tartu maakond | | | | | | |
2 | B | Tartu maakond | Tartu linn |

[2015-07-20 09:00] tkardi commented on #1077
I'd be happy to help. I agree that option 3 is not the best of choices. And I'll see about the field mappings, though not sure if i can make it before the end of July (mostly offline and on vacation).

[2015-07-22 20:39] tiagofassoni commented on #266
I talked to some people at the São Paulo city hall, the license question can be resolved.

Is there going to be support to address interpolation?

Thanks!

[2015-07-23 15:04] schnuerle opened #1094 "Raw data for Louisville, KY"
Raw:
ftp://ftp.lojic.org/pub/federal/Address%20Sites.zip

Directory:
ftp://ftp.lojic.org/pub/federal/

Attribution:
"Data provided by permission of the LOJIC partners"

License:
ftp://ftp.lojic.org/pub/federal/Disclaimer.pdf

We at the www.civicdataalliance.org have already imported this, along with buildings into Open Street Map, FYI.

[2015-07-23 16:06] schnuerle commented on #1094
Oh here's Louisville (Jefferson County, from same source: LOJIC) already there, but not imported yet. https://github.com/openaddresses/openaddresses/blob/master/sources/us-ky-jefferson.json

Not sure if the direct FTP link is better than this or not.

[2015-07-23 16:19] NelsonMinar commented on #1078
Thanks for clarifying your question. Our code has no way to filter these out; it writes one row of output for every row of input. I think the best thing to do for the Estonian data is just not worry about it. For now, users of our OpenAddresses output will have to filter this out themselves. We should look into improving this along with other changes to make our output easier to use.

[2015-07-23 16:19] #1078 closed

[2015-07-23 16:29] NelsonMinar commented on #1077
Great! Thanks again for your thoughtful comments. I'm glad to see the Estonian source is checked in; even if we don't do as good a job cleaning the source as we could, it's still a big improvement to have at all. We successfully converted 2.5M rows of data and a bunch of it looks useful, so that's progress.

If you'd like to get involved on working on the ETL code, we'd love the help. I'd particul

[2015-07-23 16:29] #1077 closed

[2015-07-24 11:56] eczajk1 commented on #716
Baltimore City had a bad URL.  i found the correct one.  Is it best to just do a new pull request?

[2015-07-24 12:42] ingalls commented on #716
@eczajk1 Yeah a PR would be gladly accepted

[2015-07-24 14:11] pietercolpaert opened #1098 "Discussion: creating a Linked Data repository"
## Problem

In e.g., [Google Rich Snippets for events](https://developers.google.com/structured-data/rich-snippets/events) or in [DBPedia (wikipedia in Linked Data triples)](http://fragments.dbpedia.org/2014/en?subject=&predicate=http%3A%2F%2Fdbpedia.org%2Fontology%2Faddress&object=), addresses are indicated using a string, or with a "[blank node](https://en.wikipedia.org/wiki/Blank_node)" defined

[2015-07-24 19:18] iandees commented on #1098
At first glance, this feels like it goes way beyond the scope of this project. Before we can expose any persistent IDs/URIs for addresses, we would be to come up with GUIDs for addresses and then merge duplicates/overlapping data into a single "canonical address" with that GUID. That's a pretty big project by itself and I don't think we're ready to figure it out, yet.

[2015-07-24 23:39] migurski commented on #1098
Yeah, we don’t have any concept of unique IDs and there are lots of duplicates. An `id` field in the conform could be a useful part of [the parcel discussion](https://github.com/openaddresses/machine/issues/163) though.

[2015-07-25 10:57] pietercolpaert commented on #1098
Indeed not a trivial task and interesting fact that it's beyond the scope of this project.

Slightly different idea:

How about creating a unique URI per address entry from a certain source? Then it's up to "future work" to create _same as_ links between IDs from different sources. A URI could then look something like this:
http://id.openaddresses.io/{datasourceid}/{localid}

Furthermore, we shoul

[2015-07-25 17:07] sbma44 commented on #12
@mormegil-cz I am finally working to get this data imported today, and having considerable success thanks to your excellent notes. I am focusing on collecting the `ami:CisloDomovni` records, since it sounds like they have better coverage and would be closer to the official number. Is that correct, or would you not use the conscription number when writing an address (for sending a letter, for insta

[2015-07-25 17:25] sbma44 commented on #12
OK! I found the place name after all. But my other question stands: should I use `ami:CisloOrientacni` when it is available? What would you expect a geocoder to handle?

[2015-07-25 20:36] mormegil-cz commented on #12
You should definitely handle both numbers, if possible. For towns which do use `ami:CisloOrientacni`, it is often the most used number in common communication. You are right that the conscription number is the more official number; when writing a letter, you might use it quite often, but when explaining travel instructions, you would most definitely use street number, as conscription numbers are u

[2015-07-25 21:28] sbma44 commented on #12
Okay! I think I've got it and can handle both. Thanks again for the insight -- I'll update this thread once the data has finished processing (there's quite a lot of it) and I've submitted a pull request.

[2015-07-26 22:27] #12 closed

[2015-07-26 22:28] sbma44 commented on #12
merged! https://github.com/openaddresses/openaddresses/issues/1100

[2015-07-27 14:56] sbma44 opened #1107 "Slovenia"
Contradictory signals. Spatial ministry says the data is free, but the link 404s: http://www.gu.gov.si/en/services/free_access_database/territory_of_cadastral_areas/

However, e-prostor.gov.si seems more up to date and has a price list putting cadastral data at ~10,000 EUR.

Also of interest: this presentation that includes some slides of the data: http://proceedings.esri.com/library/userconf/proc

[2015-07-27 15:27] wheredoesyourmindgo commented on #919
Perfect.  Thanks for the reply. I'll close this out.

[2015-07-27 15:27] #919 closed

[2015-07-27 17:33] paulhoule commented on #1098
If you want to "merge" duplicates the simple way to do is to have a statement that works like a permanent redirect (i.e. if you see X,  rewrite to Y) so that ultimately there is a "canonical form" of the address.  This is similar to owl:sameAs in spirit,  but it is better for a whole bunch of reasons,  least of which is that you get the right answers for SPARQL queries.

[2015-07-27 17:37] iandees commented on #1098
We have no interest (at least for now) in determining what the canonical address is. That's what I mean by "merging duplicates". There's still thousands of hours of work left in finding address data, which is what I'm interested in doing. If there's interest in taking this data we're finding and building some kind of normalization process on top of it, I would be extremely happy to see that happen

[2015-07-27 17:56] paulhoule commented on #1098
So it is just statements of the form

{bag of address attributes} -> {enriched attributes such as WGS84}

that are in the system?

[2015-07-27 18:54] sbma44 commented on #1098
I'm afraid that I'm also skeptical of adding a Linked Data aspect to the project. The ratio of time spent architecting such solutions to the number of actually implemented and useful projects is horrifically skewed. And as @iandees notes, there is still a ton of work to be done within this project's existing mission.

I hate to direct energy away from OpenAddresses, but the project that is closest

[2015-07-27 19:12] migurski commented on #1098
@paulhoule: for some value of “just”, yes. :smiley_cat: The authority model we are using here relies on the government or other address granter to provide a concept of uniqueness and identity. This seems to be best developed in the parcel use case, since [APN’s](https://en.wikipedia.org/wiki/Assessor%27s_parcel_number) are a well understood thing.

[2015-07-28 15:12] pietercolpaert commented on #1098
I'll close this issue now with this conclusion:

Open Addresses is an effort to create one dataset containing all address databases from over the entire world. For now, it has no ambition to remove "duplicates" to create a single "openaddresses id" per address. Therefore, it's unfeasible to create URI per address.

Furthermore, the local identifiers per address entry should not be converted to Lin

[2015-07-28 15:12] #1098 closed

[2015-07-28 15:15] sbma44 commented on #1107
They've fixed the link, but it's to cadastral areas. Looks like the point database that's for sale might be the only thing available. I've asked for clarification.

[2015-07-31 16:53] rhaussmann opened #1111 "Retail Location Data"
We work with distributing retail locations. Is this acceptable? How should it be handled?

[2015-07-31 16:55] iandees commented on #1111
How are the latitude and longitude of the retail locations captured? If their addresses are run through a geocoder to get the lat/lon, then we can't really use it in our data set.

[2015-08-10 06:24] kishore-narendran opened #1121 "Address data of India?"
This could include the state, district, and pincode information of places in India?

[2015-08-11 14:07] james2432 opened #1130 "ca-qc-gatineau License url change"
The url of the license agreement for Gatineau Quebec has changed to:
http://gatineau.ca/donneesouvertes/telecharger_en.aspx?url=%2fupload%2fdonneesouvertes%2fADRESSE.zip

Not sure how else to contribute this information other than opening an issue.
The shape file url remains the same

Also License must be accepted before you can download the .zip, or it will fail to download

[2015-08-11 19:58] sbma44 commented on #1002
Hey @dexterslu, is this still something that you guys are interested in working on with us?

[2015-08-11 20:02] ingalls commented on #993
Closing - @xjlin0 feel free to reopen open another ticket if you have any more questions.

[2015-08-11 20:02] #993 closed

[2015-08-11 20:03] ingalls commented on #730
Stale - Feel free to reopen if new details emerge.

[2015-08-11 20:03] #730 closed

[2015-08-11 20:04] ingalls commented on #131
New Zealand is up and running.

[2015-08-11 20:04] #131 closed

[2015-08-11 20:05] ingalls commented on #187
Stale and we have poland now!

[2015-08-11 20:05] #187 closed

[2015-08-11 20:05] ingalls commented on #186
Stale - since this is on the commercial wiki, closing the outreach ticket.

[2015-08-11 20:05] #186 closed

[2015-08-11 20:06] ingalls commented on #184
Stale - no response. Someone else is welcome to take this on.

[2015-08-11 20:06] #184 closed

[2015-08-11 20:06] ingalls commented on #183
Stale - no response. Someone else is welcome to take this on.

[2015-08-11 20:06] #183 closed

[2015-08-11 20:06] ingalls commented on #182
Stale - no response. Someone else is welcome to take this on.

[2015-08-11 20:06] #182 closed

[2015-08-11 20:06] ingalls commented on #181
Stale - no response. Someone else is welcome to take this on.

[2015-08-11 20:06] #181 closed

[2015-08-11 20:07] ingalls commented on #179
This got us the flanders dataset

[2015-08-11 20:07] #179 closed

[2015-08-11 20:07] ingalls commented on #178
Stale - no response. Someone else is welcome to take this on.

[2015-08-11 20:07] #178 closed

[2015-08-11 20:07] ingalls commented on #170
Stale - no response. Someone else is welcome to take this on.

[2015-08-11 20:07] #170 closed

[2015-08-11 20:08] ingalls commented on #169
Stale - Someone else is welcome to take this on.

[2015-08-11 20:08] #169 closed

[2015-08-11 20:08] ingalls commented on #164
Stale - no response. Someone else is welcome to take this on.

[2015-08-12 01:29] dexterslu commented on #1002
Hey @sbma44 ! sorry for the delay on this, just exported out the entire state into one (csv) with the data structure as follows:

-Parcelnumber
-Geoid
-State
-County
-City
-Phy_addr1(address)
-Centroid

Will that work? [Here's a link to the file](https://www.dropbox.com/s/0yf30t7t1s70sj5/oa_fl.csv.zip?dl=0)

[2015-08-12 01:59] ingalls commented on #1002
@dexterslu this format looks absolutely perfect! Thanks so much for getting this to us, this will be an absolutely massive boost for the project! I'll get the file processed and post back here with the results.

[2015-08-12 02:13] dexterslu commented on #1002
Fantastic, we've also got a nice little list of apis from around 800 or so counties across the countries you [might want to check out](https://www.dropbox.com/s/g0qq57nz8aye7o6/oa_api.csv?dl=0)

[2015-08-12 13:36] ingalls commented on #1002
Wow! This is fantastic! I notice you don't have a lot for kansas in the list, I'd welcome you to checkout https://github.com/ingalls/Kansas-ORKA, which contains a ton of data.

[2015-08-12 14:34] migurski commented on #1002
Cool!

[2015-08-12 15:12] ingalls commented on #1002
I've processed the data and pushed it to our s3 cache. A PR is currently being validated by Travis/Machine here: https://github.com/openaddresses/openaddresses/pull/1142

[2015-08-12 15:47] sbma44 commented on #170
I corresponded with Felipe Cruz back in January. He's blogged about open data efforts in Portugal, and pointed me toward their open data portal:

![image](https://cloud.githubusercontent.com/assets/31717/9228457/9971993e-40e6-11e5-8ff1-9d9b5529d763.png)

Portugal [is building a cadaster](http://www.dgterritorio.pt/static/repository/2014-04/2014-04-03105202_b511271f-54fe-4d21-9657-24580e9b7023$$5D8

[2015-08-12 15:50] dexterslu commented on #1002
awesome work @ingalls if you've got any feed back on that file please let me know. It definitely needs a bit of normalization, there are quite a few points with the same addresses. I've noticed that this primarily happens right at the shoreline...

[2015-08-13 12:53] james2432 opened #1145 "ca-on-ottawa shape file location changed"
The new URL to download the shape file is here:
http://data.ottawa.ca/dataset/dd20e72b-6743-40be-929b-d4aee7f06368/resource/92212052-db12-4b00-b23d-791ec4e022d2/download/addresses.zip

[2015-08-13 13:06] james2432 opened #1146 "python parsing script not unicode"
The python script does not process é à â ô properly as it is probably not setup to handle unicode strings. Sample data from ca-qc-montreal
![montrealfailroads](https://cloud.githubusercontent.com/assets/498547/9250359/43b57dda-419a-11e5-967d-c657f568d188.JPG)

[2015-08-13 13:11] james2432 opened #1147 "ca-qc-montreal needs merge change"
For the roads in montreal the current code is :
[code]
it should be changed to:
[code]

as the roads in quebec should be like this:
*Avenue Pierre Baillargeon*
and not like this:
*Pierre Baillargeon Avenue*

[2015-08-13 14:43] migurski commented on #1146
Which script?

[2015-08-13 14:45] james2432 commented on #1146
The script that parses and creates the csv digest here:
http://data.openaddresses.io.s3.amazonaws.com/ca-qc-montreal.zip
from this page
http://data.openaddresses.io/runs/1438927874.576/index.html

[2015-08-13 15:08] migurski commented on #1146
Thanks, that’s good information! I’m going to duplicate this issue over in the `machine` repository where those scripts live, and update here.

[2015-08-13 15:27] migurski opened #1148 "Reflect new merge syntax in contributing documentation"
Reference https://github.com/openaddresses/machine/pull/180.

[2015-08-13 15:36] migurski commented on #1146
I did a bit more digging. We’re in the process of switching the processing code, and it looks like the new code produces correct UTF8 output. Can you confirm by looking at http://data.openaddresses.io.s3.amazonaws.com/runs/6668/ca-qc-montreal.zip and close this ticket if it looks right to you?

[2015-08-13 15:38] james2432 commented on #1146
seems to have the same issue, some encoding problem atleast
![montrealfailroads](https://cloud.githubusercontent.com/assets/498547/9254118/b9d52f3c-41af-11e5-9176-dff8c0e27b6b.JPG)

[2015-08-13 15:44] migurski commented on #1146
What tool are you using to open it? I am reading the values in the CSV file and finding them to be correct UTF8. They also appear correctly in QGIS 2.0.1:

<img width="362" alt="montreal" src="https://cloud.githubusercontent.com/assets/58730/9254275/79a5ddd4-4197-11e5-86a5-880d4dcaaff4.png">

[2015-08-13 15:47] james2432 commented on #1146
seems to be an issue with excel, notepad++ reads it correctly

[2015-08-13 15:49] #1148 closed

[2015-08-13 15:51] migurski commented on #1146
Hm, that’s frustrating. I’d like this to work in Excel. I wonder if adding a byte-order mark will help—I’ll investigate later on.

[2015-08-13 21:31] #1147 closed

[2015-08-13 22:55] #1145 closed

[2015-08-14 01:10] sbma44 opened #1152 "investigate NSW APIs"
CC-BY licensed, let's see if there's anything here

http://spatialservices.finance.nsw.gov.au/mapping_and_imagery/lpi_web_services

cc @ingalls

[2015-08-14 01:11] sbma44 opened #1153 "investigate South Australia data portal"
they just released a new basemap & claim a bunch of new datasets in June:

https://data.sa.gov.au/

cc @ingalls

[2015-08-14 01:28] iandees commented on #1152
http://maps.six.nsw.gov.au/arcgis/rest/services/public/NSW_Property/MapServer

Looks like parcel-like things with address-like things here.

[2015-08-14 02:06] sbma44 commented on #1152
OpenAddresses' ESRI capabilities are a black box to me, I will have to defer to you guys on this one...

[2015-08-14 15:01] sbma44 commented on #1153
I don't see anything new here -- the Property Location Browser remains the path into this dataset http://maps.sa.gov.au/plb/

Closing for now.

[2015-08-14 15:01] #1153 closed

[2015-08-14 16:22] sbma44 commented on #1121
@kishore-narendran we've looked into this quite a bit. I'd love any leads you might have, but this is a difficult problem for a few reasons:

- Survey of India has a legal monopoly on mapping data
- practical navigation is often landmark based -- e.g. it refers to a nearby shop, park, school or bus stop -- rather than based on numeric addressing

There are doubtless exceptions to both of these iss

[2015-08-14 16:22] #1121 closed

[2015-08-14 17:32] sbma44 opened #1154 "Western Australia"
WA has published its open data policy which is great, including a presumption that resources are open by default: http://www.data.wa.gov.au/open-data-policy

Eventually open data will live at: http://www.data.wa.gov.au/

It promises a future open data portal that currently directs users to SLIP: http://slip.landgate.wa.gov.au/

SLIP includes address info at web service endpoints, but their "open d

[2015-08-14 17:44] sbma44 commented on #1154
Also found this README which implies everything is CC-(something): https://github.com/Landgate/GovHack-2015/blob/master/README.md

I've emailed the author

[2015-08-18 12:53] colemanm commented on #730
:+1:

Never heard back. I'm planning to follow back up with several of the rural FL gov't contacts soon, but haven't had time. Will reopen if there's any motion.

[2015-08-19 03:25] slibby opened #1184 "Weld County, CO - click-thru URL"
Weld County has points on Sharefile:

http://www.co.weld.co.us/Departments/GIS/GISData.html

_which leads to_

https://weldcounty.sharefile.com/share#/download/s605bee99e574342a

_which leads to_

https://storage-usnw-2.sharefile.com/download.ashx?dt=dt4b53216d9b1e45bda6cd94d436611ea3&h=zNYBdwAdXSrvn2Przn9%2b2%2ffQ%2b5SDt%2fry6LcdbPm%2byz8%3d

Wondering if this final link is durable or whether the

[2015-08-19 14:56] ingalls commented on #1184
Hey looks like we were both working on the same thing. I've actually got weld county here:
https://github.com/openaddresses/openaddresses/blob/master/sources/us/co/weld_county.json

In these cases just ask one of the project maintainers to manually upload it to the cache.

[2015-08-19 16:44] ingalls commented on #671
Stale - Feel free to create a new ticket if this is still an issue.

[2015-08-19 16:44] #671 closed

[2015-08-21 14:40] slibby opened #1201 "Tracking completion status by geographic area"
@iandees @migurski @ingalls Is there a good way that the project could track the completion of states/countries now that they're in subfolders? I thought that if there was a "status.txt" file in the Colorado folder for example, it could include a list of all the counties and/or cities and their status (found, successfully imported, unavailable, locked in other system, etc).

Would the machine igno

[2015-08-21 15:17] ingalls commented on #1201
@slibby I'm definitely for avoiding duplicate research. What I personally use for coverage is: https://github.com/ingalls/openaddresses-coverage

It will generate a coverage map that can be opened in qgis allowing one to quickly see what counties/states don't yet have coverage.

[2015-08-21 15:35] slibby commented on #1201
Itneresting, that's cool and definitely works well from a personal perspective -- I guess where I'm coming from is that if the project is looking for community contributions, and the main way to do that is identifying areas that aren't covered by looking at data.openaddresses.io and then comparing to a long list of .json files, that's not super efficient, nor is there any way to tie previous reque

[2015-08-21 16:12] iandees commented on #1201
I agree that there needs to be an easier way to keep track of progress.

Maybe we could build a separate page that shows progress from coverage data in existing sources combined with links to Github issues that track missing sources. There's also [a Google Doc](https://docs.google.com/spreadsheets/d/1HFm0YbFDC5YKkHKFt89EKdhpyaCCIo_CiDFjBNq4PoI/edit) that @NelsonMinar created where we could keep th

[2015-08-25 12:26] slibby commented on #164
Re-contacted 8/24/15

[2015-08-26 18:08] slibby opened #1213 "using sampling on Esri services"
cc: @migurski:

From my reading on how the hooked CI uses machine, when downloading shapefiles and running them through hooked, it samples 6 features from them and uses that to validate the dataset. This is pretty speedy and :+1:

When querying an Esri service, hooked queries ALL features from the service before checking them and then choking on something simple like a field name error, could this

[2015-08-26 18:16] rhaussmann commented on #1111
In most cases, we manually look up the locations and drop pins on the
building (rather than the curb).

On Fri, Jul 31, 2015 at 10:55 AM, Ian Dees <notifications@github.com> wrote:

[2015-08-26 18:43] slibby commented on #1213
closing and moving to /machine instead

[2015-08-26 18:43] #1213 closed

[2015-08-27 01:28] geobrando commented on #284
@wildintellect Check out https://github.com/openaddresses/openaddresses-ops

[2015-08-27 01:46] geobrando commented on #1062
@michaelblyons Not sure what was going on before but I just downloaded the montgomery csv from [ci.openaddresses.io](http://ci.openaddresses.io/) and it contains both cities and postcodes.  Look ok to you?

[2015-08-27 01:56] geobrando commented on #1001
@mmdolbow Looks like the link you posted is stale, but a source with a working data link is currently present. https://github.com/openaddresses/openaddresses/blob/master/sources/us/mn/st_louis.json

But in general, any parcel layer with situs addresses is acceptable.

[2015-08-27 02:03] geobrando commented on #692
Done!

[2015-08-27 04:34] migurski commented on #692
:boom:

[2015-08-27 04:34] #692 closed

[2015-08-28 02:35] sbma44 commented on #1111
If you have rights to the data, I'd certainly be interested in seeing how it could be added to OA. Do you have a sample you can share?

[2015-09-01 22:05] TheDutchMan13 opened #1223 "Glendale Arizona Address Data"
I found this data awhile back. Didn't have a github account to submit it. Now i do. I have no clue what the license is but i'm pretty sure it open.
Here's the link http://gis.glendaleaz.com/gis/

[2015-09-01 22:43] iandees commented on #1223
Thanks for tracking this down! [We've got this source in our list](https://github.com/openaddresses/openaddresses/blob/master/sources/us/az/glendale.json), we just need to add a [conform object](https://github.com/openaddresses/openaddresses/blob/master/CONTRIBUTING.md#conform-object) to it so it'll show up in our data outputs.

[2015-09-01 22:43] #1223 closed

[2015-09-02 05:37] TheDutchMan13 commented on #1223
I apologise for that, had no clue. Uploaded this issue at work from my phone so i wasn't able to check the prior sources beforehand. Thanks for taking care of the issue right away.

[2015-09-02 14:21] iandees commented on #1223
No need to apologize! Thank you for pointing out the data. Keep looking for other data sets :smile:.

[2015-09-03 16:40] geobrando opened #1225 "Add and render US place FIPS codes?"
I've been adding FIPS codes to US Census objects for city and town sources but then after looking at the [`render.render()`](https://github.com/openaddresses/machine/blob/master/openaddr/render.py#L270) I realized that these do not render on the status maps.  So adding them really only has the effect of removing the "incomplete coverage" error message from http://results.openaddresses.io/.

Cities

[2015-09-04 05:16] migurski commented on #1225
I don’t think it should throw an error, but we probably do want to show Census places on the map.

[2015-09-04 12:37] geobrando commented on #1094
Thanks @schnuerle.  Looks like this source has been added.

https://github.com/openaddresses/openaddresses/blob/master/sources/us/ky/jefferson.json

[2015-09-04 12:40] iandees commented on #1094
Thanks!

[2015-09-04 12:40] #1094 closed

[2015-09-04 12:51] geobrando commented on #1027
@iandees Think we removed all of the local Mass sources a while back in favor of a statewide layer. Should we be adding these back?

[2015-09-04 13:29] geobrando commented on #192
Looks like OKC now has an open data portal.  Unfortunately, address data is the only GIS data that lacks a download button and is only visible in-browser or on a map.  Don't recognize the platform and couldn't figure out a way to extract it.  Sent an email to inquire about the data.  If that doesn't work, might have to try the option they provide of submitting an open records request.

https://dat

[2015-09-04 13:34] geobrando commented on #1130
Thanks @james2432.  License looks to be the same but just accessible through two urls.  Your point about the clickthrough is noted and I'm adding a `skip:` tag for now.

[2015-09-04 13:38] geobrando commented on #1085
Thanks @skorasaurus.  If a source has two address fields then it's likely that one is an owner address and one is a situs address.  These will differ for some records, and the owner address might actually be out of state. This sources looks to be one of those. I'm adding it.

Sometimes you'll see a separate "Tax address" (address for the person that's paying the tax bill). I've seen some parcel so

[2015-09-04 14:07] #1062 closed

[2015-09-04 14:07] #911 closed

[2015-09-04 14:08] #862 closed

[2015-09-04 14:35] #284 closed

[2015-09-04 14:38] geobrando commented on #410
Now in sources https://github.com/openaddresses/openaddresses/blob/839fba4480145573ea02b092b4cb49bafac1f964/sources/us/co/archuleta.json

[2015-09-04 14:38] #410 closed

[2015-09-04 14:44] #395 closed, assigned to nobody

[2015-09-04 14:51] geobrando commented on #235
Hey @jamesmbentley.  This is great.  Adding this in #1233

A couple questions

1) Are you still planning to update this regularly?
2) Could you add postcode data?

Pinging you an another issue raised about Philadelphia addresses

[2015-09-04 14:56] geobrando opened #1234 "ca-ns"
http://www.novascotia.ca/snsmr/access/land/land-services-information/ask-data.asp

[2015-09-04 15:04] ingalls commented on #1234
@geobrando I have a long running conversation with several of the people in that department. I've also contacted the premier several times to petition for opening up this data

[code]

Currently waiting on  response to a followup email I sent about the results of the review.

[2015-09-04 15:11] geobrando commented on #660
Not available to general public. Property layer available but VERY expensive.

[2015-09-04 15:15] geobrando commented on #659
Registering only gives access to a god awful Flex map

[2015-09-04 15:17] geobrando commented on #657
May offer addresses under "Other data" but at a price

http://www.co.delaware.pa.us/planning/gisinfoservices/digitalpricelist.pdf

[2015-09-04 15:24] geobrando commented on #651
No data available.  Emailed the GIS coordinator.

[2015-09-04 15:29] iandees commented on #1027
In principal I would love to have data that's as close to the source as possible (in case statewide layers are only updated every couple years or something). But we don't really have a great deduplication plan...

Let's go ahead and add it for now and worry about it later.

[2015-09-04 15:29] geobrando commented on #646
No GIS data. Contacted Direct of Planning Commission.

[2015-09-04 15:31] #826 closed

[2015-09-04 15:38] geobrando commented on #252
Great work @daguar. It's currently in the sources

https://github.com/openaddresses/openaddresses/blob/839fba4480145573ea02b092b4cb49bafac1f964/sources/us/ca/san_mateo_county.json

[2015-09-04 15:38] #252 closed

[2015-09-04 16:08] geobrando commented on #977
@waldoj I don't believe so.  Should be easy enough to incorporate into Machine's [`openaddr.cache()`](https://github.com/openaddresses/machine/blob/f5e97590d89d246657b44ec337696ae2b5d2ce6e/openaddr/cache.py) as [requests-ftp](https://github.com/Lukasa/requests-ftp) implements the `LIST` command which you could combine with some glob/regex pattern specified in the source json if necessary.

But I'm

[2015-09-04 16:10] waldoj commented on #977
Ugggghh. Thanks for checking on that. :-/ Next month, I'm keynoting Virginia's annual conference of county GIS employees—I'll work this into my talk.

[2015-09-04 16:23] geobrando commented on #651
See response from county: https://gist.github.com/geobrando/22cf00420eee2a42ac3a

**Synopsis** - County has no open data policy and does not seem sympathetic to the OA mission.  Dissemination would likely come with a restrictive license anyway

[2015-09-04 16:49] iandees commented on #651
These are the kind of places I would love to FOIA... They have the data but don't want to give it out until they get something in return.

[2015-09-04 16:58] geobrando commented on #651
I responded kindly with a couple examples of potential benefits to the county and their constituents but don't expect anything to come of it.

[2015-09-04 17:26] geobrando commented on #996
When communicating with a county official I was asked to provide further details about a couple of examples I gave for potential benefits and why they should contribute their address data, namely potential crowdsourcing of address updates and improved geocoding/routing.

We should have a simple external roadmap document outlining some of these plans and ideas that is palatable to this audience. Th

[2015-09-04 17:43] iandees commented on #996
Yes, answering those kinds of questions are exactly what I had in mind for this ticket. I haven't done a great job following up though, have I :smile:.

[2015-09-09 19:17] jamesmbentley commented on #235
The [repo](https://github.com/CityOfPhiladelphia/OIT-geodata/tree/master/Open%20Address%20Data) I created is an export of the table @rcheetham mentioned. I can look into scheduling the update process and also adding the zip code data.

[2015-09-09 19:36] #235 closed

[2015-09-09 19:36] #1085 closed

[2015-09-09 19:36] #1130 closed

[2015-09-09 21:10] geobrando commented on #235
Thanks!

[2015-09-11 18:17] #1005 closed

[2015-09-11 18:24] geobrando commented on #1005
Hey @mmdolbow

Took me a while but I figured it out.  Not sure what client you were using but it shouldn't have worked with POST (which is what cache.py is using to request the data).   Your source was HTTP but should have been HTTPS. The Esri server returned a 303 code and redirected to HTTPS.  When redirecting a POST, most clients are supposed to change to a GET.  So what was being returned was

[2015-09-11 18:46] mmdolbow commented on #1005
Sweet, thanks for the follow-up! I'm glad you figured it out.

[2015-09-13 12:34] #488 closed

[2015-09-14 15:15] geobrando commented on #230
City names now being captured

[2015-09-14 15:15] #230 closed

[2015-09-14 15:20] #837 closed

[2015-09-14 16:27] cquest commented on #837
It looks like BANO has been replaced by the less open version of BAN a month ago (https://github.com/openaddresses/openaddresses/commit/2bd51162fad20b7a665f2fa5a21589ea4f2c052a)

[2015-09-16 09:38] sbma44 commented on #837
Yes @cquest, this was a decision that was made by the project's core contributors. I made the strongest case I could for keeping the dataset free of ODbL but ultimately my argument did not carry the day. However, @migurski has been doing great work laying the foundation for per-license OA downloads, which should minimize the impact of this change.

[2015-09-16 16:41] cquest commented on #837
Free from ODbL but fine with **less** open than ODbL content ? Strange...

[2015-09-17 01:03] sbma44 commented on #837
@cquest the decision was to collect any license that plausible allows reuse under open term and to index them appropriately, rather than making judgments about which open licenses are the most desirable. As I said, I prefer to stake out a stronger position.

[2015-09-17 15:36] aaronlidman opened #1250 "California parcels"
http://egis3.lacounty.gov/dataportal/2015/09/11/california-statewide-parcel-boundaries/

![collection_2112-14-791x1024](https://cloud.githubusercontent.com/assets/58878/9937810/4d147eec-5d30-11e5-96eb-4f204b2dd7f8.png)

Highlights:
- [GeoDB download](http://egis3.lacounty.gov/dataportal/wp-content/uploads/ShapefilePackages/Parcels_CA_2014.zip)
- Parcel boundaries for 51 (out of 58) counties in the

[2015-09-17 15:42] migurski commented on #1250
Wow, nice one.

[2015-09-17 15:44] migurski commented on #1250
I see some coverage above and beyond what [we’ve currently got](http://results.openaddresses.io/sets/18859/):

<img width="250" alt="ca" src="https://cloud.githubusercontent.com/assets/58730/9938028/28b6a114-5d18-11e5-926f-8015dc6c5157.png">

[2015-09-17 15:45] iandees commented on #1250
I think we've looked at this dataset before and it doesn't include anything beyond the parcel number. We can definitely use it for our upcoming parcel boundaries dataset, but I don't think there are any usable addresses.

[2015-09-18 08:17] cquest commented on #837
Some more details...

The "BAN" is available under 2 licences, ODbL and a specific (less open) one. OpenStreetMap France is in charge of publishing the ODbL version.

The one currently appearing here is the second one. Maybe nobody understood the french (only) text of this specific license and its much stronger share-alike terms compared to ODbL..

FYI, I've been in charge of negociating the licen

[2015-09-18 08:33] sbma44 commented on #837
Tagging @migurski again, as he's the one who handled this. FWIW I would like to bring in the more-open resources that make up these datasets separately -- specifically FANTOIR -- and keep the ODbL sources limited to the few cities that are employing that license specifically and tainting the larger dataset.

[2015-09-18 08:59] gatemezing commented on #837
@cquest Good point re the license terms in FR. Could it be possible to add a copy of the license in ENG? I guess this could be useful for other users as well? OK, not pretending ENG is he "universal languqge", but at least we can reach out more users than the-only-FRench version. WDYT?

[2015-09-18 12:38] geobrando commented on #586
Address data appears to no longer be available. Only streets and zoning layers present.

[2015-09-18 12:47] geobrando commented on #482
Address text layer is CAD data without full addresses

[2015-09-18 13:00] geobrando commented on #451
No city data.  Volusia County data currently [in dataset](https://github.com/openaddresses/openaddresses/blob/0b82da51590d4a99911716ba1fb37da1db145687/sources/us/fl/volusia.json).

[2015-09-18 13:00] #451 closed

[2015-09-18 13:05] cquest commented on #837
FANTOIR does not contain addresses, nor geographic data. It is only a list of all street and locality names in France.

There is no english version of the BAN specific (non ODbL) licence. The strong "share-alike" is article 4.1 which says something like "licensee will provide an electronic copy of any enriched data back to the licensor every 3 months". There are other problems like: you are not al

[2015-09-18 13:39] #38 closed

[2015-09-18 13:39] #445 closed

[2015-09-18 13:39] #469 closed

[2015-09-18 13:39] #636 closed

[2015-09-18 13:39] #644 closed

[2015-09-18 16:44] migurski commented on #837
I have read and re-read this a few times, and I still don’t understand which version of the data has which license.

[2015-09-19 00:46] rodowi commented on #852
Hey @sbma44 I can help you contact INEGI to avoid writing a scraper, life is too short

[2015-09-19 00:47] rodowi commented on #852
By the way, a smaller but useful dataset is the full list of postal codes that the Postal Service just published today: http://busca.datos.gob.mx/#/conjuntos/ubicacion-de-codigos-postales-en-mexico

[2015-09-19 10:07] cquest commented on #837
The data you can download after filling a form on adresse.data.gouv.fr is provided with a specific licence.

The data you can download (with a direct link) at http://bano.openstreetmap.fr/BAN_odbl/ is under ODbL.
The difference in the content is:
- 2 fields removed in the ODbL version
- cleaning of street names in the ODbL version
- 2 fields added to relink with the FANTOIR dataset where possible

[2015-09-19 17:45] NelsonMinar commented on #837
We're still where we were last year when we discussed this in #236; OpenAddresses currently can't accept ODbL licensed data. We've had discussions about creating a special ODbL-only collection so as to not have to license the rest of our data under ODbL, but so far that work has not been done.

Do we have a copy of the license for the data we are currently getting from http://adresse.data.gouv.fr/

[2015-09-19 17:52] NelsonMinar commented on #837
I found the BAN license; it's at https://adresse.data.gouv.fr/static/pdf/BAN%20Licence%20de%20repartage.pdf

I ran it through Google translate to get rough english: https://gist.github.com/NelsonMinar/b149c59188cc8e75f26e

The Clause 4.1 that @cquest says is a problem translates like this:

That does sound like a share-alike license. OpenAddresses itself could comply with this easily enough, and m

[2015-09-19 19:15] migurski commented on #837
That sounds like share-alike to me as well. I think we’re effectively doing this already, and we should mark the downloads as SA.

[2015-09-20 16:30] cquest commented on #837
So, it looks to me like you're blindly accepting a license you don't understand in favor of the ODbL that you do understand but don't like ? Is this some primary anti ODbL thinking or what ?

[2015-09-20 17:40] iandees commented on #837
@cquest It sounds like both of these licenses have share-alike provisions and thus for our purposes are equivalent. OpenAddresses would prefer to only accept more liberal licenses, and we are writing code to segment data by license so that share-alike data can be released in a separate dataset.

[2015-09-21 01:46] sbma44 commented on #837
Thanks for the clarification, @cquest. I'm disappointed to learn that FANTOIR is not a complete cadastral dataset, as my research had led me to believe.

FWIW, here is a list of sources from within the BANO project. The ones that are License Ouverte should probably be separate sources within OpenAddresses. I have promised to look at Mexico's data first, but will turn to this next.

[2015-09-21 05:45] cquest commented on #837
BANO scripts could output a non ODbL dataset made of cadastre extracted data + non ODbL opendata.
We just did not work on this (days are only 24 hours long in France too) as we have no problem with ODbL and because this would create a smaller dataset and a full one is much more usefull in the case of addresses.

[2015-09-21 05:50] sbma44 commented on #837
Interesting. I will take a closer look at getting BANO running, with a goal of segmenting the dataset within OpenAddresses.

[2015-09-21 06:17] sbma44 commented on #852
Thanks @rodowi! This is good stuff. I have already scraped INEGI months ago, but I didn't actually convert the points into an OA datasource -- I need to do that. A more definitive source would be welcome, though, as I had to guess which of the agency's many shapefiles were the correct ones to use.

Having a look at DENUE too, thanks for the pointer!

[2015-09-21 06:27] cquest commented on #837
I doubt you can easily run BANO scripts as you'll have to scrap 1M+ PDF files from the cadastre web site, which takes a couple of weeks...

[2015-09-21 06:28] sbma44 commented on #837
That should be fine. Is the limit the cadastre webserver? Does BANO cache these anywhere?

[2015-09-21 16:24] cquest commented on #837
Yes, BANO caches the PDF files to avoid hitting the cadastre server too hard too often.

[2015-09-22 14:39] sbma44 commented on #837
Got it, what I meant was: does BANO make those files available for download?

For now I will begin the collection. Am I correct in assuming that commenting out this line disables ODbL datasources?

https://github.com/osm-fr/bano/blob/38383ca020d042d6123aad633db701243261f61a/update-all.sh#L5

[2015-09-23 08:02] cquest commented on #837
BANO does not make the PDF files available for download for several reasons:
- we are not allowed to provide a full copy of the cadastre data, only allowed to reuse PARTS of the cadastre data in a COMPOSITE database
- the way these files are stored makes sense only to BANO scripts

If you really want to test BANO scripts and need access to these files, I can arrange that.

Commenting this single l

[2015-09-23 18:56] slibby opened #1300 "[WIP] Colorado County Status"
An attempt at tracking status for a state:

| County | County seat | Status | Comments |
| --- | --- | --- | --- |
| Adams County | Brighton | :+1: | http://www.adcogov.org/index.aspx?NID=793 |
| Alamosa County | Alamosa |  | several services available here but no SITUS addresses: http://services1.arcgis.com/zH7gQ37AKcpvTX6d/ArcGIS/rest/services |
| Arapahoe County | Littleton | :+1: |  |
| Archul

[2015-09-23 19:41] sbma44 commented on #852
PR over here for the DENUE data: https://github.com/openaddresses/openaddresses/pull/1298

[2015-09-25 03:48] slibby opened #1306 "Indiana Statewide"
Available as REST service here: http://maps.indiana.edu/arcgis/rest/services/Infrastructure/Streets_Address_Points_IDHS/MapServer/0
3,191,230 points reported, probably too many to scrape with machine.

file GDB available in current source json:http://maps.indiana.edu/download/Infrastructure/Streets_Address_Points_IDHS.zip

caching doesn't support filegdb (yet).

[2015-09-25 04:11] slibby opened #1308 "Douglas County, Nebraska"
http://gis.dogis.org/arcgis/rest/services/OpenData_layers/MapServer/34

Posting for reference, I'll get to it eventually.

[2015-09-25 04:12] slibby opened #1309 "Bermuda"
Would this fall under sources/uk/bermuda.json?
http://www.arcgis.com/home/item.html?id=218b6315a903439c99761fd7f85396e4

[2015-09-25 04:16] slibby opened #1310 "Kodiak Island Borough, AK"
http://www.arcgis.com/home/item.html?id=f829e1f3642c4222a807ae5b5b8d46e5

[2015-09-25 04:23] ingalls commented on #1306
@slibby want to add the REST endpoint as a source anyway? There are talks about changing how the timeout works with ESRI values so it would be good to have this ready to test out.

[2015-09-25 04:30] slibby commented on #1306
Will do.

Sent from my mobile phone.

On Sep 24, 2015, at 10:23 PM, Nick <notifications@github.com<mailto:notifications@github.com>> wrote:

@slibby<https://github.com/slibby> want to add the REST endpoint as a source anyway? There are talks about changing how the timeout works with ESRI values so it would be good to have this ready to test out.

—
Reply to this email directly or view it on GitHub

[2015-09-25 14:27] geobrando commented on #1309
Since Bermuda has its own ISO 3166-1-alpha-2 I would say it would go under sources/bm/statewide.json or sources/bm/nationwide.json

[2015-09-25 14:34] slibby commented on #1309
@geobrando Sounds good, I'll do that when I add it.

[2015-09-28 03:34] slibby commented on #1310
Closed by https://github.com/openaddresses/openaddresses/pull/1307

[2015-09-28 03:34] #1310 closed

[2015-09-28 03:34] slibby commented on #1309
closed by https://github.com/openaddresses/openaddresses/pull/1318

[2015-09-28 03:34] #1309 closed

[2015-09-28 03:47] slibby opened #1320 "Louisiana Services [WIP]"
Many listed here: http://services.geoportalmaps.com/arcgis/rest/services

[2015-09-28 15:34] geobrando commented on #898
See my comments in #1262

[2015-09-28 22:17] slibby commented on #1025
This is now added: https://github.com/openaddresses/openaddresses/pull/1276

[2015-09-30 00:53] #193 closed

[2015-10-01 05:01] mapmeld opened #1328 "Boston, MA"
Hey, I just noticed you were missing Boston. They have their data in ArcGIS Server, and release parcel data, but when I worked there we were reluctant to publish addresses because it changes often & we didn't want to run a public geocoder. I think OpenAddresses is a good alternative.

@mlevans @nsjacob @CurtSavoie is this data open, like parcels are?

Here's a sample query into SAM
http://maps.cit

[2015-10-01 18:44] slibby opened #1330 "To-Add: Florence, IT"
http://datigis.comune.fi.it/shp/civici.zip

website: http://www.datiopen.it/it/opendata/Comune_di_Firenze_Civici

[2015-10-01 19:06] slibby opened #1331 "To-Add: Geneva, CH"
http://ge.ch/extractionws/results/open_data/16D44620-64A0-49B6-A15A-7462F976422A/SHP_CAD_ADRESSE.zip

website: http://ge.ch/sitg/sitg_catalog/sitg_donnees?keyword=adresse&topic=tous&datatype=tous&service=tous&distribution=tous&sort=auto&submit=+

ISO-3166-2: CH-GE

[2015-10-02 03:29] slibby commented on #1331
https://github.com/openaddresses/openaddresses/pull/1333

[2015-10-02 03:39] slibby commented on #1330
addressed by https://github.com/openaddresses/openaddresses/pull/1334

[2015-10-04 18:27] migurski opened #1338 "Document new license dictionary support in sources"
Second task for https://github.com/openaddresses/openaddresses-ops/issues/7: document new dictionary syntax for licenses.

[2015-10-04 20:11] #1338 closed

[2015-10-05 14:00] #1330 closed

[2015-10-07 11:59] Firefishy opened #1340 "New Dataset: Cape Town - South Africa"
https://web1.capetown.gov.za/web1/OpenDataPortal/DatasetDetail?DatasetName=Street%20addresses

[2015-10-07 19:13] slibby commented on #1340
Is there any comparison to https://github.com/openaddresses/openaddresses/blob/master/sources/za/wc/cape_town.json ?

[2015-10-07 21:53] Firefishy commented on #1340
Ah! Already exists.

[2015-10-07 21:53] #1340 closed

[2015-10-09 02:13] migurski opened #1343 "Document new attribution tag support"
Third task for https://github.com/openaddresses/openaddresses-ops/issues/7: document new attribution tags in license dictionaries.

[2015-10-09 13:41] #1343 closed

[2015-10-09 15:07] jamesmbentley commented on #235
@geobrando @iandees the csv of Philadelphia's [address data](https://github.com/CityOfPhiladelphia/OIT-geodata/tree/master/Open%20Address%20Data) was updated this morning and the zipcode field was added. I'm still working on the automated update and pull request process. I'll update the readme later this afternoon.

[2015-10-09 15:09] iandees commented on #235
@jamesmbentley As long as the URL stays consistent we'll keep downloading the updated version. You don't need to submit pull requests to us every time. Thanks for making it available!

[2015-10-09 15:30] geobrando commented on #235
@iandees
Was there a PR somewhere?  @jamesmbentley was just referencing this issue in his commit and then letting us know, as I asked if he could output postcode in the CSV that they host in their repo.  He's also working on a process to automate the updates from the source data.

Looks like he's doing a bit of filtering from the source data.  Wondering if a parcel id number if present, if that sh

[2015-10-09 15:33] migurski opened #1347 "Update tests to reflect new work on license tag"
We are missing tests to reflect changes introduced in recent pull requests:

* https://github.com/openaddresses/openaddresses/pull/1339 - new license dictionary syntax.
* https://github.com/openaddresses/openaddresses/pull/1344 - new license attribution properties.

[2015-10-09 16:18] iandees commented on #235
There was not a PR to update the source file to include postcode. We chatted yesterday at JS.Geo and I didn't understand that he was adding new fields.

[2015-10-09 16:38] geobrando commented on #235
Got it.  Postcode has now been added.

[2015-10-09 18:41] #1347 closed

[2015-10-15 18:28] jalbertbowden opened #1352 "State Law Preventing Free Distribution of Parcel Data?"
Louisville's CfA Brigade Captain recently said "KY state law either prevents the free distribution of property parcel data, or explicitly requires it to be sold."

I'm going to do some research, but I figured perhaps this was the best place to ask first.
Does anyone know if this is true?
Has anyone run into something similar? Where?

Thanks!
Cheers.
Albert

[2015-10-15 18:42] jalbertbowden commented on #1352
I want to say that since Lexington is serving it up it is not a law....
http://data.lexingtonky.gov/dataset/parcel

[2015-10-16 17:17] migurski commented on #1352
That sounds reasonable to me, wonder what @eeeschwartz might know about this.

[2015-10-20 16:54] #1331 closed

[2015-10-20 16:55] #1025 closed

[2015-10-20 17:01] slibby commented on #218
Can be closed, this is covered by https://github.com/openaddresses/openaddresses/blob/master/sources/us/ok/acog-counties.json

[2015-10-20 17:07] slibby commented on #192
@geobrando did you ever hear back from OKC? This same area is covered by the data from https://github.com/openaddresses/openaddresses/blob/master/sources/us/ok/acog-counties.json but there are definitely slight differences when I compare both datasets on a map.

[2015-10-20 17:27] geobrando commented on #192
@slibby I did not.  Just sent a follow up email. Thanks.

[2015-10-20 17:27] #218 closed

[2015-10-20 17:29] ingalls commented on #218
Hey I don't see any data here so closing is :+1: just wanted to post a reminder that we definitely want overlapping data if it is from different providers.

[2015-10-20 17:37] geobrando commented on #218
agreed @ingalls.  Definitely closed because there was no data available.

[2015-10-20 17:41] slibby commented on #953
@colemanm I think this can be closed now, I added the ArcGIS Server service behind the map here: https://github.com/openaddresses/openaddresses/pull/1358

[2015-10-20 21:35] geobrando commented on #192
Received a response that I would need to make a public records request for that data., and was given a link. I will see what that entails.

[2015-10-20 21:56] geobrando opened #1360 "GA sources with incorrect usage of regex"
As pointed out in https://github.com/openaddresses/machine/issues/237, some of the new GA sources were split using full address fields creating error.

@ingalls

[2015-10-21 01:16] geobrando commented on #192
http://www.okc.gov/clerk/OpenRecordsRequest/Forms/SubmitOpenRecordsRequest.aspx

[2015-10-21 14:04] #953 closed

[2015-10-21 17:32] eeeschwartz commented on #1352
I'm not actually sure how all of the legalities shake out unfortunately.

[2015-10-21 20:15] Pazoles commented on #1352
Louisville’s LOJIC (GIS Consortium) website explicitly points to this as the legal basis for their fee: http://www.lojic.org/main/products/pdfs/krs61.pdf

[2015-10-21 21:07] jalbertbowden commented on #1352
seems like if anything, this is local and not state law.
thanks for that

[2015-10-22 17:03] geobrando commented on #156
Data are coincident with existing data from [Chicago](https://github.com/openaddresses/openaddresses/blob/ea93bbc2b758008b83308621fd1a84e446505d66/sources/us/il/city_of_chicago.json) and [Cook County](https://github.com/openaddresses/openaddresses/blob/ea93bbc2b758008b83308621fd1a84e446505d66/sources/us/il/cook.json). Might be worth adding, but only avaiable as a csv with spatial reference system

[2015-10-22 17:03] #156 closed

[2015-10-22 19:26] jalbertbowden commented on #1352
@Pazoles actually i take that back, it looks statewide. however the state has a more current document
http://www.lrc.ky.gov/lrcpubs/openmtgsrecords.pdf
need to do a diff to find differences, but offhand, wondering why they're using an outdated document.
or am i missing something?

[2015-10-22 20:28] slibby commented on #878
This is covered by https://github.com/openaddresses/openaddresses/blob/master/sources/za/wc/cape_town.json and can be closed

[2015-10-22 20:38] slibby commented on #726
I believe this can be closed due to https://github.com/openaddresses/openaddresses/blob/master/sources/us/md/statewide.json

[2015-10-22 21:27] #878 closed

[2015-10-22 21:34] slibby commented on #281
I think this issue can be closed as the data has been successfully integrated here: https://github.com/openaddresses/openaddresses/blob/master/sources/us/ny/statewide.json

[2015-10-23 12:13] #726 closed

[2015-10-23 16:28] iandees commented on #816
I think this is covered by https://github.com/openaddresses/openaddresses/pull/827 and https://github.com/openaddresses/openaddresses/pull/830, so I'm closing.

[2015-10-23 16:28] #816 closed

[2015-10-23 17:18] geobrando commented on #237
Property layer no longer available.

Address data available for a fee http://www.cityofmidlandmi.gov/647/Purchasing-GIS-Data

[2015-10-23 17:26] iandees commented on #237
$1500 for address points or $3000 for parcels. I don't see any agreement that prevents us from distributing it after buying it, either.

[2015-10-23 18:08] geobrando commented on #297
Despite the issue title, link referenced is for Wayne County, Ohio which is currently a [source](https://github.com/openaddresses/openaddresses/blob/5320313940f9282d0e39cf8c36ce1494e2405102/sources/us/oh/wayne.json)

[2015-10-23 18:09] iandees commented on #297
Closin'!

[2015-10-23 18:09] #297 closed

[2015-10-23 18:46] colemanm commented on #953
Awesome!

[2015-10-23 18:49] slibby commented on #1201
Discussion is stale, closing.

[2015-10-23 18:49] #1201 closed

[2015-10-23 19:08] slibby commented on #1306
closed by https://github.com/openaddresses/openaddresses/issues/1364

[2015-10-23 19:08] #1306 closed

[2015-10-23 19:09] slibby commented on #430
This can be closed, addressed with: https://github.com/openaddresses/openaddresses/blob/master/sources/us/co/rio_blanco_county.json

[2015-10-23 19:15] #349 closed

[2015-10-23 19:15] slibby commented on #415
This has been added and can be closed.

[2015-10-23 19:16] #430 closed

[2015-10-23 19:16] slibby commented on #412
This has been added and can be closed

[2015-10-23 19:16] #415 closed

[2015-10-23 19:18] slibby commented on #411
Unfortunately the county doesn't have address data published. I've reached out to them at gisinfo@bouldercounty.org to ask if they have more info.

[2015-10-23 19:21] geobrando commented on #412
@slibby If these are equivalent we should change to the shapefile

[2015-10-23 19:24] slibby commented on #412
@geobrando 37,000 features in the REST service, 23,300 in the shapefile download. My vote would be for the REST service in this case.

[2015-10-23 19:27] geobrando commented on #412
Ahh..  So not the same data.  Could still be added for the sake of redundancy. Wonder what the difference is

[2015-10-23 19:28] #412 closed

[2015-10-23 19:28] slibby commented on #431
Their FTP is pitifully slow, we were able to scrape a REST Service here: https://github.com/openaddresses/openaddresses/blob/master/sources/us/co/routt_county.json

[2015-10-23 19:29] slibby commented on #426
Address Points in REST Service > Parcels in this case:
https://github.com/openaddresses/openaddresses/blob/master/sources/us/co/montrose_county.json

[2015-10-23 19:32] #1001 closed

[2015-10-23 19:34] slibby commented on #425
This should be switched from the current source (old ArcGIS Server) to the shapefile here: ftp://206.123.215.195/GIS/Addresses.zip

[2015-10-23 19:47] #426 closed

[2015-10-23 19:50] slibby commented on #1328
@mapmeld it looks like that service doesn't exist or is secured.

Would one of these work?
http://maps.cityofboston.gov/ArcGIS/rest/services/Basemaps/basemap_LAGAN/MapServer/6
http://maps.cityofboston.gov/ArcGIS/rest/services/Basemaps/basemap_LAGAN/MapServer/7
http://maps.cityofboston.gov/ArcGIS/rest/services/SAM/DYNAMIC_ADDRESSES/MapServer/0

Any idea on which is the best/most up-to-date to use?

[2015-10-23 19:54] slibby commented on #420
Shapefile and current GIS Service have same number of records (parcels).

@geobrando you mentioned on another issue that shapefile > Esri REST Service if they are the same data - is that something to stick to?

[2015-10-23 20:11] slibby commented on #164
No response - seems like we need to find someone at UNH with some connections there.

[2015-10-24 19:00] geobrando commented on #420
@slibby That's what the consensus seems to be.

https://github.com/openaddresses/openaddresses/issues/889#issuecomment-73934214
https://github.com/openaddresses/openaddresses/pull/336#issuecomment-52409211

[2015-10-24 19:10] iandees commented on #420
The thinking is that a file download of a shapefile is less time consuming
on our side and less work for the server in the other end, too.

[2015-10-26 14:48] slibby commented on #942
Contributed here: https://github.com/openaddresses/openaddresses/pull/1371

[2015-10-26 16:19] #942 closed

[2015-10-26 16:28] slibby commented on #925
This issue can be closed. The source still needs a conform object with a regex to extract the Street Name, but that "issue" is already captured in each /results run.

[2015-10-26 16:30] slibby commented on #677
I reached out to the Ketchikan Gateway Bureau GIS alias on October 20, 2015 - no reply yet.

[2015-10-26 16:32] slibby commented on #447
Should be closed based on https://github.com/openaddresses/openaddresses/pull/1368

[2015-10-26 16:34] slibby commented on #448
@jalbertbowden I was unable to find any address/parcel address data through the page this links to (ends up at an ArcGIS Open Data site). However, I think this can be closed as we already have the Delaware counties tracked and sourced: https://github.com/openaddresses/openaddresses/tree/master/sources/us/de

[2015-10-26 16:35] slibby commented on #428
@ingalls have you reached out to Ouray recently? I can do so but didn't want to duplicate. I'll see if we can get a shapefile version of that .kmz.

[2015-10-26 16:47] #447 closed

[2015-10-26 16:51] ingalls commented on #428
@slibby no I haven't reached out recently, feel free to go for it.

[2015-10-30 02:07] geobrando opened #1376 "To be cached"
- [ ] [ca/on/york_region ](https://github.com/openaddresses/openaddresses/blob/master/sources/ca/on/york_region.json) - Current cached file is not a valid zip file.  Replace with [this one](https://www.dropbox.com/s/pfb6bcjfivpqkyr/ca-on-york_region.zip?dl=1) and remove skip tag
- [ ] [ca/bc/vernon](https://github.com/openaddresses/openaddresses/blob/master/sources/ca/bc/vernon.json) - Old url not

[2015-10-30 13:44] #1027 closed

[2015-10-30 13:44] #777 closed

[2015-10-30 13:46] #586 closed

[2015-10-30 14:04] geobrando commented on #576
Contains ~45 separate parcel shapefiles for cities/towns/villages in Orange County with account creation/login required for download (no addresses).

[2015-10-30 14:11] #925 closed

[2015-10-30 14:16] geobrando commented on #877
Hey @nyampire.  Do you know how this differs from the [current Osaka source](https://github.com/openaddresses/openaddresses/blob/984589b4b3002c92b8e9e56ca73c611c9f1f778b/sources/jp/osaka.json)?

[2015-10-30 14:19] geobrando commented on #871
tirol added [here]( https://github.com/openaddresses/openaddresses/blob/c56fb97441e22c0a7f182aecc48be7a1bcf0a2af/sources/at/tirol.json)

[2015-10-30 14:19] #871 closed

[2015-10-30 14:28] #689 closed

[2015-10-30 14:32] #635 closed

[2015-10-30 14:32] #633 closed

[2015-10-30 14:34] geobrando commented on #609
Geocortex map

[2015-10-30 14:34] #603 closed

[2015-10-30 14:34] #600 closed

[2015-10-30 14:36] geobrando commented on #515
Added

https://github.com/openaddresses/openaddresses/blob/master/sources/us/mt/statewide.json

[2015-10-30 14:36] #515 closed

[2015-10-30 14:36] iandees commented on #609
These Ruekert Mielke map services have a fairly consistent way of retrieving an ArcGIS REST token. I might hack my local copy of machine to support it and cache the resulting data in S3.

[2015-10-30 14:41] geobrando commented on #514
Confirmed. Contains only Greene county which has been added.

[2015-10-30 14:41] #514 closed

[2015-10-30 14:48] geobrando commented on #492
Seems to contain address data from some counties, but terms explicitly prohibit dissemination when obtained from this site.  Since Iowa seems to be fairly well represented, I'm closing this.

[2015-10-30 14:48] #492 closed

[2015-10-30 14:51] nyampire commented on #877
My understanding.
current Osaka source is from Ichi Sansho Joho.
Those indicate the delegation points of "block number" (similar to street name) polygon.
So not include the data of house number points.

This data set include real dump of "house number".

[2015-10-30 15:00] geobrando commented on #418
Only static maps. Could be contacted about data availability.

[2015-10-30 15:18] geobrando commented on #877
OK. So is the current JSON that has `number` and `street` fields incorrect?

[2015-10-30 16:41] geobrando commented on #877
@nyampire Looks like these were added by @sbma44 [here](https://github.com/openaddresses/openaddresses/pull/707)

[2015-10-30 17:52] sbma44 commented on #877
yeah, the old source is a nationwide block-level source from MLIT. address-level data is a very desirable supplement, though you will need both to build a decent japanese geocoder.

[2015-11-02 00:06] migurski opened #1380 "Add "unit" to accepted conform tags"
@iandees: “This will be things like apartment number, unit number, etc.”

Context: https://github.com/openaddresses/machine/issues/232

[2015-11-04 04:32] orangejulius opened #1389 "Add parcel data for Kent County (home of Grand Rapids, MI)"
Kent County has shapefiles of parcel data for every city in the county, including Grand Rapids.

They're available at https://www.accesskent.com/GISLibrary/#Parcels&Streets

I'll probably try to get to it some time in the next few days, unless someone else really wants to do it :)

[2015-11-04 05:30] orangejulius opened #1390 "Add parcel data for Macomb County, Michigan"
homepage: https://gis.macombgov.org/portal1/home/
probable ArcGis layer: http://gis.macombgov.org/arcgis1/rest/services/Hosted/SAW_Parcels/FeatureServer/0

[2015-11-05 22:33] justb4 opened #1400 "The Netherlands - suggestion for resource"
I see that the addresses CSV for The Netherlands is lacking several fields like Postal codes, City, Province, WGS84 coordinates,  etc. I scanned several issues on this subject: #93, #233 and #800.

From what I noticed is the NodeJS script https://github.com/openaddresses/openaddresses/blob/master/scripts/nl/nl-data.js that parses the raw address-data provided by the Dutch government (Kadaster, PDO

[2015-11-05 23:13] sbma44 commented on #1400
This sounds like an excellent suggestion, @justb4 -- thank you for taking the time to dig into the problem. Replacing the existing NL source sounds like a good idea.

At a glance, it looks like the NLExtract output produces a monthly CSV. I suspect that building a conform object to point to one of these would be fairly simple (though I am unsure if we presently support gzip). Do you feel comfortab

[2015-11-05 23:27] migurski commented on #1400
Also unsure about gzip support, since this is a content-type and not HTTP content-encoding. We do support .zip, so I think it would be an easy addition. May be tricky to handle dates in the names; there’s some significant overlap with https://github.com/openaddresses/machine/issues/206.

[2015-11-05 23:45] sbma44 commented on #1400
flexibility in URL construction would be very powerful but I'm not actually sure of the best way to support it (even having read that ticket)

[2015-11-05 23:54] migurski commented on #1400
Yeah, it’s complex. I’m thinking to slowly build up a catalog of date structures in URLs, and have the fetcher check dates in turn. Medium-crazy.

[2015-11-06 17:14] slibby opened #1405 "Thompson Nicola Regional District, BC"
To be added: http://tnrdmap.tnrd.ca/arcgis/rest/services/Basemap_Detail_Cache/MapServer/3

[2015-11-06 17:49] perrygeo opened #1406 "regions without official street addresses"
_Not an actionable ticket, just a theoretical question that will be important as this database grows past the developed world_

I am currently living in Grenada in the Caribbean. We don't have postal codes or street addresses - the postal service doesn't deliver so there has never been a need for it. At best people refer to the their residence by street name, informal neighborhood name, parish and

[2015-11-08 01:19] migurski commented on #1406
In theory, the "number" would be the place for the extra information. This is how I might represent such an address in OpenAddresses output:

[code]

[2015-11-08 16:57] justb4 commented on #1400
Thanks for all the replies. We also strive to make automatic downloads easier for our users. We already had a symlink to  the latest PostGIS dump. Now I have added that as well to the CSV. The link is
http://data.nlextract.nl/bag/csv/bag-adressen-laatst.csv.zip. Also replaced .gz compression with .zip as that is more common anyway. So that is at least a start.

The structure of the CSV is straight

[2015-11-09 22:57] migurski opened #1407 "Document new share-alike tag support"
Sixth task for openaddresses/openaddresses-ops#7: document new share-alike tags in license dictionaries, and add values for a few known-SA licenses.

[2015-11-10 02:50] slibby commented on #1405
Closed by https://github.com/openaddresses/openaddresses/pull/1409

[2015-11-10 02:50] #1405 closed

[2015-11-10 02:50] slibby commented on #1390
Can be closed - this is addressed (har) by https://github.com/openaddresses/openaddresses/pull/1409

[2015-11-10 02:50] slibby commented on #1308
Closed by https://github.com/openaddresses/openaddresses/pull/1409

[2015-11-10 02:50] #1308 closed

[2015-11-10 02:50] #1390 closed

[2015-11-10 02:58] slibby commented on #910
I reviewed their statewide service when looking at the county-wide services and was unable to find any statewide addresses or parcels with address info. There are only three counties in DE and I think we have decent to good coverage for each from county-specific sources aleady. I suggest this issue be closed unless a good statewide source is available.

[2015-11-10 03:04] #910 closed

[2015-11-10 03:14] slibby commented on #314
Closed by https://github.com/openaddresses/openaddresses/pull/1410

[2015-11-10 03:16] slibby commented on #411
I got a response from the County with directions on how to join their owner/addresses CSV with their parcel boundaries. I tried once and wasn't able to get it to work but will try again.

[2015-11-10 03:17] slibby commented on #393
Data has been added here: https://github.com/openaddresses/openaddresses/blob/master/sources/us/ak/fairbanks_north_star_borough.json -- I believe this can be closed.

[2015-11-10 03:19] #393 closed

[2015-11-10 03:31] slibby commented on #316
closed by https://github.com/openaddresses/openaddresses/pull/1411

[2015-11-10 03:34] slibby commented on #171
This dataset has been added and I believe the can be closed: https://github.com/openaddresses/openaddresses/blob/master/sources/is/countrywide.json

[2015-11-10 03:35] slibby commented on #164
Found a statewide layer and added it - this can be closed.

[2015-11-10 03:39] #316 closed

[2015-11-10 03:40] #171 closed

[2015-11-10 03:40] #164 closed

[2015-11-10 03:47] slibby commented on #1389
This service should work (found from map viewer): http://gis.kentcountymi.gov/prodarcgis/rest/services/External/MapServer/6

[2015-11-10 04:18] #448 closed

[2015-11-10 14:13] #314 closed

[2015-11-10 16:43] orangejulius commented on #1389
Nice. There's also http://gis.kentcountymi.gov/prodarcgis/rest/services/External/MapServer/5 which has parcel geometry as well as address info

[2015-11-10 21:06] #1389 closed

[2015-11-11 00:20] #1407 closed

[2015-11-11 18:06] geobrando commented on #1376
@iandees Could you cache these files for me?

[2015-11-12 15:24] slibby commented on #986
@bentley did you ever get any response from the County Assessor?

[2015-11-12 15:32] slibby commented on #659
Parcel map service is here: http://gis.co.fulton.pa.us/arcgis/rest/services/WebToolMap/MapServer/6

[2015-11-12 15:58] bentley commented on #986
No.

[2015-11-13 21:38] orangejulius opened #1456 "Abbreviation expansion is expanding the streetname "La Avenida" into "Lane Avenida"?"
This was found in pelias looking at [1065 La Avenida, Mountain View, Santa Clara County, California, 94043](http://pelias.github.io/compare/#/v1/search%3Fsize=2&sources=oa&text=1065%20La%20Avenida,%20Mountain%20View,%20Santa%20Clara%20County,%20California,%2094043), which wasn't appearing correctly.

The relevant OA data shows Lane Avenida as well:
[code]

I dug into the actual Santa Clara county

[2015-11-14 19:29] migurski commented on #1456
Yes, and it’s probably wrong to do so. Linking to this discussion for completeness: https://github.com/openaddresses/machine/issues/32

[2015-11-17 03:39] ljbade opened #1457 "Update Tasmania info"
The information on Tasmania should be updated to reflect that it is now possible to easily download all the address points for Tasmania from http://listdata.thelist.tas.gov.au/opendata/index.html#LIST_Address_Points

It is broken up by council boundaries into separate files.

/cc @sbma44

[2015-11-17 03:50] ljbade opened #1458 "Update Queensland info"
The Queensland data is now available from https://data.qld.gov.au/dataset/property-address-queensland--data-package

Still requires an email flow, but is listed again as CC-BY

[2015-11-17 03:51] ljbade commented on #1458
/cc @sbma44

[2015-11-17 05:08] ljbade commented on #1458
Working on a PR. Will upload a new cache of October 2015 data.

A few corrections:
- updated licence field to new format
- ensure the street number post-fix is joined
- add city/district fields

A number of addresses I am not sure how we handle:
- place name instead of number + street, e.g. name of a farm (uses separate column)
- unit numbers, e.g. apartments, 12/33 blah street (unit in separate c

[2015-11-17 05:14] ljbade commented on #1458
I also emailed the department that looks after this data to see if they have a better description then the one included in the metadata page. It is missing a number of codes etc. Even if we don't use them we should at least attach to this issue for future reference.

[2015-11-17 05:25] ljbade commented on #1458
@sbma44 When using COLUMNx for the field name, does it start count at 0 or 1?

[2015-11-17 05:31] ljbade commented on #1458
Hmm, not sure how to upload a new cache file.

[2015-11-17 05:53] ljbade commented on #1457
Working on a PR. Not sure how to get this to update data now it is split by council area.

A few corrections:
- updated licence field to new format
- ensure the street number post-fix is joined
- add city/district/postcode/state fields
- ensure the street suffix is joined, eg "SOMEWHERE" "ST" "EAST" (only a few roads have these)
- id

A number of addresses I am not sure how we handle:
- place name

[2015-11-17 05:56] ljbade commented on #1457
Exactly how one can use the new data with our system is not clear as it is split into multiple files by council area.

A cache file will still likely be needed which combines the shape files into a single file.

[2015-11-17 13:52] iandees commented on #1457
The easiest thing to start with is probably to give each council file its own source in OpenAddresses.

[2015-11-17 15:16] sbma44 commented on #1458
@ljbade I can give you a hand uploading the new cache file

[2015-11-23 13:43] #281 closed

[2015-11-23 13:45] slibby commented on #405
tracked here: https://github.com/openaddresses/openaddresses/blob/master/sources/us/az/city_of_glendale.json

[2015-11-23 13:45] #405 closed

[2015-11-23 13:46] slibby commented on #331
tracked at: https://github.com/openaddresses/openaddresses/blob/master/sources/us/va/isle_of_wight.json

[2015-11-23 13:46] #331 closed

[2015-11-23 13:47] slibby commented on #326
Tracked at: https://github.com/openaddresses/openaddresses/blob/master/sources/us/wi/la_crosse.json

[2015-11-23 13:47] #326 closed

[2015-11-23 13:47] slibby commented on #329
added and tracked here: https://github.com/openaddresses/openaddresses/blob/master/sources/us/wi/walworth.json

[2015-11-23 13:47] #329 closed

[2015-11-23 13:48] slibby commented on #324
added and tracked here: https://github.com/openaddresses/openaddresses/blob/master/sources/us/wi/green_lake.json

[2015-11-23 13:48] #324 closed

[2015-11-23 13:48] slibby commented on #321
added and tracked here: https://github.com/openaddresses/openaddresses/blob/master/sources/us/wi/bayfield.json

[2015-11-23 13:48] #321 closed

[2015-11-23 13:51] slibby commented on #659
tracked and added here: https://github.com/openaddresses/openaddresses/blob/master/sources/us/pa/fulton.json

[2015-11-23 13:51] #659 closed

[2015-11-23 13:52] slibby commented on #609
Layer found here: https://maps.ags.ruekert-mielke.com/ags/rest/services/KewauneeCo/KewauneeCoFeature/FeatureServer/2

And tracked here: https://github.com/openaddresses/openaddresses/blob/master/sources/us/wi/kewaunee.json

[2015-11-23 13:52] #609 closed

[2015-11-23 14:07] #431 closed

[2015-11-23 14:08] slibby commented on #421
Added and tracked here: https://github.com/openaddresses/openaddresses/blob/master/sources/us/co/grand.json

[2015-11-23 14:08] #421 closed

[2015-11-23 14:54] slibby commented on #417
Parcel data only available as paid source: http://adm.elpasoco.com/InformationTechnologies/GeographicInformationSystems/Pages/LicensedDataCatalog.aspx

[2015-11-23 14:56] slibby commented on #852
@sbma44 can this be closed? It looks like you got all the available sources added.

[2015-11-23 14:59] slibby commented on #413
added and tracked here: https://github.com/openaddresses/openaddresses/blob/master/sources/us/co/pueblo.json

[2015-11-23 14:59] #413 closed

[2015-11-23 20:15] sbma44 commented on #852
yep!

[2015-11-23 20:15] #852 closed

[2015-11-30 21:25] slibby commented on #675
updated URL: http://www.fairview-industries.com/USParcelData/USParcelData.html

[2015-12-02 16:41] waldoj opened #1466 "Add unmaintained statewide Wisconsin data?"
[The state of Wisconsin published a statewide dataset in 2013](http://www.sco.wisc.edu/find-data/addresses.html):

([Direct link to the data, a 674 MB ZIP file](http://psc.wi.gov/utilityInfo/tele/broadband/documents/LinkWISCONSIN_EBM_ParcelAddress_Data.zip).) Given its age and lack of updates, should this be included in OpenAddresses?

[2015-12-02 16:43] iandees commented on #1466
Interesting that they released this… I asked the maintainer if we could have it and they said no as recently as last year. It's definitely worthy of getting added to OpenAddresses, I think.

[2015-12-02 16:47] waldoj commented on #1466
Great, I'll file a pull request. Thanks!

[2015-12-02 16:47] #1466 closed

[2015-12-07 05:09] wboykinm opened #1470 "Australia's G-NAF (national) file"
Per [this excellent news](https://blog.data.gov.au/news-media/blog/geocoded-national-address-data-be-made-openly-available), every address geocode in Australia will become available in pipe-delimited format come February 2016. In the meantime it might be worthwhile to spec the data using samples [available from resellers](http://web.pb.com/datasample-gnafaus/?utm_source=pbs&utm_medium=mapinfodotco

[2015-12-07 05:51] CloCkWeRX commented on #1470
OpenStreetMap asked and received explicit permission - see wiki.openstreetmap.org/wiki/Attribution/data.gov.au_explicit_permission

Its likely to be licenced under CC-BY-3.0-AU or better, given AusGOAL (see https://wiki.creativecommons.org/wiki/Government_use_of_Creative_Commons#Australia  )

[2015-12-07 05:55] CloCkWeRX commented on #1470
I think that multiple address sources simply add to the value. The specific sources listed in that ticket are likely more available at a different refresh rate; this is probably going to be updated quarterly.

AFAIK There was discussion for "GNAF Live" incremental updates somewhere; but that's a lot of effort for small changes / probably wouldn't be opened up just yet.

GNAF is basically assembled

[2015-12-07 06:03] wboykinm commented on #1470
:+1:

[2015-12-07 20:52] slibby commented on #1400
@justb4 PR opened here with your suggestions: https://github.com/openaddresses/openaddresses/pull/1471

[2015-12-08 06:50] porjo commented on #1458
http://results.openaddresses.io/ is showing the following error in the log output (instead of 'Show Sample Data' button)
[code]

[2015-12-08 16:24] sbma44 commented on #1458
@porjo Australia has announced that it'll be releasing a nationwide dataset in February that will supersede this one; I think we should consider `au-*` deprecated until that arrives.

[2015-12-08 16:24] #1458 closed

[2015-12-10 22:02] dthgeek opened #1473 "Isn't it a problem that HERE North America LLC holds a copyright over the zip code data in the New York statewide addresses"
The [source](http://gis.ny.gov/gisdata/inventories/details.cfm?DSID=921) for us/ny/statewide states that "In the Address Points–SAM file, the ZipCode and ZipName attribute data is copyrighted by HERE North America LLC 2013 and licensed to the New York State Office of Information Technology Services. Please refer to the Metadata for more information." and the metadata for  Address Points - SAM - St

[2015-12-10 22:30] slibby commented on #1473
On my reading that means that the ZipCode attribute should be removed from the scraping effort, but the address points themselves are not restricted.

[2015-12-17 02:18] dthgeek commented on #1473
Thank you for responding and sorry about the delay.
Was the ZipeCode attribute from HERE removed and replaced using TIGER data? Also why is the rest of the data from New York Sate it unrestricted?

[2015-12-21 22:59] slibby commented on #1400
@justb4 The processing was quite slow, so I ended up reducing file size by removing these fields:
- object_id
- object_type
- nevenadres
- x
- y

Then uploading the file to dropbox and pulling it from there. Will keep working on another solution that processes more quickly.

[2015-12-21 23:37] slibby opened #1477 "Sardegna, IT"
Made some progress but a bit stumped now.

File: http://webgis.regione.sardegna.it/scaricocartografia/DBMPzip/Strato%2003%20-%20Indirizzi/strato03.zip

From: http://www.sardegnageoportale.it/index.php?xsl=1598&s=291551&v=2&c=8831&t=1

Shapefile ST03TE01CL06PTS.shp, joined with tables ST03TE01CL01 and ST03TE01CL02: https://www.dropbox.com/s/5r0sbz42jpw0l6o/sardegna_joined_addresses.zip?dl=0

I am a

[2015-12-22 20:45] justb4 commented on #1400
@slibby thanks for pulling this forward! Yes, strictly, for international addresses you won't need the fields you removed.

[2015-12-23 05:39] migurski commented on #1380
With https://github.com/openaddresses/machine/issues/232 closed and machine 2.9.0 released, we can add this to documentation.

[2015-12-23 15:01] michaelblyons commented on #1146
I did some (similarly frustrating) encoding for Excel in python once. My recollection is that Excel wanted `cp1252`, _not_ `utf8`:

[code]

[2015-12-23 15:17] #1400 closed

[2015-12-23 15:51] slibby commented on #1380
How's this look: https://github.com/openaddresses/openaddresses/pull/1481

[2015-12-23 16:03] slibby commented on #425
closed via https://github.com/openaddresses/openaddresses/pull/1460

[2015-12-23 16:03] #425 closed

[2015-12-23 16:04] slibby commented on #420
closed via https://github.com/openaddresses/openaddresses/pull/1461

[2015-12-23 16:04] #420 closed

[2015-12-23 16:38] slibby opened #1483 "Fix Montana County Parcel downloads"
It looks like Montana changed their FTP server, the new folders are here ftp://ftp.geoinfo.msl.mt.gov/Data/Spatial/MSDI/Cadastral/Parcels/

I think every MT county will need an update.

[2015-12-23 20:33] migurski commented on #1380
Oops, "unit" needs to be present in the unit tests as well. I always forget this step.

[2015-12-23 20:37] #1380 closed

[2015-12-23 21:06] #1483 closed

[2015-12-25 03:17] iandees commented on #1473
We removed the postcode from the output. Thanks for pointing this out.

[2015-12-25 03:17] #1473 closed

[2015-12-30 22:12] #249 closed

[2015-12-30 22:12] #292 closed

[2015-12-30 22:18] slibby commented on #951
Found a Map Service backing their interactive map:
http://arcgis4.roktech.net/arcgis/rest/services/santarosa/GoMaps/MapServer/

Parcels have no Addresses (address attributes are for owner's location): http://arcgis4.roktech.net/arcgis/rest/services/santarosa/GoMaps/MapServer/23

Structures might work, and have addresses: http://arcgis4.roktech.net/arcgis/rest/services/santarosa/GoMaps/MapServer/15

[2015-12-31 02:10] waldoj commented on #249
Yay! (I live in Albemarle.) Thanks!

[2015-12-31 20:29] stephenkhess opened #1499 "Unit types in addition to unit numbers"
With the inclusion of the `unit` field to conforms, is the expectation that unit types can be included when available?  For example, `/us/pa/lancaster.json` has the fields `UNITTYPE` and `UNITNUM`.  `UNITTYPE` has the possible values:

* UNIT
* APT
* LOT
* SUITE
* BLDG

Other sources combine type and number into a single field, so the data may already be "Apt 3" or "BLDG B".  It may be useful to c

[2015-12-31 21:47] stephenkhess commented on #1499
Cleared this up with Ian Dees, closing.

[2015-12-31 21:47] #1499 closed

[2016-01-01 22:47] iandees commented on #1499
For the record, the resolution here is that we do want to have unit type be part of the `unit` column, so when required concatenate the type and id fields if they're split apart.

[2016-01-04 20:57] riordan opened #1507 "Canada/New Brunswick doesn't have complete fields"
Bit of an epistemological question:

We have province-wide data for [New Brunswick](https://github.com/openaddresses/openaddresses/blob/7358ca0629bee0308d056f141d1adcc54b476abf/sources/ca/nb.json) (yay!), but it doesn't have things like the complete street name.

The field `STREET_NAM` is the name of the street, but doesn't have the type. Meanwhile the fields like `ST_TYPE_CD` and `STREET_DIR` nec

[2016-01-04 21:09] iandees commented on #1507
Step 1: Bash them over the head with their normalization. :smile:
Step 2: Download the files and do some work on your own machine to build the CSV as you want it.
Step 3: Add code or description for how you made the file to https://github.com/openaddresses/openaddresses/tree/master/scripts
Step 4: Send me the CSV/Shapefile/etc. and we can get it hosted on S3 (or you can create a separate Github re

[2016-01-04 21:38] slibby commented on #1507
`d_ST_TYPE_` works for street name (type) in the interim, but you're right that street_dir is not sufficient in the SHP

[2016-01-05 14:38] riordan opened #1511 "ca/ab/thompson-nicola-regional-district needs Units [fails fetching from ESRI server]"
As identified in the conversation for #1506, this particular ESRI server is failing when requesting `outFields=ParentId`.

As such this is not being included in adding `unit` fields for Alberta + British Columbia (#1506).

[2016-01-09 19:57] slibby opened #1515 "Support Constants for County/State/Region/Etc."
It would be good if we could support adding a value in the `conform` that lets you specify a static City, State, Region, etc, when one is not available in the source. Especially for City data, they generally include number, name, even postcode, but rarely include City Name or State Name or County.

What if in a `conform`, if any value is "_abcdef_" or "_abcdef_" or "CONSTANT:abcdef" -- then that v

[2016-01-09 20:07] migurski commented on #1515
Could be an [attribute function](https://github.com/openaddresses/openaddresses/blob/master/CONTRIBUTING.md#attribute-functions), perhaps?

[code]

[2016-01-10 20:54] blutz3 opened #1517 "Add address data from the City of Vienna"
Hello,

the addresses of the City of Vienna are available as Open Data as csv-file, here you find the metadata: https://www.data.gv.at/katalog/dataset/1d5c2411-9719-4c8f-b99d-57a5f4a4ae41 and here the file: http://www.wien.gv.at/wohnen/baupolizei/csv/gebadr.csv

The licence is CC BY 3.0 AT

Please could you add the addresses to openaddresses.io.

Kind regards from Vienna
Brigitte Lutz

Ing. Brigit

[2016-01-11 16:06] slibby commented on #1517
Is there information about what projection the address coordinates are in? And which field is correct to use?

![image](https://cloud.githubusercontent.com/assets/1691225/12238685/86fa46b0-b842-11e5-840a-899d0cf0cc1d.png)

[2016-01-11 17:00] tyrasd commented on #1517
I'd assume that `GEB_X/Y` stands for the building (*Gebäude*) while `ZUG_X/Y` would be the entrance (*Zugang*). Coordinate system is very likely `EPSG:31256`. The top-right coordinate of the screenshot would then be at http://osm.org/go/0JrJCtk1W?m= which looks reasonable.

[2016-01-11 23:52] slibby commented on #1517
Closed by https://github.com/openaddresses/openaddresses/issues/1521

[2016-01-11 23:52] #1517 closed

[2016-01-12 18:55] orangejulius opened #1523 "Many US Cities have numbered streets with leading zeros"
Some cities in the US have streetnames with leading zeros on numbered streets, for example `05th Avenue` instead of `5th Avenue`. It's [relatively simple](https://github.com/pelias/openaddresses/pull/26/files) to clean up these specific cases, so ideally it is done across OA at import time or better yet at the individual data source level. There are a total of 52239 records with this type of error

[2016-01-12 21:19] slibby commented on #1523
Just adding confirmation that it's in the source: http://map.co.clear-creek.co.us/arcgis2/rest/services/ClearCreek/address/MapServer/1/2412

[2016-01-13 19:21] slibby commented on #162
I downloaded the KML, converted it and added it back to dropbox: https://www.dropbox.com/s/vvk3u7o58r5b5bo/Saskatoon_Parcel_Addresses.zip?dl=1

[2016-01-13 19:24] slibby commented on #291
REST service for parcels here: http://gisweb.charlottesville.org/arcgis/rest/services/Layers/MapServer/1

[2016-01-13 19:29] slibby commented on #234
Parcel layer available via REST here: http://maps.co.monmouth.nj.us/maps/rest/services/PublicData/Parcels/MapServer/0

[2016-01-13 19:41] slibby commented on #306
WFS export to Shapefile for Address Points is:
http://chamaps.com/geoserver/covington/wfs?LAYERS=covington%3AAddressPts&Service=WFS&Request=GetFeature&outputFormat=Shape-Zip&TypeName=covington%3AAddressPts

[2016-01-15 15:30] slibby opened #1527 "us/tn/shelby"
Shelby County Data: https://services6.arcgis.com/FStub7HlCSCdqoXK/arcgis/rest/services/OpenData/FeatureServer/0

website: http://opendata.arcgis.com/datasets/1a8c342a997f4be09fa1c67d9f700ee0_0

[2016-01-19 14:45] iandees opened #1533 "City of Perrysburg, Ohio"
ESRI endpoint:
http://maps.ci.perrysburg.oh.us/arcgis/rest/services/Planning_Zoning/Address_Points/MapServer/0

[2016-01-19 18:51] iandees opened #1534 "Town of Erie, CO"
http://eags.erieco.gov/arcgis/rest/services/AddressPts/MapServer/0

[2016-01-21 18:11] iandees opened #1535 "City of Abilene, TX"
https://gis.abilenetx.com/arcgis/rest/services/Address_Points/MapServer/0

[2016-01-21 18:23] iandees opened #1536 "City of Temecula, CA"
http://gis.cityoftemecula.org/arcgis/rest/services/OpenData/OpenData/FeatureServer/2

[2016-01-21 19:16] iandees opened #1537 "Allegheny county, PA"
We already have a shapefile source, but here's an ESRI source to use (that might be more up to date):

http://geodata.alleghenycounty.us/arcgis/rest/services/OPENDATA/Addresses/MapServer/0

[2016-01-21 19:36] iandees opened #1538 "City of Johns Creek, GA"
https://services1.arcgis.com/bqfNVPUK3HOnCFmA/arcgis/rest/services/Address_Points/FeatureServer/0

[2016-01-21 19:39] iandees opened #1539 "City of Bellevue, WA"
http://gisweb.bellevuewa.gov/cobgis/rest/services/eGov/Geology/MapServer/0

[2016-01-21 19:41] iandees opened #1540 "Alachua county, FL"
We have a shapefile source, but this ESRI endpoint looks like it has more columns:

https://services.arcgis.com/cNo3jpluyt69V8Ek/arcgis/rest/services/AddressPoints/FeatureServer/0

[2016-01-28 20:24] iandees opened #1544 "City of New Orleans, LA"
http://gis.nola.gov:6080/arcgis/rest/services/Staging/addresses_reverse_ETL/MapServer/0

[2016-01-31 23:43] eruci opened #1545 "Estonia, Poland, Slovakia missing street names"
The files countrywide.csv have no data on the street address and number column:
Region and District are there though.
eg:
LON,LAT,NUMBER,STREET,UNIT,CITY,DISTRICT,REGION,POSTCODE,ID
25.4839856,58.7401887,,,,"Türi vald,Tännassilma küla,",Türi vald,Järva maakond,,
25.4836293,58.7403252,,,,"Türi vald,Tännassilma küla,",Türi vald,Järva maakond,,
25.4839193,58.7403572,,,,"Türi vald,Tännassilma küla,",T

[2016-02-01 19:55] randy7771026 opened #1546 "US TX Houston has a lot of zeros in address number field. Data should be with Harris County Clerk or Tax Assessor collector. Someone is working on getting the data."

[2016-02-03 08:03] ingalls commented on #1507
@iandees @slibby @riordan Being a native New Brunswicker I know several people that work at Service NB (The agency that produces the file). Before we go the route of custom scripts I'm going to send a quick note pointing to this ticket and see what their thoughts are.

Service NB has been absolutely incredible in the past at working with me at improving/taking suggestions about their data offering

[2016-02-03 23:06] slibby commented on #1507
sounds good :+1: plus really happy to know the term `New Brunswicker` now

[2016-02-05 16:13] berniejconnors commented on #1507
@iandees is correct.  You really need to download the CSV files and use all of the code tables to de-normalize the data to get a complete street address.

In the Street_types code table there is a "DISPLAY_BEFORE" column that indicates if the street type should be displayed before the street name (1) or after the street name (2).
![street_types](https://cloud.githubusercontent.com/assets/13241302/

[2016-02-06 15:19] joao commented on #170
@ingalls @sbma44

Saw this ticket in 2014, did some research back then and no resource was available. I thought I had commented but noticed today I didn't, sorry.
Going to share the research I did, as there was no progress made in the meantime in Portugal and this might serve as future reference for anyone looking on how to get the data.

The only public dataset that comes even closer to what is n

[2016-02-06 17:41] sbma44 commented on #170
This is a shame, but I really appreciate the info, @joao -- it's really useful to have and will probably be helpful in the future.

[2016-02-08 14:26] ingalls commented on #1507
@berniejconnors thanks for weighing in here! Do you mind asking to have this data included in the shapefile? I think it would make our job (and likely other data consumers) much easier when it comes to processing the data.

[2016-02-08 16:36] ajturner commented on #1328
This is the recommended service - http://gis.cityofboston.gov/arcgis/rest/services/SAM/Live_SAM_Address/MapServer/0

Metadata http://bostonopendata.boston.opendata.arcgis.com/datasets/b6bffcace320448d96bb84eabb8a075f_0

[2016-02-08 16:51] iandees commented on #1328
D'oh I forgot to close this ticket in https://github.com/openaddresses/openaddresses/pull/1549.

[2016-02-08 16:51] #1328 closed

[2016-02-08 21:20] eruci opened #1551 "Mixup in column values for various western US states"
eg, yuma.csv in Arizona
LON,LAT,NUMBER,STREET,UNIT,CITY,DISTRICT,REGION,POSTCODE,ID
-114.4425414,32.6561177,11189,East 39th Lane,,YUMA,,,,
-114.4194517,32.6810469,10302,South Del Rey Drive,,YUMA,,,,

STREET=11189
UNIT=East 39th Lane

Same problem on many csv files in California, Oregon, Washington

[2016-02-08 21:21] #1551 closed

[2016-02-08 22:10] migurski commented on #1551
The UNIT column was added fairly recently, so you’re probably looking at a run that was generated some time ago.

[2016-02-09 02:26] eruci commented on #1551
Yep. I closed the issue soon after noticing that.

[2016-02-11 18:35] eruci opened #1552 "Formating of Nebraska Addresses is non standard"
For example:
cuming.csv:-96.5718865,42.0099466,617,"Vine St, Bancroft, Northeast 68004",,,,,,

[2016-02-13 17:56] wknowles opened #1554 "Possible source of UK open address data"
A possible source of data for the UK could be [Open Addresses UK](https://alpha.openaddressesuk.org/). There is a [data download page](https://alpha.openaddressesuk.org/developers/apis-and-data) along with an API (in alpha).

Coverage appears to be of the entire  UK.

The project is now on hibernation and is possibly incomplete but might be useful.

I have checked previous issues and can see no me

[2016-02-13 18:15] iandees commented on #1554
Thanks for the pointer. Last I checked, the OpenAddresses UK project doesn't associate any geographic coordinates with the collected addresses, so it won't be very useful for this project.

[2016-02-13 18:39] wknowles commented on #1554
D'oh! Sorry about that!

[2016-02-13 18:39] #1554 closed

[2016-02-16 17:38] mmdolbow opened #1556 "Aitkin Alt in MN download is actually Adair County Iowa"
Hello, I recently downloaded the midwest bundle, and extracted the MN folder. It looks like the CSV labeled as "aitkin_alt" is actually addresses for Adair County, IA. No big deal, thought someone should know.

[2016-02-17 15:26] #1556 closed

[2016-02-17 18:17] slibby commented on #1406
Just reviewing issues and came across this. It's an interesting discussion, I think the UPU/International opinion would be "most things need actual number addresses eventually" for various service delivery needs but I can see a lot of cases where that's overkill/unnecessary. @perrygeo what do you know about the current state of digital cadastre and/or building footprint mapping in Grenada? Those t

[2016-02-17 19:04] perrygeo commented on #1406
I'm not sure about digital cadastre but I strongly suspect not. Most government operations here that I've dealt with (customs, visa, vehicle registration, insurance, etc.) are paper-based.

Many of the roads don't even have names, let alone house numbers. There is no mail or parcel delivery service (it's a small island, everyone travels to their local post office to pick up mail) so presumably not

[2016-02-18 15:26] mmdolbow opened #1564 "Regex for Scott County PostalCode not working"
It appears that the regex for Scott County, MN is resulting in the city name for the PostalCode. That's how it came through in my recent download, anyway.

[2016-02-19 00:46] turtles2 opened #1567 "Data For Sherburne County MN"
The ZIP files can be accessed here ftp://www.co.sherburne.mn.us/GISData/ but you need Username: publicworksGuest and Password: p@cc3sss

I have attached a twp zip files of address points and parcels but a whole collection of geo data is available

[parcels.zip](https://github.com/openaddresses/openaddresses/files/137243/parcels.zip)

[AddressPoints.zip](https://github.com/openaddresses/openaddress

[2016-02-19 03:28] #1567 closed

[2016-02-21 00:29] #1564 closed

[2016-02-21 02:50] #1533 closed

[2016-02-21 02:50] #1534 closed

[2016-02-21 02:50] #1539 closed

[2016-02-21 02:50] #1540 closed

[2016-02-21 02:50] #1544 closed

[2016-02-24 08:54] vesameskanen opened #1573 "Support for several language versions of addresses"
Are there any plans for how to handle different language versions of addresses in an optimal way? Currently I could not find any recommendations or guidelines about this.  I noticed that  sometimes the same data has been linked with multiple conform objects (‘be/wa/brussels-fr’ and ‘be/wa/brussels-nl’).

From the application perspective, it would be best if language versions are somehow bind toget

[2016-02-24 15:12] migurski commented on #1573
Hi @vesameskanen, great question. Our output format is designed to be fairly simple, but we do include an `ID` column that can be used to indicate identical points. In the Belgium example, matching IDs would show how the address points correspond between data sets.

[2016-02-24 16:22] sbma44 commented on #1470
Checked in on this -- as of 2/22, they're still working on the release: https://blog.data.gov.au/news-media/blog/update-open-g-naf-and-administrative-boundaries-datasets

[2016-02-25 06:50] aaronpdennis opened #1574 "Pennsylvania Counties"
Found a datasource from 2007 for many of the missing Pennsylvania counties, seen below.

<img width="1030" alt="screen shot 2016-02-25 at 1 31 30 am" src="https://cloud.githubusercontent.com/assets/8019997/13311839/c214df2c-db5f-11e5-9d56-d524f7f780bd.png">

I'd like to add these address points to OpenAddresses, and I'm eager to put together the JSON source, but could use some guidance.

Is the co

[2016-02-25 07:25] vesameskanen commented on #1573
Hello @migurski - thanks for the quick reply. ID matching indeed seems to provide a way to combine addresses. Anyway, it seems to me that a new official processing tag (or maybe  an attribute tag for multi-language files), which specifies the ISO 639-1 language code, would be very useful here. That would allow systematic handling of languages; properties of addresses with an identical id could the

[2016-02-25 16:21] migurski commented on #1574
If it's possible to split this into counties, I think that might be better.

[2016-02-25 16:22] migurski commented on #1573
That’s a great point about language code. What other examples exist for this? Cyprus, I imagine?

[2016-02-25 18:14] aaronpdennis commented on #1574
I'll break the FileGDB down into CSV files based on county, leaving out those counties that already have a more up to date source in OpenAddresses (like the counties publishing to an ESRI endpoint), and then put those CSV data files in a GitHub repo, then create source files for them in OpenAddresses.

This datasource was a onetime project the state GIS office undertook in 2009, so I don't expect

[2016-02-25 18:41] vesameskanen commented on #1573
https://en.wikipedia.org/wiki/List_of_multilingual_countries_and_regions

[2016-02-26 03:04] maxious commented on #1470
Checked in again today and it is now available! https://data.gov.au/dataset/geocoded-national-address-file-g-naf

[2016-02-26 14:22] iandees commented on #1470
This schema is pretty darn complicated. Does anyone have time to look through the docs and join the tables together into something we can more easily use?

[2016-02-26 15:14] sbma44 commented on #1470
I'm going to try to block out some time today. @ingalls turned up this repo, which might provide some helpful guidance: https://github.com/minus34/gnaf-loader

[2016-02-27 01:19] mtkc commented on #1107
Hello from Slovenia with some explanations and updates!

##### Explanations

The data that you found is a database of [cadastral municipalities](https://en.wikipedia.org/wiki/Cadastral_community) (sl. *katastrske občine*), which are administrative subdivisions of cadastre database, each subdivision being approx. 7 km^2 in size. This data is not useful for OpenAddresses project, since it does not c

[2016-02-27 14:12] jidanni opened #1575 "New users cannot sign in with github"
New users cannot "sign in with github". One is simply redirected to what URI-decodes as:

http://openaddresses.io/login/index.html#error=invalid_credentials&error_message=Redirect URL "http://openaddresses.io/login/index.html" must match "http://openaddresses.io/contribute.html". Register your app credentials by visiting https//auth-server.herokuapp.com&state={"client_id":"4b8d48289d4d2d36833d","n

[2016-02-27 15:08] sbma44 commented on #1107
Wow! What wonderful news. This would be an incredibly valuable update even if it didn't include the revelation that this data is going open. Thanks very much for posting about it here.

[2016-02-27 22:12] migurski commented on #1575
Hello @jidanni, I'm sorry you are experiencing this error! Can I help you accomplish your goal in some other way? The login system that you're experiencing an error with is something we've been moving away from in favor of direct Github interactions, and the problem you're seeing is a great nudge for us to completely switch away.

[2016-02-28 00:26] jidanni opened #1576 ""Download the collection .csv" link wording scary"
On https://openaddresses.io/ one sees the button "Download the collection .csv" which in my mind means "Click this button to start downloading a .CSV file containing perhaps all the addresses in the world right to your browser!"

So users fear clicking it lest one giant file come sloshing down the line.

So please reword it.

[2016-02-28 00:31] jidanni commented on #1575
Well imagine if nobody could login to Facebook.
I'd say fix this first lest people doubt your site is "for real".

[2016-02-28 02:13] migurski commented on #1575
We’ve gone ahead and removed the login feature for now, as of https://github.com/openaddresses/openaddresses.io/pull/63. The _Submit a Dataset_ button now links to the contribution guide which will do for the time being, but we will need to improve that ASAP (https://github.com/openaddresses/openaddresses.io/issues/64).

[2016-02-28 02:13] #1575 closed

[2016-02-28 04:07] migurski commented on #1576
Do you have a suggestion? What you describe is pretty much what happens.

[2016-02-28 12:47] iandees commented on #1576
In https://github.com/openaddresses/openaddresses.io/pull/63 I changed the button text to `View download options` because the link takes you to results.openaddresses.io, not to a CSV download directly.

[2016-02-28 17:12] migurski commented on #1576
@jidanni, is that a sufficient change? Looks like:

<img width="969" alt="screen shot 2016-02-28 at 9 12 27 am" src="https://cloud.githubusercontent.com/assets/58730/13380557/65783c52-ddfb-11e5-83cc-33b4a6a0eb53.png">

[2016-02-28 22:01] jidanni commented on #1576
Yes!

[2016-02-28 22:07] migurski commented on #1576
Great, thanks for your suggestions Dan!

[2016-02-28 22:07] #1576 closed

[2016-02-29 01:05] jidanni opened #1577 "Mention if individual users are welcome to submit their individual addresses"
On
https://github.com/openaddresses/openaddresses/blob/master/CONTRIBUTING.md
please answer the new FAQ: "I am just a simple person who wants to put my house into this openaddresses thing. Here's my address and my coordinates. Where is the online form where I can type them in and hit Submit. I can't even tell if you accept entries from the little guy with just his own address."

[2016-02-29 18:10] migurski commented on #1577
We don’t actually accept such entries! Your best bet for a single address is OpenStreetMap. OA’s project focus is on authoritative (typically government) sources. We’re thinking about what it might look like to accept corrections, and how our upstream sources might want to hear about those.

[2016-02-29 18:11] iandees commented on #1577
Some context on this request: OpenAddressesUK had/has a form on their page that accepted addresses and addresses and locations from users. Because of the name similarity there might be some overlap there.

[2016-02-29 18:12] iandees commented on #1577
(I don't know if that's the case with @jidanni here. I don't mean to put words in your mouth!)

[2016-02-29 23:16] jidanni commented on #1577
All I am saying is "Mention if individual users are welcome to submit their individual addresses",
best right there on https://github.com/openaddresses/openaddresses/blob/master/CONTRIBUTING.md
which is where users land after clicking the link below "Help contribute. Grow OpenAddresses by contributing data from any place in the world." on the Homepage.

Just mention what you mention above in this

[2016-02-29 23:18] jidanni commented on #1577
I.e. the answer is "No". Make sure they can find this answer easily. And yes, tell why like you do above too.

[2016-02-29 23:39] migurski commented on #1577
Thanks Dan!

[2016-02-29 23:47] #1577 closed

[2016-03-01 09:51] minus34 commented on #1470
iandees - what Maxious said :-)  [gnaf-loader](https://github.com/minus34/gnaf-loader) flattens the tables into a ready-to-use schema of 9 tables

[2016-03-01 20:41] sbma44 commented on #1470
I haven't had a chance to dig in here beyond reading some docs, but would point folks toward Appendix A/page 33 of the documentation: https://www.scribd.com/doc/301507363/G-NAF-Product-Description

This table shows the joins necessary to produce a product compatible with other addressing standards. I think it's probably a good starting point for extracting the fields OA needs.

Unfortunately, I do

[2016-03-02 08:38] tomhughes commented on #1470
This probably doesn't matter for openaddresses but it should be noted that although the headline license is CC-BY-SA there are addition restrictions that mean it isn't technically open according to most definitions, namely:

* No use for generating addresses for the sending of mail unless you have verified them against a second source
* End users must only use the data in ways that are consistent

[2016-03-02 15:17] wboykinm commented on #1470
@tomhughes The first one is a pretty standard "Do Not Call/Mail" list verification requirement - it's for vendors making contact regardless of data source, so the legal burden/liability is on that end user (the vendor). This _already_ applies to any use of openaddresses in the direct mail context where such national laws are in place.

[2016-03-03 20:13] aaronpdennis commented on #1574
I've processed out individual counties and identified the 18 counties in this dataset that could be valuable to OpenAddresses in this repo: https://github.com/aaronpdennis/pa-county-addresses

[2016-03-04 04:50] waldoj opened #1587 "Detect and aggregate parcel data within the OA ingestion process"
A fair number of OpenAddress' data sources include parcel data, but we're not doing anything with this data. We just extract the coordinates and the address. We should put parcel data to work to work, providing output in the form of open parcel data in parallel to open address data.

What this probably looks like is examining [the state.txt output](http://results.openaddresses.io/state.txt) to fin

[2016-03-04 19:13] NelsonMinar commented on #1587
As for implementation, I'm in favor of a system where the Python machine code also emits polygons when processing source input. At a high level, the idea is that the same code that downloads sources and emits address CSV can also emit parcel shapefiles. At a low level, I'd start by looking at [ogr_source_to_csv](https://github.com/openaddresses/machine/blob/master/openaddr/conform.py#L511) and con

[2016-03-04 20:46] migurski commented on #1587
I think we’re covered on polygons included in the Machine code. They can be found in the cached data for each source!

For input, I have a weak preference for using the existing source files and extending them with additional columns. We can expand the supported attributes if need be.

[2016-03-05 00:30] stoneyv commented on #1587
I examined the cache files for some entries in the state.txt ouput that was referenced by @waldoj  I found lat, long coordinates for address parcels, but I did not see any polygon data.  I looked at the .shp file with qgis and a head of the import for .dbf files
ar/ba/buenos_aires.json
us/ca/alameda.json
us/or/portland_metro.json

[2016-03-05 00:46] migurski commented on #1587
Check out the `geometry type` header in state.txt, and look at us/ca/berkeley: it has polygons.

[2016-03-05 01:00] stoneyv commented on #1587
OK, state.txt entries with field 'geometry type' equals Polygon have parcel polygon data.  I happened to pick examples that had a type of 'Point'.

[2016-03-05 03:39] stoneyv commented on #1587
I was reading the contributing document to learn how you should extend the existing source file.  How would you add the additional column(s)?  master/sources/us/ca/berkeley.json

[2016-03-05 17:27] migurski commented on #1587
Here's a record of the last time we added attributes: https://github.com/openaddresses/openaddresses-ops/issues/7

At that time, we needed to modify the machine code as we went in order to use the new attributes. In this case, it might not be necessary to synchronize across multiple repositories.

[2016-03-05 18:03] sbma44 commented on #1470
PR here: https://github.com/openaddresses/openaddresses/pull/1588

waiting on tests/fiddling with errors. `gnaf-loader` is excellent, made this easy. Alas, I don't see a way to fully automate the loading, but I've included the script necessary to create the CSV.

[2016-03-05 19:05] wboykinm commented on #132
@sbma44 This is hella-superseded by #1470, right?

[2016-03-05 19:46] sbma44 commented on #132
yeah, but we generally keep duplicate sources. I see a `tas-launceston.json` in sources, though, so I think this can be closed.

[2016-03-05 19:46] #132 closed

[2016-03-08 17:52] NelsonMinar opened #1589 "8 tests fail in my environment"
Haven't run the test suite in a long time. When I do, 8 tests fail. They all seem related to the CI package; perhaps those tests require some online server credentials I don't have? I'm testing in Ubuntu with Python 2, both in a virtualenv and a known-working environment. I tested with `b9b2559`, a recent version right before some changes I made.

[Full transcript attached](https://github.com/open

[2016-03-08 17:53] NelsonMinar commented on #1589
derp, wrong repo. sorry.

[2016-03-08 17:53] #1589 closed

[2016-03-08 19:33] waldoj commented on #1587
I just talked to a vendor, who had these two utterly reasonable answers for which I do not have canonical answers:

**1. How easy is this to clone and stand up a development instance of?** We don't have a DEVELOPERS.md or anything like that, at least that I've ever seen.

**2. What does the deliverable look like?** Like, specifically. I've been thinking in terms of processes and big-picture outcom

[2016-03-09 02:36] migurski commented on #1587
My preference would be not ask someone to modify the code in the machine repository. It’s complex and tightly optimized for producing exactly one kind of output; I imagine the scope would easily double or triple in size and uncertainty if we asked a developer to understand too. Rather, I think it would be better to use http://results.openaddresses.io/index.json as a starting point, and treat the P

[2016-03-09 08:52] vesameskanen commented on #1573
Hi again @migurski - can we somehow contribute in this issue?  It seems to me that all that is required is one new **optional ** tag in conform object, 'language' stating the ISO 639-1 code. This extension would be fully backward compatible, and seems to provide quite standard universal information about the data content. I cannot see any disadvantages.

I guess this is purely a documentation issu

[2016-03-11 17:36] slibby commented on #1470
Closed via https://github.com/openaddresses/openaddresses/pull/1588

[2016-03-11 17:36] #1470 closed

[2016-03-11 17:36] slibby commented on #1154
Full GNAF is now available via https://github.com/openaddresses/openaddresses/pull/1588 but I think this issue can stay open in the hope that WA provides their own complementary set.

[2016-03-11 17:37] slibby commented on #1527
Service changed or security changed - not currently available.

[2016-03-11 19:50] migurski commented on #1573
Yes, a pull request would be appropriate, thanks. Where do you think the value should end up, though? In the output CSV?

[2016-03-12 19:40] lxbarth opened #1608 "Add Australia"
http://www.theregister.co.uk/2016/03/02/every_australian_address_yes_yours_and_even_yours_just_became_open_data/

[2016-03-12 19:44] lxbarth commented on #1608
Late to the party!

https://github.com/openaddresses/openaddresses/pull/1588

[2016-03-12 19:44] #1608 closed

[2016-03-12 20:08] migurski commented on #1608
It’s already available at http://results.openaddresses.io !

[2016-03-12 20:11] lxbarth commented on #1608
Nice! Kinda assumed full aus coverage?

[2016-03-12 20:12] lxbarth commented on #1608
![screen shot 2016-03-12 at 3 11 53 pm](https://cloud.githubusercontent.com/assets/98233/13725030/c86b89e0-e864-11e5-8315-6f59f55ee991.png)

[2016-03-12 20:20] migurski commented on #1608
Yes, we believe so. Zip collections + rendered maps catch up in time.

[2016-03-12 20:31] lxbarth commented on #1608
Got it! So cool.

[2016-03-14 13:53] vesameskanen commented on #1573
I reconsidered what's the best place, and maybe the tag belongs to the coverage object. In other words, the value would be present in the metadata only. This approach seems to fit some existing data sources nicely (e.g. Helsinki and Brussels).  A pull request is already under work here.

[2016-03-14 14:31] waldoj commented on #1587
Here's a first crack at defining the abilities of the deliverable:

* Identify which sources contain parcel data.
* Identify the file format.
* Convert the contents into CSV, including the UID, boundaries, and address (as extant).

I _think_ this is the minimum viable product, although I imagine there are a bunch of existing standards and practices to adhere to that I don't know the first thing ab

[2016-03-14 15:59] NelsonMinar commented on #1587
That sounds good @waldoj. I'd break the parcel system up into two parts:

1. A standalone command line program that can take a source file as input, and produce parcel CSV as output. The equivalent of `openaddr-process-one` but for parcels.
2. An automated system for running all parcels regularly and/or in response to checkins.

@migurski, what do you think about #2? I'm really hoping we can re-us

[2016-03-14 19:06] migurski commented on #1587
I’m thinking we can implement it in steps; that's how I’d do it. Start with a manual script that requires a human to push a button, move on to a weekly(ish) scheduled task, and then finally integrate with the CI system so it's event-driven with everything else.

[2016-03-14 20:11] NelsonMinar commented on #1587
Agreed that rolling out in steps will work. I just think part of the deliverable should be that it integrates with the existing machinery, or at least that we can then integrate it ourselves.

[2016-03-17 16:55] vesameskanen commented on #1573
This issue is addressed by https://github.com/openaddresses/openaddresses/pull/1613

[2016-03-17 16:55] #1573 closed

[2016-03-17 19:55] emanuelfeld opened #1615 "us/dc/statewide data missing all non LAT, LON field values"
All field values other than LON and LAT are null in the file. I believe it is due to lowercasing of the field names in [statewide.json](https://github.com/openaddresses/openaddresses/blob/master/sources/us/dc/statewide.json), which should all be upper case.

[code]

[2016-03-18 01:40] b-may commented on #722
Addresses for Pasco county are available in a comma delimited file called physadd.txt located here: ftp://ftp.pascogov.com/pub/appraisal/Physaddrecs.zip

Here is the header:
'PHYS_ID','PHYS_STRNAME','PHYS_DIRECT','PHYS_STRNO','PHYS_SUFFIX','PHYS_CITY_STATE','PHYS_ZIP','PHYS_ZIP4','PHYS_EW','PrimaryAddress'

Everything is broken out except street type, e.g. HICKS RD is in the PHYS_STRNAME column. T

[2016-03-18 01:49] b-may commented on #721
All public data in Florida is public domain unless specifically exempted by FL Statute Chapter 119. GIS data is not exempt.

Polk county address points are available here:

ftp://psftp:psftp2005@psftp.polkfl.com/GIS Data/SitePoints.shp

Site is not responding at the moment, but I grabbed the data from there the other day.

[2016-03-18 02:03] b-may commented on #950
Did you ever get a response on address points? I searched around their ArcGIS Server and didn;t see address points. The parcel polygons are here: http://www.escpa.org/snapshots/downloads/County/shapefile/Parcel.zip

There's just a PIN and ALTKEY in the parcel polygons shapefile.

The addresses are in the non-mineral parcels.csv file from the Property Appraiser. Three columns in the file have site

[2016-03-18 02:13] b-may commented on #949
According to Florida Statutes, the data is public domain and the county cannot restrict the data in any way.

They appear to have an address points data set and its in their ArcGIS server here: https://www.hernandocountygis-fl.us/arcgis10_3/rest/services/Parcels_Addresses/MapServer/2

I checked a few locations in their online mapping app and the address points appear on top of houses instead of th

[2016-03-18 02:20] b-may commented on #951
They have changed things around a bit - this is the latest structures layer:
http://arcgis4.roktech.net/arcgis/rest/services/santarosa/GoMaps4_0/MapServer/2

Quick peek at them shows they are rooftop and not centroids. A nice bonus is they have the type of structure and common place name for example retail locations, etc.

[2016-03-18 02:30] b-may commented on #734
The County GIS Department maintains most of the GIS data - its not clear if they have address points or not - need to contact them. Looks like they have building footprints.

I have a recent copy of the parcels and an address file from the Property Appraiser. The PA provides their CAMA data in one big file and its a bit of a PITA to extract info from it. I can provide just the site addresses and p

[2016-03-18 02:44] b-may commented on #391
The latest using OpenSddresses: https://github.com/pelias/pelias

[2016-03-18 02:58] b-may opened #1617 "us-fl-brevard"
Property Appraiser changed their website and no longer provides address.zip for download at new data download location of: https://www.bcpao.us/PublicData.aspx

Will contact them and respond with their response.

[2016-03-18 03:01] b-may opened #1618 "us-fl-manatee"
Manatee County has an address points shapefile available for download - currently I see OpenAddresses using the parcels instead.

Address shapefile: http://www.mymanatee.org/gisapps/data/shape/ADDRESS.zip

[2016-03-18 03:06] waldoj commented on #391
Oh, hey—I should have closed this a long time ago. :) Pelias definitely solved this well. Thanks for the nudged, @b-may!

[2016-03-18 03:06] #391 closed

[2016-03-18 03:31] b-may opened #1619 "us-fl-osceola"
Osceola County address points shapefile is here: `ftp://vendor:bum5mer*@ftp.osceola.org/gis/datadownload/Addresses/Addresses.*`

The shapefile is not zipped into one file, rather its individual files.

[2016-03-18 03:37] b-may opened #1620 "us-fl-seminole"
Seminole County address points are here in ESRI File GDB format - http://www.apps.seminolecountyfl.gov/is/gis/GISData/addresses.gdb.zip

[2016-03-18 19:01] #1615 closed

[2016-03-20 20:59] b-may opened #1626 "us-fl-citrus"
Citrus County FL address shapefile name has changed to Address_Point_Export_For_FTP.shp

[2016-03-22 21:44] #1574 closed

[2016-03-25 12:43] b-may commented on #1617
I called the Property Appraiser office and they said they no longer distribute the data. You have to get it from the source which is the county E911 / Address Assignment department. I emailed the GIS contact there and waiting on response.

[2016-03-29 00:33] b-may opened #1633 "us-fl proposal to replace loveland data with mapwise data"
I realize this isn't a Pelias issues forum, but... I am proposing to replace the loveland version of Florida address data with data from MapWise.

I've implemented Pelias address search into our web-based mapping app and have been researching geocoding problems. Our app just covers Florida, so I'm focusing exclusively on Florida. Two of the biggest problems traces back to the loveland address data

[2016-03-29 13:29] iandees commented on #1633
Where did the mapwise data come from? What's its license?

[2016-03-29 13:34] ingalls commented on #1633
Just my 2c, I've always been an advocate of multiple overlapping sources. Unless the sources are identical I see no issues in having both. (Provided the mapwise license is acceptable as @iandees points out)

[2016-03-29 14:02] b-may commented on #1633
MapWise is my company. License is public domain. Some of the counties are sourced from FDOR and some directly from counties. Most GIS data in Florida public domain, unless explicitly exempted by FL Statutes - parcel data is not exempted.

The loveland version is all FDOR. Each county is required to send their data to FDOR each year in a standardized format. The FDOR format provides the house numbe

[2016-03-29 14:09] iandees commented on #1633
I appreciate your company releasing this data, and especially your interest in having it appear here.

When MapWise pulled this data together, how did you collect it? Did you reach out to individual counties and request data manually? I'm interested in trying to get as close to the source of the data as  possible. In addition to the MapWise dataset that you're offering, I would also like to see us

[2016-03-29 14:42] b-may commented on #1633
Glad to help out. I'm on the open source software and data bandwagon. I'm also a heavy contributor to OSM in Florida.

One of the main things we provide to our customers is access to standardized parcel data updated on a regular basis. Owner and sales info is updated monthly when we can. So, the first option is always finding the appraisers and counties that provide free downloads of the parcel sh

[2016-04-01 14:03] b-may commented on #1633
Is there anything I can do to help with the process of getting this data accepted to OA? I'm fine if you don't want to replace the loveland data. I'm very curious to see if this data will improve Pelias geocoding results in Florida since this version has zip codes and doesn't overlap with counties where there is already point address data in OA.

[2016-04-13 22:25] orangejulius commented on #1456
@migurski: now that openaddresses/machine#32 is well resolved, is it possible to rebuild sources that haven't changed in a while? All the cases listed in this issue are not fixed (although another case mentioned in pelias/pelias#232 _is_ fixed).

[2016-04-18 01:13] migurski commented on #1456
Everything should get rebuilt on a near-weekly basis, unless there's a failure and we use a previously-successful run. Looks like Santa Clara, CA is up-to-date as of today in https://results.openaddresses.io.

[2016-04-21 20:15] sbma44 commented on #1633
@b-may the most helpful thing to nudge this along would be a pull request. Let me know if that's a possibility or if there's a way I can help.

[2016-04-22 10:26] hannesj opened #1662 "Finnish nationwide data"
Is available at https://www.avoindata.fi/data/fi/dataset/rakennusten-osoitetiedot-koko-suomi

I'll do a pull request to replace the existing data sources with this data.

[2016-04-28 13:59] #1662 closed

[2016-05-02 16:20] talllguy commented on #726
The statewide data referenced by @slibby and @geobrando in https://github.com/openaddresses/openaddresses/issues/726#issuecomment-150349696 represents parcel points, not address points.

For this project is is it worth making a distinction?

[2016-05-02 16:32] slibby commented on #726
Yes, definitely want a distinction, but I am not aware of a statewide point address dataset (yet) -- is there one you know of? If so, it would supersede the parcel-based dataset (as long as the total number of valid addresses is similar).

The original link is broken in this issue, so I'm not sure what it was pointing to, my interest in closing it was just general issue tidiness since the dataset

[2016-05-02 16:52] talllguy commented on #726
There is a statewide address point layer, but it is not public. Maryland's state government is very much an open data proponent, but there are certain counties that are not ready to give away this data, thus the state cannot publish it. I will update this issue if there are any updates on the matter of statewide address points.

In the meantime, there are certain counties that publish their data o

[2016-05-02 16:53] talllguy commented on #500
Password no longer required.

`https://www.frederickcountymd.gov/6465/GISDownloadTracker---Addresses`

[2016-05-02 16:55] talllguy commented on #505
[New link for QA County](http://www.qac.org/912/GIS-Data-Download).

[2016-05-02 16:57] iandees commented on #726
Yup! There's no problem with including both the local county data and the statewide layer.

[2016-05-12 15:51] #755 closed

[2016-05-12 18:39] slibby commented on #1626
@b-may the current file is still valid, just checked it. http://ftp.bocc.citrus.fl.us/GIS/website/data/

[2016-05-12 18:39] #1626 closed

[2016-05-26 18:21] tmcdon89 opened #1700 "us-tn data"
I'm new to the project so I'm not entirely sure this is how to approach the subject but there isn't very much information available in us-tn

The following sites have a wide variety of maps and information available that may be useful for acquiring us-tn info. I'm guessing these would be related to Raster-based as they are not downloadable.
http://tnmap.maps.arcgis.com/home/
http://tnmap.tn.gov/as

[2016-05-26 18:31] ingalls commented on #1700
Hey this looks promising. Give me a little bit to see if I can find a way to get at the raw data.

[2016-05-26 18:34] iandees commented on #1700
I *think* the last time I looked at TNMap they didn't have any addresses. Definitely worth looking at again.

[2016-05-26 18:36] ingalls commented on #1700
@iandees They definitely have addresses, but they also are the first government agency who actually knows how to configure an ESRI server.

[2016-05-26 18:37] ingalls commented on #1700
`Address:	MAIN ST 335` bit of a strange format though!

[2016-05-26 18:37] iandees commented on #1700
Yea, I think what I ran into was that even after finding their token granting endpoint the layer wasn't statewide at all and the formatting was very odd. It looks like coverage has improved a bit, but the address seems to be pretty wacky still.

[2016-05-26 18:38] tmcdon89 commented on #1700
I noticed the addresses were in a strange format, but I also have pretty much zero experience with GIS data so I didn't know if that was an issue or not.

[2016-05-26 18:39] iandees commented on #1700
Sometimes when they have a GeocodeServer the description gives some more information about what to look for. In this case, the [GeocodeServer](http://tnmap.tn.gov/arcgis/rest/services/LOCATORS/COMPLETE/GeocodeServer) points to something called [TIPS](https://www.tn.gov/finance/article/tips). I wonder if we can ask them for the data in a more convenient format.

[2016-05-26 18:42] iandees commented on #1700
Check out [this sweet PDF](https://www.tn.gov/assets/entities/finance/oir/attachments/TIPS_Modeling_Specifications.pdf) that talks about addressing standards in TIPS. Lots of good diagrams there.

[2016-05-26 18:45] tmcdon89 commented on #1700
Not sure if this helps, but I know they keep some info (like city boundaries) in a downloadable format at: http://tn.tnmap.opendata.arcgis.com/

[2016-05-26 18:49] ingalls commented on #1700
@iandees managed to get a very hacky script together that is going to grab it all. This will definitely be something we need to cache I'm afraid.

[2016-05-26 18:59] aaronpdennis commented on #1700
It looks like TIPS is a conglomerate of TN counties that are managing their own address points. [This layer seems to be tracking TIPS coverage](http://tnmap.tn.gov/arcgis/rest/services/TRANSPORTATION/TIPS_ECD_TRACKING/MapServer/0). The attribute table has columns that seem to be email addresses and contacts for each TN county, probably for a GIS manager.

[TIPS-coverage.xlsx](https://github.com/op

[2016-05-26 19:01] ingalls commented on #1700
More of: http://geojson.io/#id=gist:anonymous/38caff9eeb62ea430c62df645a6c3d12&map=18/35.03232/-89.61323 to come

[2016-05-26 19:03] tmcdon89 commented on #1700
Exciting to see it come to fruition so quickly.

[2016-05-26 22:24] andrewharvey opened #1701 "au-countrywide quarterly update needs reprocessing"
As per https://github.com/openaddresses/openaddresses/blob/master/sources/au/countrywide.json the source must be regenerated now that there is a May release of http://data.gov.au/dataset/geocoded-national-address-file-g-naf

`http://s3.amazonaws.com/data.openaddresses.io/cache/au.zip` still shows `Last-Modified: Sat, 05 Mar 2016`

[2016-05-27 15:40] ingalls commented on #1701
cc/ @sbma44 did you have a script you used for this?

[2016-05-27 15:46] ingalls commented on #1700
Closing for now in favour of #1702

[2016-05-27 15:46] #1700 closed

[2016-05-28 01:07] andrewharvey commented on #1701
@ingalls I believe [this is the script](https://github.com/openaddresses/openaddresses/blob/master/scripts/au/gnaf.sh). I've made [pull request](https://github.com/openaddresses/openaddresses/pull/1703) which makes some changes to this script for the May16 release and some other fixes.

I've run the updated script which produced the [updated au.zip file](https://www.alantgeo.com.au/share/au.zip).

[2016-05-29 15:16] simonpoole commented on #1701
While on this topic, I note that
* OA claims that the data does not require attribution (it is licenced under a modified CC-by 4.0 licence)
* OA claims that it is freely shareable data, which it however, due to the above mentioned modification, isn't
In summary I'm not quite sure what this dataset is doing in OA except to one up other players.

[2016-05-29 16:05] iandees commented on #1701
@simonpoole that would be a great topic for a different ticket.

[2016-05-29 23:14] andrewharvey commented on #1701
Within https://github.com/openaddresses/openaddresses/blob/master/sources/au/countrywide.json license.attribution is true, where does OA claim it doesn't require attribution?

The license.url contains the CC BY 4.0 license modified with a restriction on use for sending physical mail. The license doesn't prevent people sharing and using the data for other purposes does it?

[2016-05-30 05:01] simonpoole commented on #1701
From licence.txt in the OQ -zip archive:

au/countrywide
Website: http://data.gov.au/dataset/geocoded-national-address-file-g-naf
License: https://data.gov.au/dataset/geocoded-national-address-file-g-naf/resource/09f74802-08b1-4214-a6ea-3591b2753d30
Required attribution: None

The modification to CC 4.0 needs to be passed on downstream.

[2016-05-30 07:17] migurski commented on #1701
I think it needs an Attrubution Name set in the source to know what to include in that file; probably not the best choice to let it stringify Python's None there. I'll fix it in the machine code.

[2016-05-31 13:57] charlesminshew opened #1705 "us-ga-wilcox not correct"
The Wilcox County, Georgia file is actually Bacon County, Georgia.

[2016-06-01 19:52] milovanderlinden opened #1707 "Jamaica"
I will be mapping addresses in Jamaica two 2 weeks from now. We will be using OSM to store the data. I would like to know if there are any steps I need to take to make sure that it will later be possible to export the Jamaica dataset to openaddresses without infringing the license. Of course me and the team of local mappers will be the copyright owners and we would like to grant openaddresses the

[2016-06-01 22:19] sbma44 commented on #1707
Milo, I don't think there should be any issue as long as you can be certain that the data you export from OSM will only include information that you have a right to relicense.

Incidentally, thanks for thinking of OpenAddresses! I'm very excited to have data from Jamaica in the project.

[2016-06-01 22:44] milovanderlinden commented on #1707
Hello Tom,

Thank you for the response. As I will be operating with
http://caribbeanopeninstitute.org/, I will ask the mappers to add a tag to
all addresses they create called address:source=caribbean_cc0 which should
grant us with the possibility to also distribute the addresses to
openaddresses.io. It is kind of ironic, I have a banner on my openstreetmap
page stating that all my additions are p

[2016-06-01 23:28] migurski commented on #1707
The US National Park Service has a similar dual-license process, and I think it’s a great adaptation to the OSM community’s decision to use a share-alike license. If possible, can you use one of the OSM filtering services to get this data out of OSM before it’s modified by anyone? I assume you’re using mapping tools that will be directly writing to the OSM database?

[2016-06-01 23:39] #1633 closed

[2016-06-02 20:57] dmfenton opened #1708 "Charleston SC"
Leaving this here so I can grab it later or so someone else can add

http://data.charleston-sc.opendata.arcgis.com/datasets/771aa25be25d4141a8ec6d74bdc1be8f_0
http://gis.charleston-sc.gov/arcgis/rest/services/External/OData_Central/MapServer/0

[2016-06-05 05:08] palmerj opened #1712 "Caching of NZ National Data From the LINZ Data Service"
This project has added the NZ address data to your sources list which is great!

I see website reports the data as being cached is from 2016-06-04, however the actual data is from 17 Dec 2014. How is the data cached from the LINZ website?

You can manually download the update file once you login from:

https://data.linz.govt.nz/layer/779-nz-street-address-electoral/

Also using the WFS you can dow

[2016-06-11 20:59] turtles2 opened #1718 "Itasca County, Minnesota"
You can get parcels from [here](https://gisdata.mn.gov/dataset/us-mn-co-itasca-plan-parcels) if need be can I reach out and try for address data. But from my understanding address data can be extracted from this?

[shp_plan_parcels.zip](https://github.com/openaddresses/openaddresses/files/310471/shp_plan_parcels.zip)

[2016-06-14 03:54] johnhickok opened #1720 "Los Angeles County Address Source"
The data source for Los Angeles County addresses referenced in this project is over 4 years old:
https://github.com/openaddresses/openaddresses/blob/master/sources/us/ca/los_angeles.json

Los Angeles County provides a countywide source of address points and lines here:
http://egis3.lacounty.gov/dataportal/2014/06/16/2011-la-county-street-centerline-street-address-file/

he 250 MB download, a file

[2016-06-17 17:49] jeffklee opened #1726 "us/ar/statewide.csv not showing street names"
There seems to be a problem with this file. The street names are coming in blank. I think the issue is that in the JSON mapping I see:

"street": "PSTR_FULNA",

It should be:

"street": "PSTR_FULNAM",

[2016-06-17 21:20] #1726 closed

[2016-06-18 18:16] ingalls commented on #721
Closing as stale.

[2016-06-18 18:16] #721 closed

[2016-06-18 18:16] ingalls commented on #734
Closing as stale.

[2016-06-18 18:16] #734 closed

[2016-06-18 18:16] ingalls commented on #732
Closing as stale.

[2016-06-18 18:16] #732 closed

[2016-06-18 18:16] ingalls commented on #731
Closing as stale.

[2016-06-18 18:16] #731 closed

[2016-06-18 18:17] ingalls commented on #681
Going to close this since the GNAF release should cover these.

[2016-06-18 18:17] #681 closed

[2016-06-18 18:18] ingalls commented on #334
Stale

[2016-06-18 18:18] #334 closed

[2016-06-18 18:18] ingalls commented on #333
Stale

[2016-06-18 18:18] #333 closed

[2016-06-18 18:18] ingalls commented on #315
Stale

[2016-06-18 18:18] #315 closed

[2016-06-18 18:18] ingalls commented on #313
Stale

[2016-06-18 18:18] #313 closed

[2016-06-18 18:19] ingalls commented on #151
Going to close for now - feel free to reopen if someone starts to pursue this.

[2016-06-18 18:19] #151 closed

[2016-06-19 13:47] slibby commented on #1718
It looks like this layer contains Owner Addresses but not Parcel Address, so it won't work for contribution here (yet). If you wouldn't mind reaching out, either a postal address layer or a parcel layer with the parcel addresses themselves (not PIN + Owner Address) would be sufficient.

[2016-06-19 14:05] slibby commented on #1708
https://github.com/openaddresses/openaddresses/pull/1732

[2016-06-19 14:19] turtles2 commented on #1718
Are you sure? As there is line ADDR_10001 that has Physical Address of the Parcel then TAX_DIST_NAME that has Name of Township or Municipality. But if these can't work I will reach out.

[2016-06-20 18:27] kevin-peel opened #1740 "ca-on-peel"
Region of Peel has posted address points in CSV and Shapefile format at this location: http://opendata.peelregion.ca/data-categories/regional-geography/address-points.aspx

Covers the cities of Mississauga and Brampton and the Town of Caledon - areas to the west of Toronto.

[2016-06-20 19:14] migurski commented on #1740
Thanks @kevin-peel! Do you happen to know if the directions are prefixed or suffixed? E.g. is it `302 S Queen St.` or `302 Queen St. S` ?

[2016-06-20 19:20] kevin-peel commented on #1740
Suffixed `Queen St. S`

In cases where it is prefixed it is a part of the STREETNAME column, eg `South Millway`

[2016-06-20 20:22] iandees commented on #1740
Kevin, is your name really Kevin Peel or are you just a Kevin from Peel? :)

[2016-06-20 20:24] #1740 closed

[2016-06-20 20:48] ingalls commented on #1740
This is awesome! I have a pending FOIA request with the County of Peel, love seeing them respond with open data!

[2016-06-20 21:39] migurski commented on #1712
Hey @palmerj, sorry to be late with a reply here!

We built a script to automate the NZ data import process: https://github.com/openaddresses/openaddresses/tree/master/scripts/nz#readme

The only twist is that the data must be downloaded separately ahead of time, due to the LINZ portal “shopping cart” process: https://github.com/openaddresses/openaddresses/tree/master/scripts/nz#getting-data

The

[2016-06-21 01:06] kevin-peel commented on #1740
@iandees - Kevin from Peel. ;)  I maintain most of the data on our open data portal.

Thanks for the quick response to the release!

[2016-06-21 02:18] migurski commented on #1740
Welcome Kevin!

[2016-06-21 16:12] moore3071 opened #1743 "Indianapolis is lacking physical data"
Physical addresses are not available for the Marion County, Indianapolis data. I'll update this if I find a resource with latitude, longitude, and physical addresses.

[2016-06-21 17:12] trescube opened #1745 "Allow `referer` request header to be passed to HTTP sources"
I found a source at `http://cmap.clackamas.us/dataportal/index.jsp` that POSTs (but GETs work fine, too) to a utility script that requires a specific `referer` header value of `http://cmap.clackamas.us/dataportal/index.jsp`.

[2016-06-21 19:26] trescube opened #1746 "Upload Clackamas, OR data to s3"
Until #1745 is supported, the following data can be imported but most be hosted on OA's s3 bucket:

http://cmap.clackamas.us/dataportal/index.jsp

I'll create the source once the file is in place on s3.

[2016-06-22 00:00] trescube commented on #1743
For some reason, not a single one of the 152,017 entries in `/us/in/marion.csv` has a house number or street.  The only reason I can see for it is that the data source specifies the fields as `STNUM` and `FULL_STNAME` whereas the conform specifies `stnum` and `full_stname` (just a case difference).  I didn't think they mattered but I'll update the source to see if that fixes things.

[2016-06-22 00:18] trescube commented on #1718
`ADDR_10001` looks pretty legit as the parcel address.  I see quite a few that have different values from the `ADDR1`/`ADDR2` fields (with some `ADDR2`'s in different states), though I don't 100% trust the `TAX_DIST_NAME` field for city as it doesn't match up reliably with google maps.  I'll get a source together.

[2016-06-22 00:32] trescube commented on #1705
This appears to be true as there are no differences between `http://data.openaddresses.io/cache/us-ga-bacon_county.csv` and `http://data.openaddresses.io/cache/us-ga-wilcox_county.csv`.  Wilcox County, GA looks like it's behind a paywall.

[2016-06-22 00:52] trescube commented on #1552
The data URL for Cuming, NE no longer appears to be valid, I'll poke around to see what I can find.

[2016-06-22 01:08] trescube commented on #1552
A number of Nebraska sources appear to be broken since the GIS servers have been shuffled around and the parcel layers no longer contain any address data.

[2016-06-22 01:38] trescube commented on #1523
IIRC, there's no cleanup on the OA side, it would all be up to the consumer.  If so, then this issue can be closed, right?

[2016-06-22 02:04] trescube commented on #1537
Can this be closed since it was fixed in https://github.com/openaddresses/openaddresses/commit/f800c4533b0281fa73a6a97cf73a7866564aa45a ?

[2016-06-22 02:35] trescube commented on #1527
Found the data at http://opendata.arcgis.com/datasets/ab59956e886f403e8f427c2d675af4c3_0/data

[2016-06-22 02:41] #1527 closed

[2016-06-22 02:42] #1535 closed

[2016-06-22 02:42] #1538 closed

[2016-06-22 02:43] #1536 closed

[2016-06-22 02:43] #1718 closed

[2016-06-22 02:44] #1705 closed

[2016-06-22 03:36] orangejulius commented on #1523
Makes sense.

[2016-06-22 04:30] trescube commented on #1617
Have you heard back yet?

[2016-06-22 04:57] #1743 closed

[2016-06-22 04:58] migurski commented on #1743
👍

[2016-06-22 05:50] xtgMike opened #1755 "Correct Data for California"
Hi -

I am a Property Tax Agent and depend on exact locations of property addresses. I have a number of checks to verify an address is reasonable.  I use Mapquest and Google to check addresses and resolve any ambiguities.

In any event, I started with open address as my base and have corrected any errors in the data while adding any missing parcels.  I would like to give back and send my data set

[2016-06-22 12:36] iandees commented on #1755
Hi Mike! Thanks for contacting us.

I'm curious to hear about what sort of discrepancies you're seeing. If you want to post your data somewhere (like Dropbox maybe?) and include a link here, that'd be really interesting.

Having said that, we don't actually apply any changes to the data we download from sources. If there's something wrong with our data, the best we can do right now is find the con

[2016-06-22 12:37] #1537 closed

[2016-06-22 13:02] trescube opened #1757 "Upload Osceola, FL data to s3"
Until https://github.com/openaddresses/machine/issues/325 is supported, please upload the attached file to s3.
[osceola.fl.zip](https://github.com/openaddresses/openaddresses/files/327881/osceola.fl.zip)

Needed for #1619

[2016-06-22 13:08] #1618 closed

[2016-06-22 13:21] trescube opened #1758 "Uploade Seminole, FL data to s3"
Until GDB format is supported, please upload the attached shp file to s3.

[seminole.fl.zip](https://github.com/openaddresses/openaddresses/files/327944/seminole.fl.zip)

Needed for #1620

[2016-06-22 13:41] trescube commented on #1507
Has anyone heard back about this?  If not, I'll cobble together the data from the CSV sources.

[2016-06-22 14:02] trescube commented on #1746
I'd include the actual file but it's well over the 10MB github limit.  The desired file is listed under "Tax Lots".

[2016-06-22 16:11] berniejconnors commented on #1507
I'll follow-up with a co-worker on the status of the script we use to package the address data for download.

[2016-06-22 16:17] ingalls commented on #1507
@berniejconnors thanks a ton!

[2016-06-22 18:37] xtgMike commented on #1755
Hi Ian,

I did some sanity checking on the data for each county.  As I have over
4 Million records, I do not know which ones have been corrected.

Essentially, I have the most northern, southern, eastern, and western
point for each county.  I compare these coordinates with the Geo data
provided.  If a property is outside these coordinates, then the data is
corrupt.

By the way, before I loaded the

[2016-06-23 02:03] palmerj commented on #1712
@migurski No problem on the late reply!

Great to see the documented process.

@imincik: will respond regarding the API key or login issue

[2016-06-23 02:31] imincik commented on #1712
@migurski , you can use LINZ WFS service to download data.

You need to register to "https://data.linz.govt.nz/" (only email and password required), than go to your account and choose "APIs & Web Services" and create API key.

Than choose dataset you are interested in, click on "Services" to see instructions and URLs to use.

Please use paging set to 100000 features when using WFS and **DO NOT** p

[2016-06-23 02:46] imincik commented on #1712
@migurski , this is ogr2ogr command to use for downloading data using WFS
[code]

[2016-06-23 13:49] b-may commented on #1617
No, just sent another request. If they don't respond in a couple days, I'll dig further.

[2016-06-23 23:52] migurski commented on #1755
@xtgMike, that sounds super interesting. We were thinking about a similar thing a while back, when we noticed a few flipped lat/lon sources: https://github.com/openaddresses/machine/issues/318. I’m happy that you went ahead and did this!

Do you happen to be able to map your changes back to original rows?

[2016-06-23 23:55] xtgMike commented on #1755
Unfortunately no.  I made the changes directly into our database and
have geocoded data from a few places to get all the data for a county.
I can give you the points for the counties I have done so far.

M

On 6/23/2016 4:52 PM, migurski wrote:

[2016-06-24 00:00] migurski commented on #1755
I bet we could turn that into some kind of diff as an experiment, especially if we know the timestamp of the files you downloaded.

[2016-06-24 00:16] xtgMike commented on #1755
The data came from the county file - although a few counties needed to
add a city file as well.  Let me know what you want to do.

M

On 6/23/2016 5:00 PM, migurski wrote:

[2016-06-27 19:05] sbma44 commented on #771
reopening: looks like Spain has an open data portal at http://www.cartociudad.es/portal/ which might allow us to get away from the cadastral source.

[2016-07-01 18:52] ingalls commented on #1758
Uploaded: `http://data.openaddresses.io/cache/us-fl-seminole.zip`

[2016-07-01 18:52] #1758 closed

[2016-07-01 18:52] ingalls commented on #1620
@trescube mind making a PR for this one now that the data is on s3?

[2016-07-01 18:53] ingalls commented on #1757
Uploaded: `http://data.openaddresses.io/cache/us-fl-osceola.zip`

[2016-07-01 18:53] #1757 closed

[2016-07-01 18:53] ingalls commented on #1619
@trescube want to make a PR for this now that the data is on s3?

[2016-07-01 18:56] ingalls commented on #1746
Sorry for taking so long with these, just noticed these now, feel free to cc me with @ingalls and I'll try to get them up the same day!

`http://data.openaddresses.io/cache/us-or-clackamas.zip`

[2016-07-01 19:00] #1708 closed

[2016-07-01 19:01] ingalls commented on #152
Closing as stale for now.

[2016-07-01 19:01] #152 closed

[2016-07-01 19:01] ingalls commented on #145
Closing as stale for now.

[2016-07-01 19:01] #145 closed

[2016-07-01 19:18] ingalls commented on #49
We have a statewide layer - I support source duplication but going to close for now unless someone wants to go after this.

[2016-07-01 19:18] #49 closed

[2016-07-01 19:19] ingalls commented on #294
We have a statewide layer - I support source duplication but going to close for now unless someone wants to go after this.

[2016-07-01 19:19] #294 closed

[2016-07-01 19:20] ingalls commented on #293
Closing as stale.

[2016-07-01 19:20] #293 closed

[2016-07-01 19:21] ingalls commented on #396
Closing as stale.

[2016-07-01 19:21] #396 closed

[2016-07-01 19:21] ingalls commented on #392
Closing as stale.

[2016-07-01 19:21] #392 closed

[2016-07-01 19:21] ingalls commented on #388
Machine now runs these on a schedule. Sources are updated weekly.

[2016-07-01 19:21] #388 closed

[2016-07-01 19:21] ingalls commented on #398
Closing as stale.

[2016-07-01 19:21] #398 closed

[2016-07-01 19:23] ingalls commented on #378
This discussion is pretty old and a lot of improvements have been made to the output format. If people have more suggestions/concerns about the current format lets open a new issue as a lot of the info in this ticket is now irrelevant.

[2016-07-01 19:23] #378 closed

[2016-07-01 19:24] ingalls commented on #384
Closing as stale - luckily lots more address sources coming online and to be found!

[2016-07-01 19:24] #384 closed

[2016-07-01 19:24] ingalls commented on #348
Closing as stale

[2016-07-01 19:24] #348 closed

[2016-07-01 19:25] ingalls commented on #338
Closing as stale.

[2016-07-01 19:25] #338 closed

[2016-07-01 19:25] ingalls commented on #310
Closing as stale - we have a statewide layer.

[2016-07-01 19:25] #310 closed

[2016-07-01 19:25] ingalls commented on #332
Closing as stale - we have a statewide layer.

[2016-07-01 19:25] #332 closed

[2016-07-01 19:26] ingalls commented on #335
Closing as stale - we have a statewide layer.

[2016-07-01 19:26] #335 closed

[2016-07-01 19:26] ingalls commented on #306
Closing as stale - we have a statewide layer.

[2016-07-01 19:26] #306 closed

[2016-07-01 19:26] ingalls commented on #307
Closing as stale - we have a statewide layer.

[2016-07-01 19:26] #307 closed

[2016-07-01 19:26] ingalls commented on #309
Closing as stale - we have a statewide layer.

[2016-07-01 19:26] #309 closed

[2016-07-01 19:27] ingalls commented on #312
Closing as stale

[2016-07-01 19:27] #312 closed

[2016-07-01 19:27] ingalls commented on #387
Closing as stale.

[2016-07-01 19:27] #387 closed

[2016-07-01 19:28] ingalls commented on #229
Closing as stale - Feel free to open a new issue if someone is actively going after these.

[2016-07-01 19:28] #229 closed

[2016-07-01 19:28] ingalls commented on #222
Closing as stale - Feel free to open a new issue if someone is actively going after these.

[2016-07-01 19:28] #222 closed

[2016-07-01 19:28] ingalls commented on #223
Closing as stale - Feel free to open a new issue if someone is actively going after these.

[2016-07-01 19:28] #223 closed

[2016-07-01 19:28] ingalls commented on #224
Closing as stale - Feel free to open a new issue if someone is actively going after these.

[2016-07-01 19:28] #224 closed

[2016-07-01 19:28] ingalls commented on #225
Closing as stale - Feel free to open a new issue if someone is actively going after these.

[2016-07-01 19:28] #225 closed

[2016-07-01 19:28] ingalls commented on #226
Closing as stale - Feel free to open a new issue if someone is actively going after these.

[2016-07-01 19:28] #226 closed

[2016-07-01 19:28] ingalls commented on #227
Closing as stale - Feel free to open a new issue if someone is actively going after these.

[2016-07-01 19:28] #227 closed

[2016-07-01 19:29] ingalls commented on #228
Closing as stale - Feel free to open a new issue if someone is actively going after these.

[2016-07-01 19:29] #228 closed

[2016-07-01 19:29] ingalls commented on #221
Closing as stale - Feel free to open a new issue if someone is actively going after these.

[2016-07-01 19:29] #221 closed

[2016-07-01 19:29] ingalls commented on #219
Closing as stale - Feel free to open a new issue if someone is actively going after these.

[2016-07-01 19:29] #219 closed

[2016-07-01 19:29] ingalls commented on #217
Closing as stale - Feel free to open a new issue if someone is actively going after these.

[2016-07-01 19:29] #217 closed

[2016-07-01 19:29] ingalls commented on #216
Closing as stale - Feel free to open a new issue if someone is actively going after these.

[2016-07-01 19:29] #216 closed

[2016-07-01 19:30] ingalls commented on #192
Closing as stale - Feel free to open a new issue if someone is actively going after these.

[2016-07-01 19:30] ingalls commented on #185
Closing as stale - Feel free to open a new issue if someone is actively going after these.

[2016-07-01 19:30] #185 closed

[2016-07-01 19:30] ingalls commented on #177
Closing as stale - Feel free to open a new issue if someone is actively going after these.

[2016-07-01 19:30] #177 closed

[2016-07-01 19:30] ingalls commented on #133
Email template is now in the main repo.

[2016-07-01 19:30] #133 closed

[2016-07-01 19:31] ingalls commented on #716
Stale

[2016-07-01 19:31] #716 closed

[2016-07-01 19:34] waldoj commented on #338
:+1:

[2016-07-01 22:36] orangejulius commented on #1456
Hey @migurski,
I was just looking into this issue today, and strangely the street names are correct in the city of Mountain View and Santa Clara county individual downloads, but the global file (that Pelias uses) _still_ has `Lane Avenida` as a streetname. Is something stuck somewhere, and if so, can it be fixed? :pray:

[2016-07-01 22:39] migurski commented on #1456
So we are still doing street name expansions in the US; from that post: "moves name expansion to periodic collections instead". Periodic collections are the big files. What would you like to have happen instead?

[2016-07-01 22:46] migurski commented on #1456
FYI, here’s where street name expansion happens: https://github.com/openaddresses/machine/blob/2.21.4/openaddr/ci/collect.py#L274-L292

[2016-07-02 02:37] orangejulius commented on #1456
Ohhhh, I didn't realize it would be treated differently for the periodic collections. Okay, In this case we can close this issue and Pelias will switch to using the small files.

[2016-07-02 02:37] #1456 closed

[2016-07-02 18:08] jchparis2 opened #1766 "Typing error"
Hi,

The correct spelling for the French department "meurhe_et_moselle" is "meurthe_et_moselle".
https://en.wikipedia.org/wiki/Meurthe-et-Moselle
Thank you for your great job.

[2016-07-03 21:19] #1766 closed

[2016-07-03 21:20] migurski commented on #1766
Thanks for pointing this out, @jchparis2!

[2016-07-05 21:12] trescube commented on #1746
Fixed in #1768

[2016-07-05 21:29] trescube commented on #1617
Still nothing?

[2016-07-05 23:01] #1746 closed

[2016-07-05 23:06] #1620 closed

[2016-07-06 15:20] b-may opened #1797 "us-fl-duval"
Duval County FL just brought online a new ArcGIS server with address points.

`http://maps.coj.net/coj/rest/services/DuvalMaps/duvalProperty_2012/MapServer/34`

[2016-07-06 15:25] b-may commented on #1617
Found a phone number, called and left a message. The county GIS has a new ArcGIS Server online as well but didn't see the address points.

`http://gis.brevardcounty.us/gissrv/rest/services`

[2016-07-06 15:34] trescube commented on #1617
At least it has parcels, which is better than the current situation where the zip file is no longer hosted.  I'll get the source switched to ArcGIS parcels.

[2016-07-06 15:48] #1619 closed

[2016-07-06 17:46] trescube commented on #1797
I'm having trouble opening the data in QGIS right now, it appears to stall about halfway thru, and I can't tell for certain what the fields are without seeing the source data.  I'll keep an eye on it.

[2016-07-06 18:23] b-may commented on #1797
I scraped 1000 records into shapefile format with all of the fields included - you can download the sample here:

`https://www.mapwise.com/data/address_points_duval_test.zip`

[2016-07-06 18:25] trescube commented on #1797
Thanks!  I'll check it out in a few minutes.

[2016-07-06 19:59] #1797 closed

[2016-07-06 20:19] trescube commented on #1720
Wow, they need to update their site, that file is actually 454MB and not downloading terribly fast.

I should have an update to the source sometime today.

[2016-07-06 20:46] trescube commented on #1720
Ah, this is GDB which OA doesn't support yet.  I'll check to see how much difference there is to see if it's worth caching an export on s3.

[2016-07-07 02:24] johnhickok commented on #1720
L.A. County chose the gdb format due to the file size. The streets and
address points cover 88 cities and over ten million residents.

The plan is to get all the public agencies within the county to participate.

It's ambitious; it might have a long way to go.

John Hickok, PLS, GISP

*Try paperless...*

On Wed, Jul 6, 2016 at 1:19 PM, Stephen K Hess <notifications@github.com>
wrote:

[2016-07-07 03:26] ingalls commented on #1720
Working on getting GDB supported - No timeline yet as it's been a bit since I've jumped into the code but as long as the GDAL driver works this should be fairly straighforward

[2016-07-07 03:51] johnhickok commented on #1720
If it helps, I wrote some gdal code for that file gdb here:

http://egis3.lacounty.gov/eGIS/wp-content/uploads/2011/10/baselayers_toolkit.zip

It was for a presentation.

John Hickok, PLS, GISP

*Try paperless...*

On Wed, Jul 6, 2016 at 8:26 PM, Nick <notifications@github.com> wrote:

[2016-07-08 18:57] b-may commented on #1617
Finally got a copy of the address points. It was provided by dropbox link, so I put a copy here `https://www.mapwise.com/data/brevard_updateadd1.zip`

For future reference, the contact is:

Tim Witt
E911 GIS Analyst
Brevard County (FL) E9-1-1 Administration
TEL: (321) 690-6846

According to the county public records request instructions, you can make an anonymous request for the data by phone to t

[2016-07-08 19:11] trescube commented on #1617
Excellent, thanks!  I'll get a source for it shortly.

[2016-07-11 04:57] andrewharvey commented on #1701
It appears the May16 update has been processed in https://github.com/openaddresses/openaddresses/commit/aa225e648223eb5c7784f794c55ebb9bdba77cb8

[2016-07-11 13:57] ingalls commented on #1701
👍 Thanks a ton for staying on top of this @andrewharvey! If we miss processing the next update give us another poke and we'll be sure to update it! With the new Docket setup that @migurski worked on it should make this a breeze.

[2016-07-11 22:23] iandees opened #1831 "Update us/ma/statewide to use statewide address points instead of parcels"
New layer is here: http://gisprpxy.itd.state.ma.us/arcgisserver/rest/services/AGOL/MassGIS_Master_Address_Points/MapServer/0

[2016-07-11 22:24] iandees commented on #1831
If someone takes this, I'd love to see a step-by-step guide written about how to update an existing source with a new URL.

[2016-07-11 22:34] trescube commented on #1831
I can do that

[2016-07-12 13:25] trescube commented on #1831
It might be a few days.

[2016-07-12 16:18] erictheise commented on #1831
I've been looking for a way in to OA and would be glad to take this on but frankly I don't know enough to tell whether this is straightforward or has some hidden complexity.

[2016-07-12 16:27] trescube commented on #1831
Eric, you appear to have deleted your comment but if you're still watching it would be great to work with you on updating this data source.  It would be a great introduction to contributing to OA.

[2016-07-12 16:56] trescube commented on #1831
Great, sounds good!

[2016-07-16 02:53] trescube opened #1838 "Negative house numbers in US"
I ran across the behavior in Ohio where it's most egregious, but there are just shy of 35,000 addresses in that state with a negative house number.  These should not be considered valid and filtered out during import.

[2016-07-16 02:54] trescube commented on #1838
Whoops, I meant this for pelias/openaddresses!

[2016-07-16 02:54] #1838 closed

[2016-07-19 00:30] dianashk opened #1841 "Statewide NJ data has street names in housenumber fields"
Seeing a lot of invalid house numbers in this file. Most, if not all, of them have the street name duplicated instead.

https://github.com/openaddresses/openaddresses/blob/d1efb0a64df583fb8f2a40270fb878593722aeec/sources/us/nj/statewide.json

<img width="578" alt="screen shot 2016-07-18 at 8 28 32 pm" src="https://cloud.githubusercontent.com/assets/5446511/16934657/6ca037c4-4d26-11e6-9143-48ed2047

[2016-07-19 01:39] trescube commented on #1841
There's some history [here](https://github.com/openaddresses/openaddresses/pull/1722), but I think it's the same regex issues that Tennessee statewide [was having](https://github.com/openaddresses/openaddresses/pull/1839).

[2016-07-19 14:07] slibby commented on #1831
closed via https://github.com/openaddresses/openaddresses/pull/1832

[2016-07-19 14:07] #1831 closed

[2016-07-19 14:08] slibby commented on #1707
Hi @milovanderlinden just checking in to see: how did the address mapping project go in Jamaica? It would be great to see some addresses there, I have looked in the past and there's not much out there!

[2016-07-19 14:14] iandees opened #1853 "Include points interpolated from TIGER edges?"
What do y'all think about adding code to `machine` that would create interpolated points from linear address range features? A primary example of this would be the TIGER address ranges attached to their road "edges", but there are plenty of other sources we've run past that only distribute road centerlines with address ranges attached to them.

Is the increased coverage with lower accuracy accepta

[2016-07-19 17:09] erictheise commented on #1831
I was still thinking about @iandees' ask, which was to contribute a step-by-step write up, presumably to https://github.com/openaddresses/openaddresses/blob/master/CONTRIBUTING.md. I started in on a blog post which, when finished, I'd strip back to something less chatty.

The thing is, the bulk of it is about coaxing data out of the ESRI server and that's not really specific to a change in data so

[2016-07-19 17:13] iandees commented on #1831
@erictheise I'd be curious to see your write-up including how you ended up coaxing data out of ESRI. I have my methods of doing it (as do others that contribute here) and I want to see if your methods are similar.

The eventual goal for me is to build a web app that let's people submit their own data (including an ESRI endpoint), see a sample of the source data, build the conform/mapping informati

[2016-07-19 17:25] erictheise commented on #1841
It's been months since I've worked directly with the output files but at that time I found files like this and also–I don't remember the specifics–with lines I thought incomplete and had to reject for my use.

At the time I thought that there should be more black box QA in the processing cycle, checking that rows had some minimum amount of data (these duplicate street names would generate an excep

[2016-07-19 17:29] erictheise commented on #1831
Okay, @iandees, I'll finish up my post in the next couple of days and see how if the info could be shoehorned into CONTRIBUTING.md. Will let you know. Maybe reopen the issue?

[2016-07-19 22:33] turtles2 opened #1854 "MN Counties"
This is a spreadsheet of all MN Counties and contact info for them. The ones in red did not respond after repeated attempts. The ones are yellow are paid most prices are listed.
[Minnesota Counties  .xlsx](https://github.com/openaddresses/openaddresses/files/372576/Minnesota.Counties.xlsx)

Updated
[Minnesota Counties.xlsx](https://github.com/openaddresses/openaddresses/files/374010/Minnesota.Coun

[2016-07-19 22:46] iandees commented on #1854
This is awesome, thanks for doing this work!

Have you seen our [OpenAddresses US County Status Doc](https://docs.google.com/spreadsheets/d/1HFm0YbFDC5YKkHKFt89EKdhpyaCCIo_CiDFjBNq4PoI/edit?usp=sharing)? It would be really helpful if you could integrate the information you found for this spreadsheet into the Minnesota rows in ours.

[2016-07-19 22:56] turtles2 commented on #1854
I can do that but since most of this data is about if the sources are paid how can I add that? It dose not seem your sheet has those columns? I have the price's in my sheet and think it would be a shame to lose them.

[2016-07-20 00:27] migurski commented on #1853
This makes me a bit uncomfortable. I’d feel better including ranges as a first-class object in some form, rather than generating fake points.

[2016-07-20 03:36] trescube commented on #1854
I managed to track down ArcGIS servers for Chippewa, Cook, Norman, Pennington, Red Lake, Todd, and Waseca counties.  PRs have been generated/merged for all but Cook, I'm still working out the regex to extract the `unit` field on that one.

[2016-07-20 03:42] turtles2 commented on #1854
Cool I will update as my only way of getting data was to email said county.
I haven't checked the JSON recently so I will check then add what I have to
the master and mine.

On Jul 19, 2016 10:36 PM, "Stephen K Hess" <notifications@github.com> wrote:

[2016-07-20 03:46] trescube commented on #1854
I just managed to get ahold of Hubbard County, too.

[2016-07-20 04:00] trescube commented on #1854
And [Kittson County ](https://github.com/openaddresses/openaddresses/pull/1863)

[2016-07-20 04:37] trescube commented on #1854
And [Olmsted County](https://github.com/openaddresses/openaddresses/pull/1864)

[2016-07-20 04:39] trescube commented on #1854
That's it, everything else is behind geomoose, mapserv, or beacon-schneider.

[2016-07-20 04:44] migurski commented on #1854
👏 👏 👏

[2016-07-20 14:51] turtles2 commented on #1854
@trescube How are you getting this data? I have been reaching out to the County Assessors and finding they either have no idea about access to there data-sets or want money for it.

It seems allot of counties use Beacon are they tight lipped about access to data?

[2016-07-20 15:25] trescube commented on #1854
I find their interactive map, open up Javascript console in Chrome, look for ArcGIS-formatted network traffic, then poke around on those servers.

There are quite a number of Beacon servers in that area of the country but I was unable to get an the data underneath.

[2016-07-22 15:54] missinglink commented on #1853
ref: https://github.com/pelias/pelias/wiki/Interpolation:-existing-standards

[2016-07-29 21:32] jsteibprinttime opened #1891 "Johnson County KS File"
The file for Johnson County KS USA shows no data when downloaded. However there is sample data when that option is clicked on.

[2016-07-29 23:48] trescube commented on #1891
The county has put the parcel and address point data behind a login form.  It's still possible to get the data but it's a little trickier.  I'll see what I can do.

[2016-08-03 10:09] bentley commented on #986
E‐911 may be another approach.

There is an existing [E‐911 roads dataset](https://catalog.data.gov/dataset/catron-county-e-911-roads) (license unclear). Don’t know if an address points dataset exists.

I’ve contacted UNM’s [Earth Data Analysis Center](https://edac.unm.edu/) in an effort to discover more.

[2016-08-10 21:08] migurski opened #1902 "Strange Italy data"
I am seeing some funky projection offset business in Italy. Here is a screenshot in Rimini:

<img width="937" alt="rimini" src="https://cloud.githubusercontent.com/assets/58730/17571155/e171bed0-5f03-11e6-8467-c05800ce5558.png">

[2016-08-10 21:39] sergiyprotsiv commented on #1902
The points looks good when I load them in QGIS offline. I think this is the special projection Italian sources use (EPCG 25832), which is based on the ESTR89 datum instead of the usual WGS84. However this should only have an effect of a few meters.

In case of Rimini there is also an older source "it/er/rimini", which could result in some duplication. I am not sure which one is the "offending" sou

[2016-08-11 03:36] migurski commented on #1902
I checked both, and the older one is wrong. Thanks for investigating, I have removed it so this newer, better source can stay!

[2016-08-11 03:37] #1902 closed

[2016-08-24 03:30] andrewharvey commented on #1701
@ingalls Looks like it needs updating again for the August release

[2016-08-24 14:57] migurski commented on #1701
Thanks @andrewharvey, it took no time at all since they’re keeping the data formats consistent.

[2016-08-29 17:11] thatdatabaseguy opened #1921 "Encoding/Mojibake issues in some files"
There are a few files I saw in going through some of the OpenAddresses data that had encoding issues. The main example that's coming to mind at the moment is [city_of_wesel](https://github.com/openaddresses/openaddresses/blob/master/sources/de/nw/city_of_wesel.json) in Germany but there were others.

Possibly of interest for the machine repo, there's this a Python library that's super useful for f

[2016-08-29 17:28] iandees commented on #1921
In this case, it looks like the `conform` object for that source specifies an incorrect encoding. I'll try pushing a fix for that.

[2016-08-29 17:32] #1921 closed

[2016-08-29 17:33] iandees commented on #1921
@thatdatabaseguy thanks for finding this stuff. If you find another encoding problem please let us know with a new issue or reopen this one.

[2016-08-29 18:02] thatdatabaseguy commented on #1921
Oh cool, thanks. Didn't see the encoding param.

[2016-08-31 05:37] migurski opened #1928 "Document new "format" function in conform"
After https://github.com/openaddresses/machine/pull/379 is merged and a new version is released, add information about new "format" function to contribution guide and tests. Update Netherlands data (cf. #1925) to use the new function.

[2016-09-04 05:36] #1928 closed

[2016-09-15 16:16] nvkelso opened #1941 "Add addresses in Mendocino county, CA"
Status:
- [x] **Research sources** and propose best source (and it's data license)
- [x] **Review proposed source**
- [x] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:25] nvkelso opened #1942 "Add addresses in Trinity county, CA"
Status:

- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:25] nvkelso opened #1943 "Add addresses in Grants Pass, OR"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:25] nvkelso opened #1944 "Add addresses in Kennewick/Richland, WA"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:25] nvkelso opened #1945 "Add addresses in Olympia, WA"
Status:
- [x] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:25] nvkelso opened #1946 "Add addresses in Klamath Falls, OR"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:25] nvkelso opened #1947 "Add addresses in Tacoma, WA"
Status:
- [x] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:25] nvkelso opened #1948 "Add addresses in Vancouver, WA"
Status:
- [x] **Research sources** and propose best source (and it's data license)
- [x] **Review proposed source**
- [x] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:25] nvkelso opened #1949 "Add addresses in Yakima, WA"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:25] nvkelso opened #1950 "Add addresses in Bend, OR"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:25] nvkelso opened #1951 "Add addresses in Roseburg, OR"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:25] nvkelso opened #1952 "Add addresses in Salem, OR"
Status:

- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:25] nvkelso opened #1953 "Add addresses in Tillamook, OR"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:25] nvkelso opened #1954 "Add addresses in Newport, OR"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:25] nvkelso opened #1955 "Add addresses in Twin Falls, ID"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:25] nvkelso opened #1956 "Add addresses in Coos Bay, OR"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:25] nvkelso opened #1957 "Add addresses in Winslow, AZ"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:26] nvkelso opened #1958 "Add addresses in Elko, NV"
Status:

- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:26] nvkelso opened #1959 "Add addresses in Flagstaff, AZ"
Status:
- [x] **Research sources** and propose best source (and it's data license)
- [x] **Review proposed source**
- [x] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:26] nvkelso opened #1960 "Add addresses in Wendover, NV"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:26] nvkelso opened #1961 "Add addresses in Page, AZ"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:26] nvkelso opened #1962 "Add addresses in Winnemucca, NV"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:29] nvkelso opened #1963 "Add addresses in Roswell, NM"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:29] nvkelso opened #1964 "Add addresses in Santa Fe, NM"
Status:
- [x] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:29] nvkelso opened #1965 "Add addresses in Carlsbad, NM"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:29] nvkelso opened #1966 "Add addresses in Mobile, AL"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:29] nvkelso opened #1967 "Add addresses in Auburn, AL"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:29] nvkelso opened #1968 "Add addresses in Birmingham, AL"
Status:
- [x] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:29] nvkelso opened #1969 "Add addresses in Augusta, GA"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:29] nvkelso opened #1970 "Add addresses in Wendover, NV"

[2016-09-15 16:29] nvkelso opened #1971 "Add addresses in Athens, GA"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:29] nvkelso opened #1972 "Add addresses in Spartanburg, SC"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:29] nvkelso opened #1973 "Add addresses in Columbia, SC"

[2016-09-15 16:30] iandees commented on #1958
Here's an ESRI endpoint: http://gis.elkocountynv.net:1402/arcgis/rest/services/Basemap/AddressPoints/MapServer/0?f=json

[2016-09-15 16:30] nvkelso opened #1974 "Add addresses in Kitty Hawk, NC (outer banks)"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:30] nvkelso opened #1975 "Add addresses in Winston-Salem, NC"
Status:
- [x] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:30] nvkelso opened #1976 "Add addresses in Knoxville, TN"
Status:
- [x] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:30] nvkelso opened #1977 "Add addresses in York, PA"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:30] nvkelso opened #1978 "Add addresses in Wilkes-Barre, PA"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:30] nvkelso opened #1979 "Add addresses in suburbs around Philadelphia, PA"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:30] nvkelso opened #1980 "Add addresses in Durham, NC"
Status:
- [x] **Research sources** and propose best source (and it's data license)
- [x] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:30] nvkelso opened #1981 "Add addresses in Bolling Green, KY"
Status:

- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:30] nvkelso opened #1982 "Add addresses in suburbs around Harrisburg, PA"

[2016-09-15 16:31] iandees commented on #1970
(This might be part of Elko county, which I linked to at https://github.com/openaddresses/openaddresses/issues/1958#issuecomment-247379669)

[2016-09-15 16:32] nvkelso opened #1983 "Add addresses in Sault Sainte Marie, MI"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:32] nvkelso opened #1984 "Add addresses in Kokomo, IN"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:32] nvkelso opened #1985 "Add addresses in Lansing, MI"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:32] nvkelso opened #1986 "Add addresses in Kalamzoo, MI"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:32] nvkelso opened #1987 "Add addresses in suburbs north of NYC (White Plains), NY"
Status:

- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:32] nvkelso opened #1988 "Add addresses in Flint, MI"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:32] nvkelso opened #1989 "Add addresses in Saginaw, MI"

[2016-09-15 16:32] nvkelso opened #1990 "Add addresses in suburbs east of NYC on Long Island (Hempstead), NY"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:32] nvkelso opened #1991 "Add addresses in Muncie, IN"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:32] nvkelso opened #1992 "Add addresses in Fargo, ND"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:32] nvkelso opened #1993 "Add addresses in Cape Gerardeau, MO"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:32] nvkelso opened #1994 "Add addresses in Lafeyette, IN"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:32] nvkelso opened #1995 "Add addresses in suburbs of Detroit, MI"
Status:
- [x] **Research sources** and propose best source (and it's data license)
  - [x] Wayne county
  - [x] Oakland county
  - [ ] Macomb county
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:32] nvkelso opened #1996 "Add addresses in St. Charles, MO"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:32] nvkelso opened #1997 "Add addresses in Evansville, IN"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:32] nvkelso opened #1998 "Add addresses in Lake of the Ozarks area, MO"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:32] nvkelso opened #1999 "Add addresses in Kansas City, Kansas (west side)"

[2016-09-15 16:34] iandees commented on #1971
Athens uses [a system from Beacon Schneider](https://qpublic.schneidercorp.com/Application.aspx?AppID=630&LayerID=11199&PageTypeID=1) that sits on top of Esri services. So far I don't think anyone has figured out how to get to the juicy data below the Beacon Schneider shell.

[2016-09-15 16:36] iandees commented on #1974
Part of Dare County, NC.

They use Geoserver: http://gis.darecountync.gov/

[2016-09-15 16:38] nvkelso opened #2000 "Add addresses in Fargo, ND"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:38] nvkelso opened #2001 "Add addresses in Amarillo, TX"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:38] nvkelso opened #2002 "Add addresses in Wichita, Kansas"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:38] nvkelso opened #2003 "Add addresses in Minot, ND"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:38] nvkelso opened #2004 "Add addresses in Muskogee, OK"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:38] nvkelso opened #2005 "Add addresses in Tulsa, OK"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:38] nvkelso opened #2006 "Add addresses in Salina, Kansas"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:39] nvkelso opened #2007 "Add addresses in Garland, TX"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:39] nvkelso opened #2008 "Add addresses in Tyler, TX"

[2016-09-15 16:39] nvkelso opened #2009 "Add addresses in Longview, TX"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:39] nvkelso opened #2010 "Add addresses in gap between Fort Worth and Dallas north of Grand Prarie, TX"

[2016-09-15 16:39] nvkelso opened #2011 "Add addresses in Sugar Land, TX"

[2016-09-15 16:39] nvkelso opened #2012 "Add addresses in Waco, TX"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:39] nvkelso opened #2013 "Add addresses in Galveston, TX"
Status:

- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:39] nvkelso opened #2014 "Add addresses in Victoria, TX"

[2016-09-15 16:39] nvkelso opened #2015 "Add addresses in Marshall, TX"

[2016-09-15 16:39] nvkelso opened #2016 "Add addresses in Corpus Christi, TX"

[2016-09-15 16:39] nvkelso opened #2017 "Add addresses in Port Arthur, TX"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:39] nvkelso opened #2018 "Add addresses in Nacogdoches, TX"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._