[2016-09-15 16:39] nvkelso opened #2019 "Add addresses in Beaumont, TX"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:40] nvkelso opened #2020 "Add addresses in Cody, WY"
Status:
- [x] **Research sources** and propose best source (and it's data license)
  - [x] City of Cody
  - [x] Surrounding county
- [x] **Review proposed source**
- [x] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:40] nvkelso opened #2021 "Add addresses in Alexandria, LA"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:40] nvkelso opened #2022 "Add addresses in Tupelo, MS"

[2016-09-15 16:40] nvkelso opened #2023 "Add addresses in Lauderdale County, MS"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:40] nvkelso opened #2024 "Add addresses in Pascagoula, MS"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:40] nvkelso opened #2025 "Add addresses in Hattiesburg, MS"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:40] nvkelso opened #2026 "Add addresses in Colorado Springs, CO"
Status:
- [x] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:40] nvkelso opened #2027 "Add addresses in Shreveport, LA"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:40] nvkelso opened #2028 "Add addresses in Monroe, LA"

[2016-09-15 16:40] nvkelso opened #2029 "Add addresses in Lake Charles, LA"

[2016-09-15 16:40] nvkelso opened #2030 "Add addresses in Lafayett, LA"
Status:

- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:41] nvkelso opened #2031 "Add addresses in Barrow, Alaska"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:41] nvkelso opened #2032 "Add addresses in Hawaii (outside of Honolulu)"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
  - [x] Kauai County https://github.com/openaddresses/openaddresses/pull/2567
  - [x] Maui County
  - [ ] Hawaii County https://github.com/openaddresses/openaddresses/pull/2565
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source no

[2016-09-15 16:41] nvkelso opened #2033 "Add addresses in Ketchikan, Alaska"

[2016-09-15 16:41] nvkelso opened #2034 "Add addresses in Valdez, Alaska"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:41] nvkelso opened #2035 "Add addresses in Sitka, Alaska"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:41] nvkelso opened #2036 "Add addresses in Juneau, Alaska"
Status:
- [x] **Research sources** and propose best source (and it's data license)
- [x] **Review proposed source**
- [x] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:41] nvkelso opened #2037 "Add addresses in Nome, Alaska"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:41] nvkelso opened #2038 "Add addresses in Bethel, Alaska"
Status:
- [ ] **Research sources** and propose best source (and it's data license)
- [ ] **Review proposed source**
- [ ] **Approve source** based on review comments
- [ ] **Add** to OpenAddresses

_NOTE: Proposed source notes should include basic column mapping to OpenAddress data model._

[2016-09-15 16:43] iandees commented on #2000
Here's an Esri layer: http://gis.cityoffargo.com/arcgis/rest/services/Basemap/AddressNumbers/MapServer/1

[2016-09-15 16:45] iandees commented on #2033
Here's an Esri layer: http://web1.mobile311.com/arcgis/rest/services/Alaska/Ketchikan/MapServer/18

Looks like the stuff with `LOC_` prefix might be a premise address.

[2016-09-15 17:00] iandees commented on #806
I'm going to close this because OpenAddresses prefers to use data from primary sources (like city, county, and state governments). If someone wants to take on reorganizing the data from SimpleGeo we can reopen and discuss again.

[2016-09-15 17:00] #806 closed

[2016-09-15 17:04] iandees commented on #302
Here's an Esri layer we could use: http://gis.worldviewsolutions.com/arcgis/rest/services/alleghany/Public/MapServer/4

[2016-09-15 17:17] #302 closed

[2016-09-15 17:34] nvkelso commented on #1958
West Wendover, NV is included in Elko County, but Wendover UT is in a different state.

[2016-09-15 17:35] nvkelso commented on #1970
Looks like West Wendover, NV is part of Elko County, NV. Retitling this issue to emphasize the UT portion of the Wendover micropolitan area.

[2016-09-15 17:38] slibby commented on #2026
service: http://gis.coloradosprings.gov/arcgis/rest/services/springsview/SpringsView_AllLayers/MapServer/120 ?

[2016-09-15 17:44] #1958 closed

[2016-09-15 17:59] slibby commented on #1987
Covered by NY Statewide, right?

Anyways, there is a service for Westchester County: http://giswww.westchestergov.com/arcgis/rest/services/MappingWestchesterCounty_AdditionalLayers/MapServer/78

[2016-09-15 18:35] nvkelso commented on #362
I see data for Wake County, NC around Raleigh on the map preview, is there more work that needs to be done for Wake County?

![image](https://cloud.githubusercontent.com/assets/853051/18562405/6cb438a6-7b38-11e6-9dda-7f3b5ca1c12b.png)

[2016-09-15 18:37] nvkelso commented on #576
Related to another NYC suburbs issue: https://github.com/openaddresses/openaddresses/issues/1987

[2016-09-15 18:40] nvkelso commented on #651
County seat is Jim Thorpe, decent sized town.

[2016-09-15 18:56] nvkelso commented on #1987
How does the statewide source get infested? I don't see address dots on the map, is there an import error?

[2016-09-15 18:58] iandees commented on #1947
Here's a layer: http://wspdsmap.ci.tacoma.wa.us/arcgis/rest/services/AddressLookup/MapServer/0?f=json

(Browsing via HTML is disabled on this server)

[2016-09-15 18:59] nvkelso commented on #806
This could be scraped from Who's On First venues (which is SimpleGeo reborn)... But their addresses are generally street interpolation so agree with Ian.

[2016-09-15 19:23] pblack-trulia commented on #1987
westchester parcel shapefile with address http://giswww.westchestergov.com/download/wcparcels.zip

[2016-09-15 19:31] slibby commented on #1987
@nvkelso looks like the "statewide" is missing Westchester and other areas. no idea of the why/background but then it's worth a dedicated src.

[2016-09-15 19:37] slibby commented on #1990
The missing section is Nassau County.

They have a GIS Server but REST Services directory access is blocked. I was able to find one working Map Service here: https://gis.nassaucountyny.gov/arcgis/rest/services/Akanda/MapServer/

[2016-09-15 19:43] trescube commented on #1987
Westchester added in https://github.com/openaddresses/openaddresses/pull/2043

[2016-09-15 19:53] nvkelso commented on #1987
@trescube nice! ready to close? What's the convention around here? Are builds continuous, when will the map update?

[2016-09-15 19:54] #1987 closed

[2016-09-15 19:57] iandees commented on #1987
Builds are continuous: the "hooked" build step on #2043 will have information about caching/transformation status. The screenshot that @trescube added there came from data downloaded from the hooked build step.

After a source is merged, a single download run for all sources is performed at least once a week, followed by a dot-map build that is run roughly once a week. You can see when these runs

[2016-09-15 20:01] iandees commented on #1990
Looks like address info is available via a secondary, non-Esri endpoint here: https://lrv.nassaucountyny.gov/map/getparcellist.php?gpl=03%20209%2000040

[2016-09-15 20:10] slibby commented on #1964
potential: http://services3.arcgis.com/OrtlXpzQGtgBGqsz/ArcGIS/rest/services/Proposed_Zoning/FeatureServer/0

[2016-09-15 20:12] nvkelso commented on #1987
:+1:

[2016-09-15 20:22] slibby commented on #1945
services Directory: http://agol.co.thurston.wa.us/arcgis/rest/services/Thurston?f=pjson

[2016-09-16 16:32] davidchiles commented on #1982
Not sure what's missing for this issue. There are sources for [Dauphin](https://github.com/openaddresses/openaddresses/blob/master/sources/us/pa/dauphin.json), [Cumberland](https://github.com/openaddresses/openaddresses/blob/master/sources/us/pa/cumberland.json) and [Perry](https://github.com/openaddresses/openaddresses/blob/master/sources/us/pa/perry.json) Counties. I think that covers Harrisburg

[2016-09-16 17:08] davidchiles commented on #1979
Looks like the two counties missing are Delaware and Montgomery Counties.

This is as close as I can get to the data on Montgomery County: http://propertyrecords.montcopa.org/pt/arcgismaps/arcgismapadvanced.aspx

And I'm not sure what's going on in Delaware County: http://www.co.delaware.pa.us/planning/mapping/GISDataLayers.html

[2016-09-16 17:56] davidchiles commented on #1977
I'm a bit unfamiliar with ESRI services so I don't know where to go from here.

This has the geometry: http://gis.york-county.org/yorkclient/proxy.ashx?http://pc61198svmh/ArcGIS/rest/services/York/ParcelPoly/MapServer/0/

This has the address string: http://gis.york-county.org/yorkclient/proxy.ashx?http://pc61198svmh/ArcGIS/rest/services/York/ParcelPoly/MapServer/1/

How can I combine them to use

[2016-09-16 18:12] davidchiles commented on #1942
Isn't this already added?
https://github.com/openaddresses/openaddresses/blob/master/sources/us/ca/trinity.json

[2016-09-16 18:12] trescube commented on #1982
Cumberland County doesn't appear to have any data in the results.  I get timeouts while connecting via qgis.

[2016-09-16 18:13] iandees commented on #2011
There's a parcels layer with situs addresses here:
http://interactivemaps.sugarlandtx.gov/arcgis/rest/services/Interactive_Map/City_Area_Map/MapServer/2

[2016-09-16 18:16] iandees commented on #1942
Yep!

[2016-09-16 18:16] #1942 closed

[2016-09-16 18:24] davidchiles commented on #1950
Data for Deschutes County, Oregon appears to be split up in two locations. The [Taxlots](http://data.deschutes.org/datasets/28019431cced49849cb4b1793b075bf1_2) contains the geometry and the [Mailing Addresses Table](http://data.deschutes.org/datasets/b4876b2c240946db893a6956daf20302_4) contains the address.

[2016-09-16 20:01] davidchiles commented on #1982
Using `esri2geojson http://gis.ccpa.net/arcgiswebadaptor/rest/services/Parcels/MapServer/42 cc.json` I was able to get 99,000 features. It did timeout at the end but it did complete 99 of the 101 requests.

[2016-09-16 23:10] iandees commented on #1982
Looks like we need Bucks, Delaware, and Montgomery counties in Pennsylvania.

[2016-09-16 23:14] nvkelso commented on #1982
I believe there is a related existing issue for Delaware county already.

[2016-09-16 23:15] iandees commented on #1982
Er, my comment was based on the counties we need around Philadelphia, not Harrisburg.

[2016-09-17 01:13] nvkelso commented on #1942
Verified on map, sorry for the noise!

[2016-09-19 17:58] #1952 closed

[2016-09-19 19:32] #2013 closed

[2016-09-19 20:19] #1981 closed

[2016-09-19 21:08] davidchiles commented on #2030
ArcGIS REST Services Directory: http://lcgmaps.lafayettela.gov/arcgis/rest/services

[2016-09-19 21:12] iandees commented on #2030
Here's an address layer: http://lcgmaps.lafayettela.gov/arcgis/rest/services/BaseLayerServices/LCG_Address_Points/MapServer/0

[2016-09-20 00:33] davidchiles commented on #1969
Source: http://gismap.augustaga.gov/arcgis/rest/services/Map_LayersJS/MapServer/73

[2016-09-27 23:15] justinelliotmeyers commented on #1945
Restrictions on use does not look positive (http://www.geodata.org/disclaimer.htm ) I emailed them (09/27/2016) to see if we can have written approval.

[2016-09-27 23:29] justinelliotmeyers commented on #1947
Their cities gis webpage is here: http://www.cityoftacoma.org/government/city_departments/community_and_economic_development/geographic_information_systems__gis_/ I sent an e-mail to the person requesting the data (09/27/2016).

[2016-09-27 23:33] justinelliotmeyers commented on #1948
sent e-mail requesting data (09/27/2016)

[2016-09-27 23:51] justinelliotmeyers commented on #1968
Sent e-mail requesting data (09/27/2016)

[2016-09-27 23:56] justinelliotmeyers commented on #1959
Found Data here: http://data.flagstaff.opendata.arcgis.com/datasets/2fb5c93fdef94c59a79e12a06b35e796_0 - unsure of license.  So I reached out to them here: http://www.flagstaff.az.gov/directory.aspx?EID=782 and asked for the most current data and an official letter for approval.  Sent 09/27/2016

[2016-09-28 00:05] justinelliotmeyers commented on #1964
SIgned up on their cities official request page (http://crm.santafenm.gov/constituent/) sent official request through this portal as well as e-mailing their gis department (09/27/2016)

[2016-09-28 00:12] justinelliotmeyers commented on #1975
Parcel data and other gis data here: http://www.cityofws.org/departments/planning/gis/gis-data-sets-for-download.  License and restrictions look prohibitive.  I have e-mailed them to see if they would consider being part of the project and send us official data and written permission. E-mailed 09/27/2016

[2016-09-28 00:18] justinelliotmeyers commented on #1973
Reached out to Richland Coutny and the city of Columbia asking for the data and written permission.  E-mailed 09/27/2016

[2016-09-28 00:24] justinelliotmeyers commented on #1976
Emailed both metro planning commission (http://www.knoxmpc.org/aboutmpc/contact.htm ) and cities gis dept (http://www.kgis.org/KGISMaps/Map.htm) 09/27/2016 - requesting data and permission

[2016-09-28 00:29] justinelliotmeyers commented on #1980
wrote and requested data and permission (https://durhamnc.gov/1227/GIS-Services )09/27/2016.  I believe data can be downloaded from here: https://opendurham.nc.gov/explore/?q=address&sort=modified (**there are three different datasets (with different amounts of records)).  It appears all three have a ODBL license - not sure if we can have that for this project?  http://opendatacommons.org/licenses

[2016-09-28 00:40] justinelliotmeyers commented on #2026
sent out several e-mails and asked on social media (facebook/ twitter) for gis/ planning department contact info and asked about open data.  Will need to follow-up asap.

[2016-09-28 12:41] justinelliotmeyers commented on #1976
Keith Stump <kstump@kgis.org> replied this morning:
Dear Justin,
 Thank you for your inquiry, but unfortunately we do not offer an open data option for  address data at this time. Best wishes on your project.
 Keith G. Stump,  GISP
 Executive Director / GIO
______________________
Knoxville, Knox County, KUB GIS (KGIS)
606 Main St, Suite 150
Knoxville, TN 37902
865.215.2641
www.kgis.org

I asked hi

[2016-09-28 13:20] justinelliotmeyers commented on #1976
I also reached out to the mayor's office to see if they would consider creating an open data portal: https://www.facebook.com/MayorBurchett/

[2016-09-28 16:25] justinelliotmeyers commented on #2026
followed up with planning department who told me to contact IT, who sent me to colorado computer support, who sent me back to the planning department.  I finally received someones contact info who may assist.
matt bingman
mbingman@springsgov.com
719-385-5602
called and left a voicemail - will follow-up tomorrow if I do not hear from him tonight

[2016-09-30 15:41] justinelliotmeyers commented on #1948
Received e-mail today - data is at cost - will not have open data until 2017.

Your email was forwarded to me to respond.

Clark County GIS is the central GIS repository for all of Clark County.

Thank you for letting us know about your project.  .   Open Data is important to Clark County GIS and it is something we are planning to address in 2017.   Our first focus will be on publishing our most p

[2016-09-30 17:46] nvkelso commented on #1948
Can you confirm the existing paid data is open licensed? (If we pay for it, can we redistribute it with credit back to them?)

[2016-09-30 18:29] justinelliotmeyers commented on #1948
Just called Mr. Bob Pool (2:29 CST)- Left voicemail.  I also e-mailed him.  So as soon as I hear back I will update everyone.

[2016-09-30 20:44] justinelliotmeyers commented on #1948
Bob E-mailed me this:
We are in the process of updating our licensing.
Clark County does not have any restrictions on use other than those issues covered in the Washington State Public Records Act.

We have a pretty simple disclaimer

Disclaimer: Clark County does not warrant the accuracy, reliability or timeliness of any information in this system, and shall not be held liable for losses caused b

[2016-09-30 22:08] nvkelso commented on #1948
I've emailed Bob asking to purchase the data.

[2016-09-30 22:11] #2011 closed

[2016-10-02 12:05] justinelliotmeyers commented on #1982
Contacted Montgomery County 10/2/2016

[2016-10-02 12:07] justinelliotmeyers commented on #1982
Contacted Delaware County (*do not know if we need it or not, just double checking regardless)

[2016-10-02 12:09] justinelliotmeyers commented on #1982
Contacted Bucks County 10/2/2016.

[2016-10-02 12:14] justinelliotmeyers commented on #1995
Contacted Wayne County requesting data 10/2/2016

[2016-10-02 12:16] justinelliotmeyers commented on #1995
Contacted Oakland County requesting data 10/2/2016

[2016-10-02 12:20] justinelliotmeyers commented on #1995
Contacted Macomb County requesting data 10/2/2016

[2016-10-03 13:24] justinelliotmeyers commented on #1995
Oakland County response:
Justin,

I received your request below, Oakland County GIS data can be purchased through the Oakland County One Stop Shop
One Stop Shop Business Center
Economic Development & Community Affairs Oakland County, Michigan
248.452.2058

Cost is $.01 per record and there are 491,901 records ($4,919.01).  OSS office charge of $30.  Total would be $4,949.01.
We also require a sign

[2016-10-03 13:25] justinelliotmeyers commented on #1995
As per Oakland County, might be a better idea to contact individual cities to see if they will share without such a large cost.

[2016-10-03 17:32] nvkelso commented on #1995
Yikes! Let's see if individual cities have better price options (hopefully
free).

On Mon, Oct 3, 2016 at 9:25 AM, Justin Meyers <notifications@github.com>
wrote:

[2016-10-04 11:21] jalbertbowden opened #2055 "Open Addresses Evangelism"
trying to help find places for OA to engage communities and spread the word.
if anyone would prefer this somewhere else or in some other format, apologies, just let me know where and what.
I imagine the goal is to engage communities/government depts/agencies to get them to adopt OA at the very least, start making commits and being "owners" at the very best. If so, I see many uses for this list, in

[2016-10-04 12:37] justinelliotmeyers commented on #1980
Email and data received - **No Mention of copyright - I e-mailed and asked as well as voicemail.  Will call again today.

Hi Justin,

Per your request I have placed the latest shapefile of the county-wide address points on our FTP site for you to download. Please follow the login credentials below to access this site:

Web browser entry: -
Username: -
Password: -

Please copy the contents of the f

[2016-10-04 12:37] justinelliotmeyers commented on #1980
uploading data to dropbox and will update link

[2016-10-04 12:41] justinelliotmeyers commented on #1995
Macomb County Update from Dan Durkee (dan.durkee@macombgov.org )
1st email response: Hi Justin, we do not have a distribute-able point address data set to provide you.  thanks for your interest

I emailed him back asking how I could succesfully achieve the task without the counties data.

2nd response: Hi Justin, you could ask each community's tax assessor(addressing authority) in Macomb County fo

[2016-10-04 12:59] justinelliotmeyers commented on #1980
https://www.dropbox.com/sh/4pwm2iyb25tlbk1/AABLnuePkbhdURtA-zruuzA-a?dl=0

***I need to get a copyright response before I can say use this data

[2016-10-04 20:06] justinelliotmeyers commented on #1982
Deleware, PA Update:
Hi Justin,
Are department does not currently have an address point shapefile/ csv and probably will not in the near future. I will keep your information on file should this change.
Thank you,

Description: Description: photo
Julie Del Muto
GIS & Information Services Manager
Delaware County Planning Department
201 W. Front Street | Media, Pennsylvania 19063
Phone: (610) 891-449

[2016-10-04 21:07] justinelliotmeyers commented on #2026
Matt called me today (10/4/2016 4 pm CST) and said they have the data.  He cannot just give it to me because it is from their police department - He literally had to take a polygraph test to access it (no idea why - thought i would just make mention of it!?!) - He is reaching out to the head of IT to see if it is something we can access and will get back to me in the next day or two.

[2016-10-04 21:08] slibby commented on #2026
Wow, please thank him for his diligence!

[2016-10-04 21:23] migurski commented on #2055
Hi Albert, thanks for this! With our current level of coverage, OpenAddresses is in a great place to make a case to local authorities on getting data included in the directory. Most recently, @justinelliotmeyers has been contacting government data owners directly in places where we’re lacking data. This does raise the issue of contact information for datasets, which I believe does not currently ex

[2016-10-05 01:42] jalbertbowden commented on #2055
no problem, happy to help, wish I could do more.
I'll just keep updating this until it needs to be moved, reformatted, etc.

[2016-10-06 18:10] justinelliotmeyers commented on #1980
Called Mr. Huang for past three days and left voicemails and e-mails.  No response.  Called the GIS Manager ( Marcus Bryant) and he was not in office either.  Left him a voice mail.  I will continue to follow-up until I understand what metadata/ terms/ copyright on shapefile is.

[2016-10-06 18:24] justinelliotmeyers commented on #1980
Marcus Bryant called me back - its open - use for whatever you want!  He told me we cannot receive in writing and told me to follow their terms here: http://opendurham.nc.gov/terms/terms-of-use/

[2016-10-06 18:26] justinelliotmeyers commented on #1964
following up today:
lisa martinez
land use director
5059556617

[2016-10-07 05:19] nvkelso commented on #1980
@iandees A curious set of mixed messages in the src data license (local gov't says use it for anything, but it's technically released under an ODbL).

What's OpenAddresses approach to ODbL sources? Are there other ODbL datasets included already?

[2016-10-07 05:20] nvkelso commented on #1980
Looks like there are a handful of other ODbL datasets included:

- https://github.com/openaddresses/openaddresses/search?utf8=%E2%9C%93&q=odbl

[2016-10-07 14:04] iandees commented on #1980
Yep, we have a couple ODbL sources. They should only be included in the share-alike output of OpenAddresses.

It does appear that the Durham folks are confused about what ODbL means, or maybe the dataset they gave via FTP is different than the one on the opendurham portal?

[2016-10-07 14:16] justinelliotmeyers commented on #1980
I think the open data concept is new to some people. When I spoke with Mr. Bryant - he said that this is a new concept to the people there and they put the cart before the horse; literally called the open data movement and the direction of all things tech the Wild West!  But I asked him about the terms of use and he said there were none.  I pointed out that their site has two different sets of ter

[2016-10-07 16:48] justinelliotmeyers commented on #1964
literally bounced around all week - called about ten times...  *new contact - http://www.santafenm.gov/staff_directory/detail/323
LEONARD PADILLA

GIS Project Coordinator
Information Technology and Telecommunications
GIS - Geographical Information Systems
(505) 955-6616

[2016-10-07 17:01] justinelliotmeyers commented on #1964
**Leonard Padilla - Super helpful - sending the data and terms.  Also sending me the person who is the head of the statewide user group - then if we need anyone elses contact information in the state, we will have it.  We may even be able to obtain a statewide address dataset.  will copy entire email once he sends the data and upload data.

[2016-10-07 19:07] justinelliotmeyers commented on #1982
Montgomery County response:
Hi Justin,

You will need to speak with our IT Department. We do not have address points in shapefile as of this time, but it is something we are working towards. However, our address data is available through our IT Data Sales: http://www.montcopa.org/439/Data-Sales

I am calling to see if we can get just points and addresses for free and what terms are

[2016-10-07 19:30] justinelliotmeyers commented on #1964
https://www.dropbox.com/sh/s07nzmqv49pwlgh/AACEpl49RLO5RHKsvQh73TRGa?dl=0

[2016-10-07 19:31] justinelliotmeyers commented on #1964
I had to call him back and remind him to send the data...  Thats how my week is going to end!?!  As per the terms - he said no restrictions - but there is a disclaimer attached.  Let me know if anyone has questions.  Thanks!

[2016-10-07 19:35] iandees commented on #1964
This is great, @justinelliotmeyers! The disclaimer looks like a standard limitation of liability and the address points data looks pretty useful to me.

[2016-10-07 20:08] justinelliotmeyers commented on #1982
Ronald P. Feick MPA,  GIS Coordinator
Montgomery County Planning Commission
PO Box 311
Norristown, PA 19404-0311
Rfeick@Montcopa.org
610.278.3619 (p)
610.278.3941 (f)
www.planning.montcopa.org

Sent me three forms to fill out and send back.  **can take one day or up to a month for the boss to approve.  Seems optimistic that we may get the data for free.  Would anyone like to fill these out and sen

[2016-10-07 20:14] iandees commented on #1982
The agreement has this terminology:

…which means we can't really use it.

[2016-10-07 21:28] migurski commented on #1980
As long as we mark the right "attribution required" and "share-alike" flags in the OA source information, the data will be handled appropriately in our system.

[2016-10-07 21:33] migurski commented on #1982
Maybe appropriate to set up a source with `skip: true` and that note?

[2016-10-10 20:32] davidchiles commented on #576
Found possible source here: http://ocgis.orangecountygov.com/ArcGIS/rest/services/Dynamic/LandBase/MapServer/0

[2016-10-10 20:48] trescube commented on #576
Orange County, NY appears to be missing from the statewide file, so great catch!  I poked around in the data and care should be taken with parsing the fields, since the `StreetAddress` field is the house number, street, and optional unit info all jammed together.

[2016-10-12 20:17] slibby opened #2060 "Gwinnett County, GA"
Gwinnett County is one of the largest counties (by population) with no OpenAddresses point data.

Their GIS site sells data for a nominal fee: https://www.gwinnettcounty.com/portal/gwinnett/Departments/InformationTechnologyServices/GeographicInformationSystems/GISDataandMapSales?portal:windowState=normal&portal:componentId=c7bbb381-c193-4cf0-89f0-7e893ecb2ab8&interactionstate=JBPNS_rO0ABXd5ABNzdHJ

[2016-10-13 11:09] iandees commented on #2060
I was about to buy this data, but unfortunately the license agreement for this data says:

offer, or transfer the GIS Data, or any portion thereof, to third parties except as may be
specifically authorized in a written addendum to this Agreement

[2016-10-13 11:16] nvkelso commented on #2060
I nominate @justinelliotmeyers to hassle Gwinnett County, GA for a written addendum saying OpenAddresses is awesome.

[2016-10-13 16:19] justinelliotmeyers commented on #2026
10/13/2016 called Matt backand left a voicemail - emphasizing we only need lat/ long/ st name and house/ bldg number.

[2016-10-13 16:23] justinelliotmeyers commented on #1976
Sent final follow-up to Mr. Gustin to see if we can get the data

Jon Gustin
Manager, E-Government Services
Knox County GIS Coordinator
Knox County Office of Information Technology
400 Main Street, L-114
Knoxville, TN 37902
Office: 865.215.4227
Cell: 865-254-0600

[2016-10-14 14:22] justinelliotmeyers commented on #2026
10/14/2016 called Matt again and left voicemail

[2016-10-14 14:31] justinelliotmeyers commented on #1976
Knox County, Knoxville, and the utility board will not share the data at this time - I tried to explain open data would benefit everyone, but Mr. Gustin was not hearing it and there was a long silence on the phone with him.  Festive.

[2016-10-18 15:19] missinglink opened #2070 "mixed housenumber / street name in us/nj/statewide.csv"
the housenumber and street name fields seems to be mixed up for `us/nj/statewide.csv`

[code]

[2016-10-18 15:24] trescube commented on #2070
The regex `^([0-9]+) (.*)` doesn't take hyphenated house numbers into account.

[2016-10-18 15:28] missinglink commented on #2070
Do they have a consistent house number scheme in NJ?

I don't really understand how to read `416-18` and why it's there multiple times, is that a valid part of the street name?

[2016-10-18 15:35] trescube commented on #2070
Not sure, according to google maps it's just `416 Grand St`.  I'll have to research some more.

[2016-10-19 09:48] missinglink commented on #2070
http://www.openstreetmap.org/way/27053646

[2016-10-19 09:57] missinglink commented on #2070
[code]

[2016-10-19 10:11] missinglink opened #2075 "discussion: housenumber extraction regexen"
hey all, I came across this issue when investigating https://github.com/openaddresses/openaddresses/issues/2070

it seems like most of the regexen don't support *alphanumeric house numbers* (eg. `1a`) or *address ranges* (eg. `1-10`).

the most common form of regex seems to be `^([0-9]+)` which would probably be better as something like `^([0-9]+[a-zA-Z]?|[0-9]+-[0-9]+)`.

as a result the street r

[2016-10-19 14:31] justinelliotmeyers opened #2076 "St. Charles County, MO new open data portal with addresses"
http://gis.sccmo.opendata.arcgis.com/datasets/1cabc91810a54f29ba42637dfff92748_0

[2016-10-19 14:33] justinelliotmeyers opened #2077 "EL Paso County, Colorado Address Data"
https://www.dropbox.com/sh/nnux4dwcxlivva2/AAC2_0oXKeDS-_kOQNDtedY8a?dl=0

sent from : Stephen Fischer
GIS Analyst/CAMA Re-Appraisal Supervisor
1675 W. Garden of the Gods Rd. Ste. 2300
Colorado Springs, CO 80917
719.520.6629

[2016-10-19 14:55] justinelliotmeyers opened #2078 "Ireland National Address Data Request Sent"
email sent to: info@GeoDirectory.ie
Requesting their GeoDirectory data (https://www.geodirectory.ie/ ).

[2016-10-20 18:18] migurski commented on #2075
Maybe this is an opportunity for a new function in the core tag set that's a pre-baked, reliable regex for street numbers?

[2016-10-20 20:44] thatdatabaseguy commented on #2075
Depends on whether you want it to work absolutely everywhere or not. There are many edge cases around the world that differ from those listed above:

- In Japan, the house number is neighborhood + block + building number (+ apartment number optionally) so may see "5-2-4" or "5-2-3-234". There's also no whitespace, and the digits may be written as wide Unicode like "１９-１"
- In the Czech Republic, t

[2016-10-20 21:15] trescube commented on #2075
@thatdatabaseguy I've been sitting on this for awhile but haven't gotten around to write up yet but this seems like as good as place as any to start.  Incorporating libpostal into OA is something we've been tossing around for awhile so I wrote up some tests to figure out how well it does at teasing apart house number and street for OA sources.  My test data is from the [San Francisco source](https

[2016-10-20 21:19] trescube commented on #2075
For a first pass, regex-wise, to start with I'd personally be thrilled with just a US/CA one that works 99% of the time.  There are ~3,140 counties in the US alone and copying around the number/street regexes around gets cumbersome, especially when trying to remember where the ones are for `1/2` and letters-appended-house-number.

[2016-10-21 05:44] thatdatabaseguy commented on #2075
Ah, heard that might be on the horizon.

Incidentally, OpenAddresses is also being incorporated into the next libpostal release for hopefully handling those sorts of cases (better modeling of road names that might not be in the OSM road network, valid contexts for postal codes). There's something like 3x the training data in OpenAddresses as in OSM, it has more coverage in certain areas, many of t

[2016-10-21 14:06] missinglink commented on #2075
@thatdatabaseguy it might be better for you to train on the raw data received from the origin servers (ie. before any regexii have been run against them).

[2016-10-21 18:49] iandees opened #2083 "Improved Waukesha County, WI source"
http://maps.waukcogeo.com/arcgis/rest/services/E911/MapServer/11/

[2016-10-21 19:58] thatdatabaseguy commented on #2075
That's a good idea. So far the regexes haven't been as much of an issue since many sources are already pre-separated, and the sources that do use regexes are mostly in the US and constrained to a single county/municipality, so said regexes tend to be reasonably accurate.

@migurski is it possible to save CSV versions of the source files with the original columns? Since [machine](https://github.com

[2016-10-21 23:28] migurski commented on #2075
We do store a cached version of everything, is that what you mean? Check the "cache" column at https://results.openaddresses.io.

[2016-10-21 23:57] thatdatabaseguy commented on #2075
That's close enough. As long as it converts the ESRI sources to CSV. The rest of the cached files appear to be GeoJSON and shapefiles, which are fine.

[2016-10-22 00:15] migurski commented on #2075
Great!

[2016-10-24 20:58] justinelliotmeyers commented on #2078
They are a commercial entity - want lots of money for the data, I was hoping they would see the value in participating in our project and send us data openly.  Not going to happen.

[2016-10-24 20:58] #2078 closed

[2016-10-24 21:01] justinelliotmeyers opened #2085 "Bates County, MO address data"
**Lat, Long values need to be updated**
The e911 person told me they aren't 100% done with the dataset, but should be in a few weeks.  I asked for what they have now and sent this.
https://www.dropbox.com/sh/nd4i1i9qo20vaxi/AADaKhLurWIeO9qIoInNsejUa?dl=0

[2016-10-24 21:01] justinelliotmeyers commented on #2085
@slibby I assigned to you so you can show me what to do next whenever you have time.  Thanks.

[2016-10-24 21:18] slibby commented on #2085
1.  Download and extract the files, record the shapefile name and the fields for number, all street info, and zipcode, town and county if present.
2. Find another conform object from a recent PR that is relatively similar (shapefile): https://github.com/openaddresses/openaddresses/blob/ac003d8cc001752ad0b92aea9c28b3f79004a31b/sources/us/tx/brazoria.json
3. Copy that JSON to a text file and update

[2016-10-24 21:21] slibby commented on #2030
closed via #2050

[2016-10-24 21:21] #2030 closed

[2016-10-24 21:27] slibby commented on #2085
also some people have been adding photos of the coverage for proof of quality (taken from your desktop GIS of choice).
![image](https://cloud.githubusercontent.com/assets/1691225/19664586/6084d60a-99fe-11e6-8a7e-779d82067223.png)

[2016-10-24 22:49] migurski commented on #2075
@trescube and I spoke about this today, and we think that a good move forward would be to add a US/Canada function to the core machine library that implements some of the regexes above.

[2016-10-25 23:51] aaronpdennis opened #2087 "Washington County, PA"
Parcel feature server:
https://services2.arcgis.com/LgK9DpUhNjdU0HLy/ArcGIS/rest/services/Parcels_AGO/FeatureServer/0

Each feature from feature server has a link referencing address information. Example:
http://washcounty.info/wcmtp/trirsp2gv_stringVar.asp?parcel=245-046-00-00-0001-00

`PIN` attribute also matches between features and url query.

[2016-10-26 03:22] osMatt commented on #1300
A collection of Colorado addresses is available at https://data.colorado.gov/Transportation/2015-Colorado-Address-Layer-Public-/n7je-akky. Since these are taken from other available data sources, many of these might already be included. I have not checked all counties, but a difference is that Boulder county (see also #411) is included in this data source.

[2016-10-26 03:28] iandees commented on #1300
More info about the statewide project: http://oit.state.co.us/broadband/colorado-state-address-dataset

[2016-10-27 14:56] justinelliotmeyers opened #2090 "Jefferson County, AL"
http://jeffcogis.jccal.org/jccarcgis/rest/services/Current/LabelsCurrentNoAnno/MapServer/0

[2016-10-27 16:21] #2090 closed

[2016-10-31 14:54] slibby commented on #2085
closed by https://github.com/openaddresses/openaddresses/pull/2086

[2016-10-31 14:54] #2085 closed

[2016-10-31 15:09] slibby commented on #2020
Park County, WY has an old, old MapServer app available here: http://maps.greenwoodmap.com/park//
County Assessor contact: PMeyer@parkcounty.us

[2016-10-31 15:20] slibby commented on #1996
Open REST Service: http://gis.sccmo.org/scc_gis/rest/services/open_data/AddressPoints/MapServer/0/

[2016-10-31 15:56] #1996 closed

[2016-10-31 16:37] missinglink opened #2098 "duplicate entries in openaddr-collected-global.zip"
@iandees I mentioned this to you once before and I thought it was resolved, but I still have the same issue today on a fresh download from `http://s3.amazonaws.com/data.openaddresses.io/openaddr-collected-global.zip` :(

I'm not sure exactly how this is possible.. but the `openaddr-collected-global.zip` file contains duplicate entries for the same file path:

[code]

there is an `-o` flag for `unz

[2016-10-31 16:47] trescube commented on #2098
@missinglink Are you on a mac or linux?  Mac's native compression utilities have a weird issues with really large .zip files including, but not limited to, claims of duplicate entries.  I ran into this issue a few months ago and had to resort to [7zip](http://www.7-zip.org/7z.html) on OSX to handle it correctly.

[2016-10-31 16:48] missinglink commented on #2098
[code]

[2016-10-31 16:49] trescube commented on #2098
Well I'm stumped then.

[2016-10-31 16:54] missinglink commented on #2098
I just had a read online and apparently it's totally valid for a zip file to have two entries with the same path when adding files using 'append' mode. There is no integrity check and so presumably the second file will override the first and that's the intended behavior (when using the `-o` flag).

I'm not sure how big an issue it is really, just a bit of a gotcha when scripting an OA download/upd

[2016-10-31 17:41] migurski commented on #2098
Yeah that’s frustrating; I’ll investigate again to see why dupes might show up.

[2016-11-01 00:57] justinelliotmeyers commented on #2060
I emailed sharon.stevenson@gwinnettcounty.com again.  first time it took her 5 days to reply... now we are on 13 days... so hopefully she replies soon.  Our initial phone conversation - they have the data but not 100% coverage of the county - that is one reason they are reluctant to share at this point.  I told her anything now would be helpful to us.  She said she would talk it over with the gis

[2016-11-01 01:01] justinelliotmeyers commented on #2026
I think we can close this because we have the data for all of El Paso County, CO.

[2016-11-01 01:02] justinelliotmeyers commented on #2026
El Paso link here: https://www.dropbox.com/sh/nnux4dwcxlivva2/AAC2_0oXKeDS-_kOQNDtedY8a?dl=0

[2016-11-01 01:14] justinelliotmeyers commented on #2005
Tulsa data here: http://maps.cityoftulsa.org/gis/rest/services/Base/tca_parcel/MapServer/0

[2016-11-01 01:16] iandees commented on #2026
I used our upload thing to put this on S3 here: https://s3.amazonaws.com/data.openaddresses.io/cache/uploads/iandees/b43a21/JM EPC Lat Long Location Data.zip

[2016-11-01 02:05] #2026 closed

[2016-11-01 15:31] justinelliotmeyers commented on #1975
[WS_GIS data request, release, disclaimer and fees.pdf](https://github.com/openaddresses/openaddresses/files/564369/WS_GIS.data.request.release.disclaimer.and.fees.pdf)

Licensing looks restrictive - even if we purchased, would not be able to use (* No use for resale or commercial purposes*)

[2016-11-01 15:33] justinelliotmeyers commented on #1975
calling Forsyth County to see if they will give us data instead of city

[2016-11-01 15:36] justinelliotmeyers commented on #1975
Dave Toren
GIS Programmer
MapForsyth
Forsyth County

(336) 703-2329

said shouldn't be a problem to share data, but has to speak with Matthew Hamby, the City / County Addressing Coordinator.  If I do not hear from him tomorrow, he told me to call back and we will get it figured out.

[2016-11-02 00:29] justinelliotmeyers commented on #1979
Deleware Co update - DelmutoJ@co.delaware.pa.us - There is a regional NG911 group that will be addressing this data so it’s possible it will happen sooner than later but no guarantee.
I’ll keep you posted if anything changes.
-Julie

[2016-11-02 00:34] justinelliotmeyers commented on #1959
@iandees data is here: http://data.flagstaff.opendata.arcgis.com/datasets/2fb5c93fdef94c59a79e12a06b35e796_0

Was told to "use the data" for the project.  I do not see anything about a license - so maybe just note that.

Margaret Neff <MNeff@flagstaffaz.gov>
to me
Please go ahead! It’s open data!

[2016-11-02 00:37] justinelliotmeyers commented on #1968
We have data for Jackson County - can close this issue

[2016-11-02 00:51] iandees commented on #1968
I don't see it in the Alabama folder: https://github.com/openaddresses/openaddresses/tree/master/sources/us/al

[2016-11-02 00:54] justinelliotmeyers commented on #1968
**Sorry, I'm a idiot - if it in Jefferson County.  https://github.com/openaddresses/openaddresses/commit/fb890d04cd8efca86dd02d70b63fd4c957f72619

[2016-11-02 00:55] justinelliotmeyers commented on #1968
Birmingham is in Jefferson County.

[2016-11-02 01:03] iandees commented on #1968
Wahoo!

[2016-11-02 01:03] #1968 closed

[2016-11-02 04:43] nvkelso commented on #1948
Bob wrote back saying they only take check payment by mail. I'll send him a check.

[2016-11-02 05:08] nvkelso commented on #1948
Before I do that: @iandees can you confirm you did not already send them a check, please?

[2016-11-02 11:20] iandees commented on #1948
@nvkelso I have not sent a check. Go for it!

[2016-11-02 11:22] iandees commented on #1948
...and thanks!

I'm excited: this'll be the first time we buy and release data.

[2016-11-02 13:55] justinelliotmeyers opened #2102 "Boone County, MO, and the city of Columbia, MO"
As per Boone County -
https://www.showmeboone.com/GIS/
GIS Manager
Jason Warzinik, GISP
Boone County Govt. Ctr.
801 E. Walnut Street, Room 220
Columbia, MO 65201
Phone (573) 886-4325
E-mail jwarzinik@boonecountymo.org

purchase - license agreement - **No data for Columbia, MO
$150 -
address data mentioned at top - https://www.showmeboone.com/GIS/metadatafiles/metadata.asp

I am requesting data now

[2016-11-02 13:56] justinelliotmeyers commented on #2102
looks like we already have data for Columbia - I will get the license agreement for the rest of the county now

[2016-11-02 19:39] justinelliotmeyers commented on #1975
We have received the data!! 189k records!! NAD_1983_StatePlane_North_Carolina_FIPS_3200_Feet

https://www.dropbox.com/s/ie1eo9k8gsk4l58/FCAddresses_1.zip?dl=0

[2016-11-02 19:46] iandees commented on #1975
Uploaded the data here:
https://s3.amazonaws.com/data.openaddresses.io/cache/uploads/iandees/eb1e8e/FCAddresses_1.zip

[2016-11-02 20:01] #1975 closed

[2016-11-02 20:41] #2083 closed

[2016-11-02 20:45] #1959 closed

[2016-11-02 21:23] nvkelso commented on #1948
Wosh! Check is in the snail mail. Now the waiting begins.

On Wed, Nov 2, 2016 at 5:22 AM, Ian Dees <notifications@github.com> wrote:

[2016-11-03 04:39] nvkelso commented on #1982
Related: #2054 for Bucks county.

[2016-11-03 16:35] justinelliotmeyers commented on #2032
**
http://hawaiistatewidegisopendataportal.histategis.opendata.arcgis.com/datasets/579b8dcb7a8e44c1af201e1b3cdf655f_25

http://files.hawaii.gov/dbedt/op/gis/data/alltmk.shp.zip

wrote them to see if they have addresses to link to parcel data or if they have a different address point dataset.

[2016-11-03 23:37] justinelliotmeyers commented on #2036
Juneau Parcel Data here: https://ftp.ci.juneau.ak.us/pub/CBJ_GIS_map_layers/juneau_alaska_gis_internet_parcel_layer.zip

house number and street name in the site_addrs field.
![juneau_parcels](https://cloud.githubusercontent.com/assets/5324316/19989439/dd22f650-a1fc-11e6-8cad-1ff1855f5bfd.jpg)

license not mentioned but maybe in overview here: http://epv.juneau.org/

[2016-11-03 23:43] justinelliotmeyers commented on #2027
no data here: https://services3.arcgis.com/cEsSI6IR59h5UGE4/ArcGIS/rest/services

[2016-11-03 23:45] justinelliotmeyers commented on #2027
officially requested data from Caddo Parish here: http://la-caddoparish.civicplus.com/FormCenter/Online-Forms-2/Public-Works-GIS-Map-Request-Form-38

[2016-11-03 23:59] justinelliotmeyers commented on #2016
requested nueces county data here: http://ncadhelpdesk.ncadistrict.com/open.php?ht=2
**support ticket request #736739

[2016-11-04 00:07] justinelliotmeyers commented on #2016
Nueces County parcel data here:http://cloud.ncadistrict.com/public.php?service=files&t=57da5993d5037aa98607a6b871f001a1&path=%2FGIS%20File&files=Nueces_Parcels%206-28-2016.zip&download
![nueces_county](https://cloud.githubusercontent.com/assets/5324316/19990004/be17a338-a200-11e6-947c-f5d62b8d5dc2.jpg)

house number - SITE_NUM
street name - SITE_STR

[2016-11-04 00:08] justinelliotmeyers commented on #2016
copyright not mentioned - but data is free on their site for download

[2016-11-04 00:12] justinelliotmeyers commented on #2032
Hello,

I’m afraid that we don’t have address points for the parcels.  The City and County of Honolulu does have a site address table for their parcels, which can be found here:  ftp://gisftp.hicentral.com/Attribute_Tables/. For the other counties, you might try contacting their respective Real Property Tax Division offices.

Thanks,

Joan Delos Santos
_____________________________

Joan Delos San

[2016-11-04 00:12] justinelliotmeyers commented on #2032
i replied to ask if anyone in her office knew of the data and for specific contacts if I were to have to reach out to individual tax offices.

[2016-11-04 00:20] justinelliotmeyers commented on #1999
Nate, Please review this:
https://www.wycokck.org/InternetDept.aspx?id=31824

They have data you can download here:https://www.wycokck.org/InternetDept.aspx?id=19356&menu_id=1426

But the wording in that last bullet point doesn't sit well with me - but maybe I am reading it wrong?

[2016-11-04 00:22] justinelliotmeyers commented on #1999
more terms here: https://www.wycokck.org/geoportal/

[2016-11-04 00:28] justinelliotmeyers commented on #1999
Reached out to the 911 Mapping project in case the above doesn't work out.  http://www.marc.org/Data-Economy/Maps-and-GIS/Current-Projects/9-1-1-Mapping emailed marc_gis@marc.org 11/3/2016

[2016-11-04 00:30] justinelliotmeyers commented on #1978
emailed gis@luzernecounty.org the county asking for data 11/3/2016

[2016-11-04 00:32] justinelliotmeyers commented on #1978
also emailed
Kurt Sauer
Director of OCD
570-208-4135
ksauer@wilkes-barre.pa.us

[2016-11-04 00:33] justinelliotmeyers commented on #1978
also emailed Fred J. Rosencrans
9-1-1 Executive Director
100 Young Street
Hanover Township, Pa.  18706
Phone: (570) 826-3058
Fax: (570) 826-3056

E-Mail: Fred.Rosencrans@luzernecounty.org

[2016-11-04 00:58] justinelliotmeyers commented on #1967
@iandees you think this will work?  http://gis.auburnalabama.org/public/rest/services/Main/COABasemap/MapServer/2

It says "There are no markers for the address point location, although the label text that displays is the approximate location of the address point" for every address point layer in their Mapserver...  or should we try to use the parcels themselves?

[2016-11-04 00:59] justinelliotmeyers commented on #1978
Fred replied:
Justin,

I forwarded your request to the County GIS Director Dave Skoronski

[2016-11-04 01:02] justinelliotmeyers commented on #2032
Emailed the following on 11/3/2016:
Kauai County GIS Coordinator:
Garrett Johnson
Department of Information Technology
(808) 241-4492
gjohnson@kauai.gov

Maui County GIS Services Manager:
Bill Medeiros
Department of Management
(808) 270-7518
mauigis@maui.net

The County of Hawaii GIS Coordinator is out on leave.  While she is away, you can contact Sheila Cadaoas:

Sheila Cadaoas
Information System

[2016-11-04 01:08] justinelliotmeyers commented on #1969
@davidchiles thanks for the source!  looks good amigo!
![augusta_ga_address_points_11_3_2016](https://cloud.githubusercontent.com/assets/5324316/19991148/94db23ce-a209-11e6-94d0-6ff7d0956a7f.jpg)

[2016-11-04 13:49] justinelliotmeyers commented on #1988
emailed Planner II- Kevin Schronce, kschronce@cityofflint.com 11/4/2016

[2016-11-04 13:52] justinelliotmeyers commented on #1988
http://services3.arcgis.com/blE8NdGZSd9Sfngv/arcgis/rest/services/genParcels/FeatureServer/0

but a token is required?

[2016-11-04 19:35] migurski commented on #1988
Is there a web view of these? We have dealt with tokens before like this: https://github.com/openaddresses/openaddresses/pull/2079

[2016-11-04 19:40] justinelliotmeyers commented on #1988
Not sure where I found this last night, but this has their parcels: http://flint.maps.arcgis.com/apps/webappviewer/index.html?id=6b818d399713408f92dc897d80e283bd

**You are going to have to exaplin how you do this magic.

[2016-11-05 03:04] #1967 closed

[2016-11-05 03:16] #1969 closed

[2016-11-05 03:21] #1988 closed

[2016-11-07 12:24] justinelliotmeyers commented on #1955
contacted planning and zoning: pandz@co.twin-falls.id.us 11/7/2016

[2016-11-07 12:25] justinelliotmeyers commented on #1955
contacted assesor: tfcassessor@co.twin-falls.id.us 11/7/2016

[2016-11-07 12:27] justinelliotmeyers commented on #1966
tons of data here: http://maps.cityofmobile.org/GIS/gisdata_download.aspx but no parcels or addresses.  Emailed: gis@cityofmobile.org 11/7/2016

[2016-11-07 12:35] justinelliotmeyers commented on #1949
https://gis.yakimawa.gov/arcgis101/rest/services/Assessor/AssessorParcels/MapServer/0

data is updated nightly

[2016-11-07 12:35] justinelliotmeyers commented on #1966
http://maps.cityofmobile.org/arcgis/rest/services/AddressPnt_MS/MapServer/0

[2016-11-07 12:44] justinelliotmeyers commented on #2020
emailed: support@cityofcody.com 11/7/2016
also asked them on their facebook wall: https://www.facebook.com/cityofcody

[2016-11-07 12:49] justinelliotmeyers commented on #2012
parcels: http://gis.ci.waco.tx.us/arcgis/rest/services/Parcels/MapServer/0

[2016-11-07 12:53] justinelliotmeyers commented on #2019
address: https://311webservreq.cityofbeaumont.com/map/rest/services/CRW/FeatureServer/0
parcel: https://311webservreq.cityofbeaumont.com/map/rest/services/CRW/MapServer/6

[2016-11-07 12:53] justinelliotmeyers commented on #2019
Disclaimer:

This web page is a public resource of general information. The City of Beaumont makes no warranty, representation, or guarantee as to the content, sequence, accuracy, timeliness, or completeness of any of the spatial data or database information provided herein. The City of Beaumont shall assume no liability for any errors, omissions, or inaccuracies in the information provided regard

[2016-11-07 12:58] justinelliotmeyers commented on #2018
http://co.nacogdoches.tx.us/maps/public_geodata_downloads/datasets/AddressPointsSHP.zip
Shapefile (File Size:1.34Mbs, Last Updated:11/04/2016)
Disclaimer:
By using this webpage you are confirming that you understand that all of the GIS data and resources avalable through this web-page are for informational purposes and may not have been prepared for or be suitable for legal, engineering, or survey

[2016-11-07 13:36] #1966 closed

[2016-11-07 13:48] #2019 closed

[2016-11-07 13:48] #2018 closed

[2016-11-07 16:43] justinelliotmeyers commented on #2020
https://www.dropbox.com/s/9uufp2oin9x8i0c/recodygisdatarequest01990.zip?dl=0
![cody_wy](https://cloud.githubusercontent.com/assets/5324316/20066368/52a5b310-a4df-11e6-933c-a3b77a50062a.jpg)

HOUSE_NUMB - house number
STREET_NAM - street name
Data from:
SCOTT KITCHEN | SYSTEM ADMINISTRATOR
(307) 527-3466 | skitchen@cityofcody.com
cityofcody-wy.gov | IT Support
1338 Rumsey Ave, Cody, WY 82414-3713

[2016-11-07 16:58] justinelliotmeyers commented on #1955
planning and zoning response: Justin,
Our office does not have address data, You may want to contact SIRCOMM (Southern Idaho Regional Communications Center) in Jerome County.  I think they may have that.
Sorry I couldn't help.
Paula

called JOHN MOORE
SIRCOMM DIRECTOR
(208) 324-1344
john@sircomm.com

they have no gis or address data.

[2016-11-07 17:01] justinelliotmeyers commented on #1955
may be able to scrape data from these?
https://tax.idaho.gov/gis/parcelmaps.cfm

[2016-11-07 18:14] nvkelso commented on #1955
@iandees what do we usually do with parcel polygons? There's good state-wide parcel data via that portal.

Looks like each parcel has a Site Address (eg: `Site Address: 1208 HIGHLAND LANE`), but parcels centroids are a bit sad / confusing when overlayed on their road network.

<img width="1223" alt="screen shot 2016-11-07 at 10 11 40" src="https://cloud.githubusercontent.com/assets/853051/20069803

[2016-11-07 18:14] dexterslu commented on #1995
@justinelliotmeyers @nvkelso Oakland County rest service parcel points here:
https://gisservices.oakgov.com/arcgis/rest/services/Enterprise/EnterpriseOpenParcelDataMapService/MapServer/0

Parcel polygons here:
https://gisservices.oakgov.com/arcgis/rest/services/BaseMap/EnterpriseCAMSBasemapMap/MapServer/132

[2016-11-07 18:18] iandees commented on #1955
Most of the data on http://data.idahoparcels.us/ is stuck in a Google Earth server that isn't easily scrape-able.

[2016-11-07 18:21] nvkelso commented on #2020
Looks like the Dropbox link is for Cody alone, and the MapServer link has similar data model but for entire county.

@iandees What's order of operations? Add both?

[2016-11-07 18:21] dexterslu commented on #1988
Here's the entirety of Genesee County's parcels, about 190k records:
http://services2.arcgis.com/5ckbIY7K9TUKoseK/ArcGIS/rest/services/Parcels/FeatureServer/0

[2016-11-07 18:48] iandees commented on #1995
Thanks @dexterslu. I got that in #2117. 👍

[2016-11-07 18:51] nvkelso commented on #1999
@justinelliotmeyers I read it as being CC-BY... with some extra language in there similar to what we see in other states like Washington that don't want people's names going out with the addresses.

[2016-11-07 18:52] dexterslu commented on #1995
@iandees great! Also, here is Wayne County proper:
http://services1.arcgis.com/b6rkZNtCd6Mx2gvB/ArcGIS/rest/services/parcel_updates_11_2016/FeatureServer/0

[2016-11-07 18:56] iandees commented on #2020
@nvkelso we don't have a way to extract data from old mapservers like that. It's a good indication that the data would be retrievable by talking to them, though.

[2016-11-07 19:12] nvkelso commented on #2036
I'm fine with that source.

[2016-11-07 19:28] nvkelso commented on #2020
@justinelliotmeyers Can you also track down the county data, please?

[2016-11-07 19:34] justinelliotmeyers commented on #1999
**data is here: https://arcgis.wycokck.org/mapserv/rest/services/WPCServices/Base_Map_No_Aerial_Simplified/MapServer/2 - but we cannot use the OWNER_NAME field - so that should be deleted as per what @nvkelso mentioned - the only fields we really want are NUMB (house number) and ST_NAME (street name).

Every other parcel dataset I have seen from them only has PARCEL and PARCEL_NBR.  So I really do

[2016-11-07 19:38] justinelliotmeyers commented on #2020
e-mailed
Park County Assessor: Pat Meyer (PMeyer@parkcounty.us)
Park County Courthouse
1002 Sheridan Ave. Cody, WY 82414
Cody: (307) 527-8650, Powell: (307) 754-8650
Toll Free: 1 (800) 786-2844 ext 8650
Fax: (307) 527-8649

[2016-11-08 06:27] #2005 closed

[2016-11-08 06:35] #1949 closed

[2016-11-08 06:53] #2012 closed

[2016-11-08 12:17] justinelliotmeyers commented on #1977
the above map server seems to be dead.  I emailed info@yorkcountypa.gov asking for the data (11/8/2016).

[2016-11-08 12:22] justinelliotmeyers commented on #1941
emailed the county about their gis data here: http://www.co.mendocino.ca.us/econdev/gis/index.htm
Nothing available for download.  hopefully hear back from them soon.

[2016-11-08 12:25] justinelliotmeyers commented on #1941
emailed assesor:
Susan M. Ranochak
Mendocino County Assessor-County Clerk-Recorder
501 Low Gap Rd., Room 1020
Ukiah, CA 95482
707-234-6800 (Assessor)

[2016-11-08 12:33] justinelliotmeyers commented on #2000
All of Cass County, ND parcel data here: https://www.casscountynd.gov/county/depts/GIS/download/Documents/cassparcels.zip

![cass_co_nd](https://cloud.githubusercontent.com/assets/5324316/20099237/7f9deea4-a585-11e6-82fb-f2525f299b7f.jpg)

Disclaimer: As with all public information derived from variable sources, this data may contain errors or faults. Therefore, Cass County does not provide any wa

[2016-11-08 12:38] justinelliotmeyers commented on #1992
believe we can close this as it is the same issue as: https://github.com/openaddresses/openaddresses/issues/2000

[2016-11-08 12:44] justinelliotmeyers commented on #1960
map here: http://gis.elkocountynv.net:1402/elkogisweb.html
address points here: http://gis.elkocountynv.net:1402/arcgis/rest/services/Basemap/AddressPoints/MapServer/0?f=json

@migurski  - can you make magic happen!?!?  Thanks!

[2016-11-08 12:47] justinelliotmeyers commented on #1941
![mendicino_ca](https://cloud.githubusercontent.com/assets/5324316/20099636/7d76aede-a587-11e6-8886-9a10149504ff.jpg)

found this - not sure if we can use it!?

[2016-11-08 12:53] justinelliotmeyers commented on #1953
emailed gis@co.tillamook.or.us  on 11/8/2016

[2016-11-08 12:56] justinelliotmeyers commented on #1954
will have to call:
Lincoln County Assessor

225 West Olive Street, Room 207
Newport, Oregon 97365

tel: (541) 265-4102
fax: (541) 265-4148

[2016-11-08 12:58] justinelliotmeyers commented on #1956
map here: http://coosmap.co.coos.or.us/cooscountymap/ but dont think we can get at the data...

[2016-11-08 12:58] justinelliotmeyers commented on #1956
emailed:
Laurie Burke,
Cadastral Cartographer
Team Leader

541-396-7906
lburke@co.coos.or.us

[2016-11-08 13:03] justinelliotmeyers commented on #234
Thanks @slibby http://maps.co.monmouth.nj.us/maps/rest/services/PublicData/Parcels/MapServer/0 has the parcels with addresses in the PropertyLocation field.  +250k locations!!
![monmouth_nj](https://cloud.githubusercontent.com/assets/5324316/20100064/9ce6b668-a589-11e6-986d-6fae52ae55ee.jpg)

[2016-11-08 14:08] iandees commented on #234
Thanks for finding such a great parcel dataset, but our statewide New Jersey address points dataset covers this area with better data. I don't think I'm going to add this for now.

[2016-11-08 14:11] #1992 closed

[2016-11-08 14:24] iandees commented on #1960
We already have the [Elko, NV data source](https://github.com/openaddresses/openaddresses/blob/master/sources/us/nv/elko.json).

But the title of this ticket is for Wendover, NV, which I think is actually a tiny little town in Utah. Is that what you had in mind, @nvkelso?

[2016-11-08 14:25] ingalls commented on #234
Hmm @iandees I think the more overlapping data sources we can get the better! If this has addresses I think we should definitely include it.

[2016-11-08 14:25] #2000 closed

[2016-11-08 14:29] iandees commented on #234
The reason I closed this is twofold:

1. There's an implicit assumption that smaller governmental units will have better data: that county data will be better than statewide data, for example. This dataset is the first that would not follow that assumption
2. There is only street address and number in a single line, and our current methodology (a regex) for splitting that apart is not very robust.

[2016-11-08 14:36] ingalls commented on #234
@iandees Thanks for the explanation here, definitely still think overlap is super important but your argument is convincing. Closing out.

[2016-11-08 14:37] iandees commented on #1956
Yea, that map system is not familiar to me.

[2016-11-08 14:38] iandees commented on #234
Yea, well you convinced me to add it so 😄

[2016-11-08 14:38] justinelliotmeyers commented on #1960
**Good thing you noticed this!  Utah has Statewide Parcels... *I think!?!  Tooele County is here: ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/CADASTRE/UnpackagedData/Parcels_Tooele/Parcels_Tooele_shp.zip
![tooele_county](https://cloud.githubusercontent.com/assets/5324316/20103113/a4ae7bee-a596-11e6-92d9-501a7bf6828e.jpg)

**8372/27930 have a null value for the address

Parent DIR has other

[2016-11-08 14:38] iandees commented on #1941
@justinelliotmeyers where did you find it?

[2016-11-08 15:22] justinelliotmeyers commented on #1941
http://mapport.com/mendocino-county-parcel-viewer/

I downloaded it - will take a little work to grab the data out of it, but not too much.  I don't know what the TOU would be... thoughts?

[2016-11-08 15:31] #2036 closed

[2016-11-08 15:55] ingalls commented on #234
Haha yeah I saw that soon after :P I'm all on board having it as well.

[2016-11-08 16:14] justinelliotmeyers commented on #1953
Hi Justin,
The county 911 system is the originator of address points.  I’ve cc’d the 911 director and LCOG.  You should contact them to get data for your program.

Wendy Schink
GIS Analyst
Tillamook County
201 Laurel Ave.
Tillamook, OR 97141
503-842-3400

[2016-11-08 16:17] justinelliotmeyers commented on #1953
followed up with
kmassie@lcog.org,
dkettner@tillamook911.com

[2016-11-08 16:25] nvkelso commented on #1941
No: Against terms: http://mapport.com/terms/

We'll need to get from county.

[2016-11-08 16:26] justinelliotmeyers commented on #1941
okay - I e-mailed them.  Hopefully hear from them soon.

[2016-11-08 17:29] nvkelso opened #2122 "Add link from preview map in PRs to big slippy map"
Following up from comments in https://github.com/openaddresses/openaddresses/pull/2111#issuecomment-258636634, we now have a map preview image of the new addresses over a basic street grid, water, parks. But sometimes it's nice to explore the region in more detail. For instance, I'm guessing downtown and industrial areas have bigger buildings but less address density here in Detroit.

**I propose

[2016-11-08 17:30] nvkelso commented on #2122
Seems like:

- [ ] Enable openaddresses.io to support #map anchor and URL arguments for zoom, lat, lng.
- [ ] Add links to preview images.

[2016-11-08 17:30] ingalls commented on #1941
Just a reminder that all counties in CA have to provide this data to the public at-cost of the records. http://geospatial-solutions.com/california-supreme-court-rules-that-orange-county-must-provide-gis-data-to-the-public-for-a-nominal-fee-under-the-public-records-act/

[2016-11-08 17:31] nvkelso commented on #1941
Sharing the common wealth of the Golden State.

On Tue, Nov 8, 2016 at 9:30 AM, Nick <notifications@github.com> wrote:

[2016-11-08 17:34] iandees commented on #2122
Just to repeat: the big map on openaddresses.io is only updated ~once a week and will not include the points added as part of the pull request.

If the goal is to get more context about the area the points are getting added to, let's just link to openstreetmap or similar?

[2016-11-08 18:03] nvkelso commented on #2122
Sure, linking directly to OpenStreetMap.org would be great!

[2016-11-08 19:18] migurski commented on #2122
These would be links in PR comments, I imagine? See also https://github.com/openaddresses/machine/issues/424 for where the work is likely to happen.

[2016-11-08 19:24] #234 closed

[2016-11-08 19:42] justinelliotmeyers commented on #1941
@nvkelso **currently working on address point dataset - will be ready in a few months ($30 for a cd/ dvd).  they do have parcels available now for $30 on cd/dvd.  I called (707) 234-6000 and asked to speak to someone with regard to gis data and that is what they told me.  So I am going to assign this to you.  The person I spoke to was named Leif Farr; very nice and helpful.

[2016-11-08 19:56] nvkelso commented on #1941
I'll ask for the parcels now.

[2016-11-09 12:29] justinelliotmeyers commented on #1943
Parcels: http://gis2.co.josephine.or.us/arcgis/rest/services/JOCO_TaxLots/MapServer/0

![joco_taxlots](https://cloud.githubusercontent.com/assets/5324316/20138264/6becf03a-a64d-11e6-9a76-1db55a942212.jpg)

house number - ST_NO
street name base - ST_NAME
street name suffix - SITUS_SUFF

DISCLAIMER: Any GIS Map image and/or data that may be provided by Josephine County resources is intended for gene

[2016-11-09 12:32] justinelliotmeyers commented on #1944
emailed Benton County, WA (gis@co.benton.wa.us )

[2016-11-09 12:41] justinelliotmeyers commented on #1944
@iandees
Franklin County, WA Parcels here: http://franklingis.org/franklingis/data/fe697be8_e7aa_11e5_a549_22000bb3a3a1/parcels

situs - has address stacked in field.

![franklin_co_us](https://cloud.githubusercontent.com/assets/5324316/20138685/b398bb38-a64f-11e6-8346-c8c8c7005b1c.jpg)

 Before proceeding, please read and accept the following terms and conditions governing the usage of the servic

[2016-11-09 12:53] justinelliotmeyers commented on #1946
Klamath County, Oregon Parcels: http://services.arcgis.com/H6Mh1bySxR4oHx6x/arcgis/rest/services/KC_Taxlots/FeatureServer/0

![klamath_or](https://cloud.githubusercontent.com/assets/5324316/20138969/95ad66bc-a651-11e6-9f62-17543b0c5035.jpg)

SITUS_ADDRESS - address - seems to be empty for quite a few however?

[2016-11-09 15:21] nvkelso commented on #1946
Normal for federal land, and there is a lot of it here.

[2016-11-09 15:22] nvkelso commented on #1944
License is fine.

[2016-11-09 15:23] nvkelso commented on #1943
"Due diligence on the part of the recipient is necessary", roger that ;)

[2016-11-09 15:24] trescube commented on #1944
I think we already have [points](https://github.com/openaddresses/openaddresses/blob/master/sources/us/wa/franklin.json) for Franklin County, WA.

[2016-11-09 15:29] trescube commented on #1946
We already have [this data](https://github.com/openaddresses/openaddresses/blob/master/sources/us/or/klamath.json).

[2016-11-09 15:42] iandees commented on #1946
I was wondering why the Esri links were all purple in my browser already 😄 .

[2016-11-09 15:42] #1946 closed

[2016-11-09 15:43] iandees commented on #1944
Yep, closing this in preference to the address points data.

[2016-11-09 15:43] #1944 closed

[2016-11-09 15:48] iandees commented on #1943
We've already got this data here: https://github.com/openaddresses/openaddresses/blob/master/sources/us/or/josephine.json

[2016-11-09 15:48] #1943 closed

[2016-11-09 15:49] justinelliotmeyers commented on #1944
**We dont have data for Benton County (SW side of the river) - should this issue stay open?  Or should we create a new issue for Benton County, WA?  Thanks @iandees and @trescube

[2016-11-09 15:50] iandees commented on #1944
Looks like we have Benton here: https://github.com/openaddresses/openaddresses/blob/master/sources/us/or/benton.json

[2016-11-09 15:53] justinelliotmeyers commented on #1944
![kennewick](https://cloud.githubusercontent.com/assets/5324316/20144415/93d5ab92-a66a-11e6-9240-4469446460c0.png)

okay - I was going off of the visual from the map.  Kennewick seems empty on the site.  I'll have to dl WA tonight and see whats going on.  Thanks @iandees

[2016-11-09 15:54] iandees commented on #1944
Ah, I linked to Benton county, OR and you pointed to Benton county, WA.

Let's make a new ticket for Benton, WA.

[2016-11-09 16:01] justinelliotmeyers commented on #1944
*****They just responded - (Benton, WA).  @nvkelso can we agree to this license: http://benton.municipalcms.com/pView.aspx?id=725&catid=45

[2016-11-09 16:09] iandees commented on #1944
I think we would be OK with the exception of this one clause:

We can't guarantee that people will not use this data for commercial purposes.

[2016-11-09 16:19] justinelliotmeyers commented on #1944
**Attached are address points for Benton County. Please contact the individual cities for their address data.

Thanks,
Anthony Von Moos
GIS Technician
www.BentonCountyGIS.org

I'll ask what the TOU/ Copyright is.  otherwise we have the address points.

[2016-11-09 16:58] justinelliotmeyers commented on #1944
So when I asked for the data, I guess I agreed to the terms here: The requestor below hereby acknowledges receipt of information from the Benton County Geographic Information Systems Department (“GIS”). The requestor understands that Benton County makes no representation as to the accuracy or fitness of the information for a particular purpose, including, but not limited to, aerial photography, ma

[2016-11-09 17:05] nvkelso commented on #1944
That’s a confusing license.

5)       I agree to protect and hold harmless, including the cost of
defending, the agency and its agents and employees from which I have
obtained said records from any and all claims arising either directly or
indirectly from the commercial use of said records.

6)       I further agree that if the requested information is provided, I
will not sell the records or diss

[2016-11-09 17:11] nvkelso commented on #1944
I’m not bothered by that general click-through.

"product of Benton County, created solely for its own use and no other
purpose, commercial or otherwise.”

I read that to mean “hey, you could use this for commercial purposes, but
we didn’t make it for that use”.

On Wed, Nov 9, 2016 at 8:58 AM, Justin Meyers <notifications@github.com>
wrote:

[2016-11-09 17:13] nvkelso commented on #1943
@iandees But I still don’t see any dots showing up on the map around Grants Pass? Why?

<img width="698" alt="screen shot 2016-11-09 at 09 13 03" src="https://cloud.githubusercontent.com/assets/853051/20147400/c2145368-a65c-11e6-9588-dab737acad9a.png">

[2016-11-09 17:14] justinelliotmeyers commented on #1944
I'm following up now and trying to find a good point of contact as per asking about the legal terminology.  The person who sent the data is just their GIS Tech.  So I will figure this out asap.  Thanks @nvkelso

[2016-11-09 17:19] iandees commented on #1943
The data for Grants Pass is in our output (http://s3.amazonaws.com/data.openaddresses.io/runs/124045/us/or/josephine.zip), so I'm not sure why it's missing from the dotmap…

[2016-11-09 17:32] nvkelso commented on #1943
Dots in that CSV do match general pattern compared to parcels Justin found:

<img width="418" alt="screen shot 2016-11-09 at 09 31 54" src="https://cloud.githubusercontent.com/assets/853051/20148012/723a8116-a65f-11e6-98fa-0303060feef4.png">

[2016-11-09 17:34] nvkelso opened #2123 "Grants Pass and Klamath Falls, Oregon missing from dot map"
Following up from https://github.com/openaddresses/openaddresses/issues/1943, turns out we _do_ have address points ([zip](http://s3.amazonaws.com/data.openaddresses.io/runs/124045/us/or/josephine.zip)) but the aren't showing up on the general dot map shown on openaddresses.io when they should.

[2016-11-09 17:35] nvkelso commented on #2123
Public dot map:

![dot map](https://cloud.githubusercontent.com/assets/853051/20147400/c2145368-a65c-11e6-9588-dab737acad9a.png)

OpenAddresses CSV:

![csv is fine](https://cloud.githubusercontent.com/assets/853051/20148012/723a8116-a65f-11e6-98fa-0303060feef4.png)

[2016-11-09 17:36] nvkelso commented on #1943
Sorry for the wild goose chase, @justinelliotmeyers :(

Tracking missing dots from map in #2123.

[2016-11-09 17:37] nvkelso commented on #1946
Hmm, this data is also missing from the dot map.

[2016-11-09 17:38] nvkelso commented on #2123
Same deal with Klamath in https://github.com/openaddresses/openaddresses/issues/1946.

[2016-11-09 17:41] nvkelso commented on #1946
Why does http://s3.amazonaws.com/data.openaddresses.io/runs/124045/us/or/klamath.zip fail for me?

[2016-11-09 17:44] iandees commented on #1946
Where did you get that URL from?

[2016-11-09 17:44] justinelliotmeyers commented on #1943
No problemo - Just let me know if you need me to look into anything tonight.  Thanks

[2016-11-09 17:44] nvkelso commented on #1946
I guessed it from the Medford URL pattern. Where are the real URL endpoints documented?

[2016-11-09 17:48] iandees commented on #1946
Look at https://results.openaddresses.io, click "Show Remaining" and search for `us/or/klamath`. It'll give you the most recent successful cache. In this case, the most recent cache is at http://s3.amazonaws.com/data.openaddresses.io/runs/119498/us/or/klamath.zip.

[2016-11-09 17:52] nvkelso commented on #1946
It's definitely there:

<img width="725" alt="screen shot 2016-11-09 at 09 51 20" src="https://cloud.githubusercontent.com/assets/853051/20148567/1f13bc98-a662-11e6-80ee-fca888664351.png">

[2016-11-09 17:54] iandees commented on #2123
I'm going to move this discussion over to the `machine` repo, where the dotmap code is:

https://github.com/openaddresses/machine/issues/434

[2016-11-09 17:54] #2123 closed

[2016-11-09 18:03] nvkelso commented on #1946
@justinelliotmeyers best practice to verify the data is actually missing from @iandees link above. If it is not missing, then add comment in the issue saying it's a map visualization issue not a data source issue.

[2016-11-09 18:13] justinelliotmeyers commented on #1944
Please contact Clark Posey (Clark.Posey@co.benton.wa.us )in the Planning department for more information on this data.

I emailed him asking for a call with regard to the Copyright and TOU - anything specific I should ask, or should I just ask if we can use it for the project and have that written in an official e-mail?

Thanks

[2016-11-09 18:14] nvkelso commented on #1960
Agree it's covered elsewhere.

Panning around the Utah map on openaddresses.io I'm not seeing any other large gaps. So let's move onto other states.

[2016-11-09 18:14] #1960 closed

[2016-11-09 19:09] nvkelso commented on #1944
Yep, sounds good. Washington State counties seems pretty good on the open
data spectrum.

On Wed, Nov 9, 2016 at 10:13 AM, Justin Meyers <notifications@github.com>
wrote:

[2016-11-09 23:09] justinelliotmeyers commented on #1944
We are getting the data!!!  and license for points will work out for what we are doing.  Stay tuned!!

[2016-11-10 16:30] justinelliotmeyers commented on #2032
Sent follow-up emails to all three contacts today.  Not really sure why they aren't responding...

[2016-11-10 16:38] nvkelso commented on #2032
It’s always beach-o’clock in Hawaii ;)

On Thu, Nov 10, 2016 at 8:30 AM, Justin Meyers <notifications@github.com>
wrote:

[2016-11-10 17:34] justinelliotmeyers commented on #2077
@nvkelso anyone look at this data yet?  Thanks!

[2016-11-10 17:35] justinelliotmeyers commented on #2077
think we can close this:  https://github.com/openaddresses/openaddresses/issues/2026

[2016-11-10 17:35] #2077 closed

[2016-11-10 21:34] justinelliotmeyers commented on #2032
Maui County Parcels - http://hawaiistatewidegisopendataportal.histategis.opendata.arcgis.com/datasets/c61357edec2e4994ae3c179ba8d3088c_8

Maui County Addresses - http://www.co.maui.hi.us/DocumentCenter/Home/Index/125

[2016-11-10 21:37] justinelliotmeyers commented on #1944
Hi Justin,

The file Anthony sent you yesterday contains our rural address points. I double-checked on which disclaimer he had you sign and it is our generic disclaimer. The reference to commercial purposes has been in there a long time, but should be revisited. According to our Prosecuting Attorney’s Office the only restriction on utilizing our data for commercial purposes would be on lists of in

[2016-11-10 21:37] justinelliotmeyers commented on #1944
emailing DWelch@CI.RICHLAND.WA.US and aaron.lowe@ci.kennewick.wa.us now

[2016-11-10 21:49] trescube commented on #2032
Wow, they certainly don't make it easy.  Here's the ESRI server behind the scenes:  http://geodata.hawaii.gov/arcgis/rest/services/ParcelsZoning/MapServer/8

Unfortunately this service doesn't have address info.  The second link @justinelliotmeyers posted contains a TSV file that has all the address info but no lat/lng.  Fortunately there's a `TMK` field shared between the two data sources that se

[2016-11-10 21:50] justinelliotmeyers commented on #1944
@nvkelso and @iandees  Benton County data is here:https://www.dropbox.com/s/qre4vtptg668cwg/AddressPoints.zip?dl=0

The e-mail above is the license/ wording (is what Anthony Von Moos GIS Technician www.BentonCountyGIS.org ).  I reached out to the two cities that they do not have in this file.  Hopefully I hear from them soon.

Let me know if there is anything else you need from me.  After those tw

[2016-11-10 21:52] justinelliotmeyers commented on #2032
yeah - there is a statewide parcel dataset and the TMK is the field we want.  I am trying to do 50 things right now, but I can get it in a shapefile and export it out with the joined table.  That sound okay @trescube  ?

[2016-11-10 21:52] trescube commented on #2032
Yep, sounds good!

[2016-11-10 21:54] justinelliotmeyers commented on #2032
**i always double check my work, and for some reason that table has duplicate TMK ids...  I'll have to see if there are duplicates with different addresses.  Give me a little bit, sorry

[2016-11-10 22:10] justinelliotmeyers commented on #2032
i hand checked a few and they all have same address - I did a join, added a frequency field at the end so you can see how many times the TMK id was in the table (*the table had a TMK length of 12 (+000) so i just kept the left 9 and did the join (probably TMI, but just wanted to share).  Joined table in shapefile is here: https://www.dropbox.com/s/ntajztsezsdgkd4/Parcels__Maui_County.zip?dl=0

![m

[2016-11-10 22:12] justinelliotmeyers commented on #1944
@nvkelso and @iandees City of Kennewick address points are here: http://gis.kennewick.opendata.arcgis.com/datasets/627b54ef549f47bd97b04481c45009e6_92

**Hi Justin,

Our address data is available for download as a shapefile here:  http://gis.kennewick.opendata.arcgis.com/datasets/627b54ef549f47bd97b04481c45009e6_92

There is currently a problem with the site that is causing as shift in the data, b

[2016-11-10 22:17] justinelliotmeyers commented on #1944
Just Called Dan Welch (Welch, Dan	IT Applications Developer/Integrator	Assistant City Manager	(509) 942-7748 ) and he said he would send data!!!!  Lot of damn work for this tri city area!!!  As soon as I receive the data I will upload to dropbox and we can close the issue.  Thanks everyone for your patience with this one.

[2016-11-10 22:17] nvkelso commented on #1944
Awesome, thanks for the followups :)

On Thu, Nov 10, 2016 at 2:17 PM, Justin Meyers <notifications@github.com>
wrote:

[2016-11-10 22:58] trescube commented on #2032
Downloaded and checked it out.  Looks good, I'll try to get a source together this evening.

[2016-11-11 00:59] trescube commented on #2032
@justinelliotmeyers Thanks for getting the data together!

[2016-11-11 01:51] justinelliotmeyers commented on #2032
I still need to follow-up with the other two counties.  Once I hear back from them I think we can close the issue if thats okay @trescube ?  Let me know, Thanks!
Justin

[2016-11-11 01:53] justinelliotmeyers commented on #1944
Had to formally request Richlands data through public records request (*although I called and talked with gis data guy...).  Anyway - should be coming soon.  Cheers!
![screenshot_20161110-185610](https://cloud.githubusercontent.com/assets/5324316/20201654/aac596fa-a787-11e6-88a9-bcdb59210e00.png)

[2016-11-11 13:18] justinelliotmeyers opened #2128 "Meade County, KY"
@iandees @nvkelso

found this this morning: http://opendata.arcgis.com/datasets/8fedfa2a8c2d463f97f60d6fa1c87b41_0

Cheers!
Justin

STNUM - house number
STREET - street name

![meade_co_ky](https://cloud.githubusercontent.com/assets/5324316/20216189/401f1b4a-a7e7-11e6-9f38-c6022c6d8fc7.jpg)

[2016-11-11 14:52] trescube commented on #2032
Yep, no problem!

[2016-11-11 15:27] #2128 closed

[2016-11-11 22:29] #1964 closed

[2016-11-14 12:15] justinelliotmeyers commented on #1947
Follow-Up email sent 11/14/2016 requesting data

[2016-11-14 12:18] justinelliotmeyers commented on #1945
follow-up email sent 11/14/2016

[2016-11-14 12:19] justinelliotmeyers commented on #1980
@nvkelso can we close this issue?  Thanks!

[2016-11-14 12:24] justinelliotmeyers commented on #1979
Montgomery reply:
Hi Justin,

You will need to speak with our IT Department. We do not have address points in shapefile as of this time, but it is something we are working towards. However, our address data is available through our IT Data Sales: http://www.montcopa.org/439/Data-Sales

Costs here: http://www.montcopa.org/DocumentCenter/View/2498

[2016-11-14 12:30] justinelliotmeyers commented on #1990
this is one of the last three/ four counties that will be updated by the state wide address data here: http://gisservices.dhses.ny.gov/arcgis/rest/services/SAM_Address_Points/MapServer/1

[2016-11-14 12:30] justinelliotmeyers commented on #1990
@iandees although there is no data currently, can we close this issue or should we wait until the data is uploaded?  Thanks!

[2016-11-14 12:52] justinelliotmeyers commented on #2102
follow-up sent to jwarzinik@boonecountymo.org on 11/14/2016

[2016-11-14 12:52] #2076 closed

[2016-11-14 12:53] justinelliotmeyers commented on #2076
https://github.com/openaddresses/openaddresses/issues/1996

[2016-11-14 12:55] justinelliotmeyers commented on #2060
Called 11/14/2016 and left voicemail...

GIS Office Staff and Management
Sharon Stevenson, ITS Manager
770-822-8033

[2016-11-14 14:07] justinelliotmeyers commented on #2102
[AddressLayer_JustinM.pdf](https://github.com/openaddresses/openaddresses/files/589490/AddressLayer_JustinM.pdf)
[License Agreement(Justin).pdf](https://github.com/openaddresses/openaddresses/files/589491/License.Agreement.Justin.pdf)

@nvkelso can you look these over?  He just sent them this morning; not sure if their license agrees with the project.  Thanks!
Justin

[2016-11-14 14:49] iandees commented on #2102
It's a no-go due to the non-redistribution part of the agreement:

[2016-11-14 14:53] iandees commented on #1990
Let's keep it open for now.

[2016-11-14 14:54] justinelliotmeyers commented on #2102
called to see if we can have a written agreement that allows us to use in the OA project.  was not in and I left a voicemail.

[2016-11-14 14:59] iandees commented on #1980
I can still add the data here. I'll close it with the pull request in a minute.

[2016-11-14 16:52] nvkelso commented on #2076
@justinelliotmeyers how is the data different than #1996? Should we replace the feed in #1996 with this feed instead?

[2016-11-14 18:47] justinelliotmeyers commented on #2076
@nvkelso I believe the https://github.com/openaddresses/openaddresses/issues/1996 REST service has more data in it, and it is more current (based on a quick dl of both datasetys and looking at them)

[2016-11-14 19:53] nvkelso commented on #1979
Well, $20k / year fee isn’t great.

But can you ask them if we have rights after that to use commercially and
to redistribute, please?

On Mon, Nov 14, 2016 at 4:24 AM, Justin Meyers <notifications@github.com>
wrote:

[2016-11-14 20:32] justinelliotmeyers commented on #2060
Called again today.  Spoke to Sharon - she said she will not look into this until the end of the month.  she said this is as fast as county government moves.  I asked for a different contact and she said there is not one.  She told me she needs to talk it over with the gis manager (*she is the gis manager...)???  So I called the e911 sherriff dispacth and left a voicemail to see if they have addre

[2016-11-14 20:42] justinelliotmeyers commented on #1944
Richland, WA data here: https://www.dropbox.com/s/o4cx0sjdnqj20ju/CoRAddressPoly.zip?dl=0

I understand there are fees associated with receiving copies of records based on the City’s fee structure and the quantities of records I’ve requested. I understand that fees are based on the costs directly related to the City’s actual cost of copying public records. I further understand that fees are calcul

[2016-11-14 20:58] justinelliotmeyers commented on #2060
She actually replied to my e-mail...  after a festive phone call I am very surprised.  Can someone help me ( @nvkelso or @iandees  ) answer the following questions she asked:

Mr. Meyers,
My apologies for the delayed response.  Our data sales policies do not have a clear option for providing data for Open Data sources, however I will contact our Law department and department director to  see if ou

[2016-11-14 22:22] nvkelso commented on #1995
Once we get the last open source in let's close this issue but create a new issue to track Macomb County.

[2016-11-15 00:15] nvkelso commented on #2060
It will not be resold, but it will be redistributed in a transformed form. The data is normalized into a common data structure as it's imported into OpenAddresses, and that normalized data is redistributed.

I believe @iandees is an officer of an OpenAddresses incorporated thing.

We don't have a click thru agreement.

OpenAddresses includes a disclaimer with the data but does not track downstream

[2016-11-15 12:02] justinelliotmeyers opened #2137 "Isanti County, MN"
Called and spoke to county assesor:
County Assessor
Michelle Moen
(763) 689-2752

She explained they do have parcel polygons where the address data can be extracted from. But there is a price attached: $0.20 Per parcel; plus $25.00 setup fee – this fee would result in an expensive dataset. The GIS Manager told me the same fee would apply to derive addresses. She mentioned that the e911 sheriff’s o

[2016-11-15 12:18] justinelliotmeyers commented on #2128
**added pr just to create a link for it.  this is already taken care of. Thanks!

[2016-11-15 12:47] justinelliotmeyers commented on #1944
Two counties, and two cities data were found and obtained/ uplloaded to dropbox.  I believe we can close this issue.  Thanks @iandees !  Just added pr to start being more consistent.

[2016-11-16 12:29] justinelliotmeyers opened #2139 "Steele County, MN"
City address points - http://www.co.steele.mn.us/arcgis/rest/services/Steele_LINK_public/MapServer/5
Rural address points - http://www.co.steele.mn.us/arcgis/rest/services/Steele_LINK_public/MapServer/6
![steele_co_mn_addr](https://cloud.githubusercontent.com/assets/5324316/20347279/474f8086-abce-11e6-9943-8d28e5ea2a3e.jpg)

[2016-11-16 14:39] iandees commented on #2139
Looks like we have these already: [rural](https://github.com/openaddresses/openaddresses/blob/master/sources/us/mn/steele_rural.json) and [city](https://github.com/openaddresses/openaddresses/blob/master/sources/us/mn/steele_urban.json).

[2016-11-16 14:39] #2139 closed

[2016-11-16 15:13] justinelliotmeyers commented on #2139
@iandees sorry!?  I was just panning around the openaddresses.io map and noticed the data was not there?  For some reason they are not plotting on the map (search for owatonna mn in the map and you will see they do not appear to be there)?

[2016-11-16 15:15] iandees commented on #2139
No worries! Remember that the dot map on openaddresses.io is out of date because some step along the way of updating it is broken. We're working on fixing it in https://github.com/openaddresses/machine/issues/434. Until then, you should look at the map and list of files at https://results.openaddresses.io/

[2016-11-16 15:29] justinelliotmeyers commented on #2139
Thanks!  I wish it were interactive where i can zoom around and make sure I know what we have and dont have - no more response needed on this issue, thanks amigo!

[2016-11-17 23:18] justinelliotmeyers commented on #1945
**Phone call with Tami Faulkner (360)754-4594 - they have the data and can sell it to us and we can use in OA - but we have to make sure they are not liable if anyone uses the datas and there are errors in it that cause them harm!?  But one interesting part of this call is that she mentioned the state of Washinton is in the process of creating a state wide address point dataset; and it will be ope

[2016-11-17 23:24] justinelliotmeyers opened #2141 "State of Washington Address Data!"
Joy Paulus, Senior Policy & Program Manager
State GIS Coordinator, Geospatial Program Office
PO Box 42440, Olympia, WA 98504-2440
360.407.8691 | joy.paulus@ocio.wa.gov

Spoke to Joy on the phone tonight for about 20 minutes.  The state is getting ready to release their state-wide address dataset!  She wanted to have it done by October, but other projects came up.  They are shooting for some time i

[2016-11-17 23:27] iandees commented on #1945
How much did they want for the data?

[2016-11-17 23:30] justinelliotmeyers commented on #1945
They didn't include a price - i was more concerned with the license/ TOU.  I can find out tomorrow if that is okay?

[2016-11-17 23:32] iandees commented on #1945
The license is fine. It sounds like the standard "indemnification" that most of our sources have.

[2016-11-18 01:40] nvkelso commented on #1945
I’ve asked them for purchase details via email.

On Thu, Nov 17, 2016 at 3:32 PM, Ian Dees <notifications@github.com> wrote:

[2016-11-18 01:41] nvkelso commented on #1945
Let's leave this open until January 2017. At that time state-wide data will land in https://github.com/openaddresses/openaddresses/issues/2141, or we'll pay the $200 for this place.

[2016-11-18 01:44] nvkelso commented on #1948
Still haven't heard back from them.

[2016-11-18 01:45] nvkelso commented on #1947
@iandees Is the link you noted in https://github.com/openaddresses/openaddresses/issues/1947#issuecomment-247419711 good enough to proceed with a PR or should @justinelliotmeyers keep following the research thread?

[2016-11-18 01:45] nvkelso commented on #1947
Statewide data may land in https://github.com/openaddresses/openaddresses/issues/2141.

[2016-11-18 01:45] nvkelso commented on #1948
Statewide data may land in https://github.com/openaddresses/openaddresses/issues/2141.

[2016-11-18 01:47] nvkelso commented on #1955
@justinelliotmeyers you want to try to scrape just this chunk of Idaho from that Google Earth server?

[2016-11-18 01:53] nvkelso commented on #2020
I think the city portion is ready for a PR, but the county part is outstanding.

[2016-11-18 01:54] nvkelso commented on #1971
@justinelliotmeyers Want to take a crack at scraping this data?

[2016-11-18 01:55] nvkelso commented on #1985
Michigan data is hard / expensive.

[2016-11-18 01:55] nvkelso commented on #1989
Michigan data is hard / expensive.

[2016-11-18 01:55] nvkelso commented on #1986
Michigan data is hard / expensive.

[2016-11-18 01:58] nvkelso commented on #237
@migurski This is a good example for the writeup for county that we could pay something that's not crazy expensive and have redistribution rights to.

Breakdown of paid sources seem to be in the:

- Less than 500 range ($20 and $200 are common)
- Up to $5,000 (this one is $1,500)
- More than $5,000 (I've seen $20,000)

[2016-11-18 02:11] justinelliotmeyers commented on #2020
I'll call the county tomorrow and see if we can get this wrapped up.

[2016-11-18 02:13] justinelliotmeyers commented on #1971
I have tried to crack the code for the beacon jive... just like the geocortex...  Let me see if I can come up with something else.

[2016-11-18 06:55] migurski commented on #2141
Great news!

[2016-11-18 08:14] sindile opened #2143 "Nelson Mandela Bay Metro street addresses"
http://www.nelsonmandelabay.gov.za/datarepository/documents/street-address.zip

[2016-11-18 16:01] justinelliotmeyers commented on #2020
** @iandees you think you can grab this: http://utility.arcgis.com/usrsvcs/servers/ce42c8fc53844590a94d26124c0e39e2/rest/services/ets/ParcelsSecure/MapServer/0 ?

[2016-11-18 16:06] justinelliotmeyers commented on #2020
called and left a voicemail for:
Park County	GIS Coordinator
Joy Gonion
(307) 527-8658
JGonion@parkcounty.us

[2016-11-18 17:15] nvkelso commented on #1945
I received the following response (below).

It would be cheaper ($150 versus $200) to buy their general Oct. 2016 (quarterly) CD rather than having them pull a nightly for us. They do take credit cards. But let's still wait until January 2017 to see if statewide data for Washington materializes.

[code]

[2016-11-18 19:18] nvkelso commented on #2141
Link to state-wide address project:

- https://ocio.wa.gov/programs/geospatial-program-office/washington-master-addressing-services-wamas

[2016-11-18 19:21] justinelliotmeyers commented on #2020
@nvkelso  $150 for file (for Park County) (either address points or parcels) we just have to e-mail Joy (JGonion@parkcounty.us)

[2016-11-18 20:58] nvkelso commented on #2020
I've emailed her.

[2016-11-18 21:36] nvkelso commented on #2020
Filled out their PDF form and paid via credit card (address points only). Data files should be emailed to me soon.

[2016-11-20 01:24] justinelliotmeyers opened #2145 "Plumas County, California"
![plumas_county](https://cloud.githubusercontent.com/assets/5324316/20459606/e23fb9ac-ae95-11e6-87d7-fe36f15ddbb2.png)

Anyone want to convert the kml for address points to a csv/ json?

http://www.countyofplumas.com/index.aspx?NID=2192

terms here:
Liability Disclaimer and Use Restrictions:

The data accessed through this website provides a visual display of geographical information as a public r

[2016-11-20 01:26] justinelliotmeyers opened #2146 "Douglas County, California"

[2016-11-20 01:32] #2146 closed

[2016-11-20 08:20] iandees commented on #2146
Do we already have this data?

[2016-11-20 13:45] justinelliotmeyers commented on #2146
This county is not real!? As per the US analysis, I was starting to close pockets on the west coast - starting with https://github.com/openaddresses/openaddresses/issues/2145 and panning up - thought I was still in California (*was in Oregon)... but the data that esri gave me was for Douglas Colorado...  so I jumped the gun on this one and just removed all comments and closed the ticket.  Sorry

[2016-11-21 19:35] justinelliotmeyers opened #2148 "Oregon State Address Points"
Justin,

Cy Smith, our Geospatial Information Officer, asked me to send our address points for your use.  I’ve uploaded them temporarily to Dropbox for your download:

https://www.dropbox.com/sh/2kkdfdsyq3x0z2u/AAA-SFU7ggJvF16swVekpKwHa?dl=0

The features are provided by jurisdiction and contained in a file geodatabase.

Please let me know when you have downloaded the necessary files so I can remo

[2016-11-21 19:52] justinelliotmeyers commented on #2148
Missing the following counties:
+ Lincoln
+ Tillamook
+ Columbia
+ Gilliam
+ Morrow
+ Union

[2016-11-21 20:02] migurski commented on #2148
Great. I can use this list to make a coverage footprint polygon, similar to [the one for NY State](https://github.com/openaddresses/openaddresses/blob/master/sources/us/ny/statewide.json#L3).

[2016-11-21 20:07] justinelliotmeyers commented on #2148
Just double checked based on his e-mail and that is the complete list

[2016-11-21 20:09] justinelliotmeyers commented on #2148
Also, creating a new dropbox link in case they remove the one listed above; will paste in new comment once finished uploading

[2016-11-21 20:14] migurski commented on #2148
Justin, are you able to use https://results.openaddresses.io/upload-cache? It’d be better than Dropbox for this purpose since it allows project members to save files in our own S3 buckets.

[2016-11-21 20:34] justinelliotmeyers commented on #2148
@migurski Error logging in: you need to be a member of the OpenAddresses Github organization. ?

I did create a new download link: https://www.dropbox.com/sh/hjc5e1mljkxendo/AAAZE7QT3wy1ZTU8NX3i__Xla?dl=0

[2016-11-21 20:44] migurski commented on #2148
I’ll upload it, and meanwhile try to find out why you can't log in. You are a member of the organization, so you should be able to authenticate like @iandees and myself.

[2016-11-21 20:49] justinelliotmeyers commented on #2148
yeah - sorry, I tried three times and I can't get it off the Log In page (*same error message)

[2016-11-21 20:50] migurski commented on #2148
Use this: https://s3.amazonaws.com/data.openaddresses.io/cache/uploads/migurski/d5add2/oregon_state_addresses.zip

[2016-11-21 20:50] justinelliotmeyers commented on #2148
Thanks @migurski !!

[2016-11-21 22:29] nvkelso commented on #1954
Will likely made redundant with https://github.com/openaddresses/openaddresses/issues/2148.

[2016-11-21 22:30] nvkelso commented on #1950
Will likely made redundant with https://github.com/openaddresses/openaddresses/issues/2148.

[2016-11-21 22:30] nvkelso commented on #1946
Will likely made redundant with https://github.com/openaddresses/openaddresses/issues/2148.

[2016-11-21 22:30] nvkelso commented on #1953
Will likely made redundant with https://github.com/openaddresses/openaddresses/issues/2148.

[2016-11-21 22:33] nvkelso commented on #1956
Will likely made redundant with https://github.com/openaddresses/openaddresses/issues/2148.

[2016-11-21 22:34] nvkelso commented on #1953
Ooops, Justin says Tillamook isn't included in the state-wide dataset. This issue is still relevant.

[2016-11-22 00:22] nvkelso commented on #642
Might not be needed anymore with Add Wyoming statewide parcels (#2132) landing.

[2016-11-22 12:00] justinelliotmeyers opened #2150 "North Dakota Addresses"
North Dakota is just empty.  Lets fill in the gaps!
Day one - reached out to the following counties:Bottineau, Burke, Cavalier, Divide, Pembina, Renville, Rolette, and Towner.  I am very optimistic about Pembina (http://pembinacountynd.gov/county/departments/it-gis-and-maps/ ) but no other county has a gis website, so hopefully everyone I emailed can help us out somehow.

Im going to email these i

[2016-11-22 14:49] justinelliotmeyers commented on #2150
Divide County Response:
Divide County does not currently have that information available. Our 911 data and dispatching is managed by ND State Radio; I am trying to get a GIS program in place here but resources are very limited.

JODY S. GUNLOCK
Emergency Services/911 Coordinator

701-965-6361
jgunlock@nd.gov

[2016-11-22 14:50] justinelliotmeyers commented on #2150
**
https://www.nd.gov/des/state-radio/telephone-services/
spoke to Mr. Phil Peterschick (ND Emergency Services)

they have a statewide address dataset - will speak to director and see if this is something we can obtain for the project.

Stay tuned!

[2016-11-22 17:22] #1980 closed

[2016-11-23 00:07] andrewharvey commented on #1701
@migurski Just a ping that the GNAF Nov 16 update has been released and OA will need another update like https://github.com/openaddresses/openaddresses/pull/1915

[2016-11-23 03:43] migurski commented on #1701
Thanks @andrewharvey! Opened up #2157.

[2016-11-23 19:58] justinelliotmeyers opened #2158 "Travis County, TX"
The data can be downloaded here: https://data.austintexas.gov/Geodata/Address-Points/bpa2-q2tj

although this is on the cities open data portal, it covers the county.  If we are missing anything in the region, we can look at the surrounding counties (here: http://regional-data.capcog.opendata.arcgis.com/datasets?q=property&sort_by=relevance ) or I was told individual cities there : sunset valley,

[2016-11-23 20:11] iandees commented on #2158
The Austin, TX data can be found in this source here:
https://github.com/openaddresses/openaddresses/blob/4061df1d4af774d8c8fb0402d6353f47285384d0/sources/us/tx/city_of_austin.json

[2016-11-23 20:23] justinelliotmeyers commented on #2158
@iandees I was looking for data for all of Travis County, TX as per http://davidchiles.org/2016/11/21/Progress-on-OpenAddresses.html saying we are missing Travis County - and after several phone calls - that is where they told me the data was.  I opened, panned around, and the county seems full (even overlaps to the county to the north of it).  I have to do some analysis tonight to see what cities

[2016-11-23 20:27] iandees commented on #2158
(The interactive map on openaddresses.io is still out of date)

[2016-11-25 12:38] justinelliotmeyers opened #2159 "Ward County, ND Parcel data"
argis open data site: http://gis.wardnd.opendata.arcgis.com/datasets/282c195dff504e9282bbe58e56a91cc7_0

rest site:
http://54.213.14.253/arcgis/rest/services/Parcels/WC_Parcels/FeatureServer/0

![ward_nd_parcels](https://cloud.githubusercontent.com/assets/5324316/20625550/030bfb00-b2e2-11e6-9d98-f3c5e18b80f5.jpg)

[2016-11-25 12:56] justinelliotmeyers commented on #2150
![nd_day_2](https://cloud.githubusercontent.com/assets/5324316/20625987/7e7dc6e0-b2e4-11e6-8299-9e3bd0b45af0.jpg)

day two - one county has open data in this batch!
also:

Ramsey has this: https://gis.co.ramsey.nd.us/arcgis/rest/services/Basemap/Parcels/MapServer/0
McHenry has this: http://services6.arcgis.com/zbSH183Elt4hJ5Hl/ArcGIS/rest/services/Parcels/FeatureServer/0
 But I cannot query them;

[2016-11-25 14:52] iandees commented on #2150
I can query the McHenry one, but it looks like the gis.co.ramsey.nd.us server blocks the query URL somehow. We should hang on to the servers and keep trying later.

[2016-11-28 04:26] andrewharvey opened #2164 "au/countrywide using wrong postcode field"
au/countrywide is using the gnaf-loader `locality_postcode` field as the address postcode: https://github.com/openaddresses/openaddresses/blob/master/scripts/au/gnaf.sh#L63

`locality_postcode` is the postcode of the locality for this address, not the postcode for this address point. https://github.com/minus34/gnaf-loader/blob/dfc2a2e22420e70ebd2e52c8a9aa112b11bd9f32/postgres-scripts/03-12-referen

[2016-11-28 07:57] minus34 commented on #2164
Due to the unofficial method used by the PSMA, the address level postcodes are usually worse than the locality_postcode values. The aggregation method used to generate locality_postcode values knocks out a good number of the postcode outliers.

FYI - the PSMA aren't actually allowed to use the postcodes in the Postal Address File in GNAF even though its a key GNAF data source; due to Australia Pos

[2016-11-28 08:01] andrewharvey commented on #2164
@minus34 Thanks for the explanation.

[2016-11-28 08:01] #2164 closed

[2016-11-28 17:47] nvkelso commented on #1948
Heard back from them – they sent the DVD to the wrong street address and it was returned.

I've clarified my mailing address and they will resend.

[2016-11-28 17:58] nvkelso commented on #1941
Make check out $30. Payable to Mendocino County. Memo for `Parcel GIS Shapefile`.

[code]

Update: Address points are more than 50% done, but only worked on between other gigs.

[2016-11-28 22:32] justinelliotmeyers opened #2165 "Rockwall County Texas Error"
https://github.com/openaddresses/openaddresses/blob/4061df1d4af774d8c8fb0402d6353f47285384d0/sources/us/tx/rockwall.json

the data above is actually pulling from Bexar County ( https://github.com/openaddresses/openaddresses/blob/4061df1d4af774d8c8fb0402d6353f47285384d0/sources/us/tx/bexar.json ).

please use the data here: http://www.rockwall.com/pz/GIS/data/Address_Points.zip

Thanks!

[2016-11-28 22:37] justinelliotmeyers commented on #2165
Verified new data is in correct extent

![rockwall_tx_verified](https://cloud.githubusercontent.com/assets/5324316/20688955/15418194-b591-11e6-8f70-f36e5403974e.jpg)

[2016-11-28 22:59] justinelliotmeyers commented on #2158
I'm going to close this issue; after looking into our sources and looking at the data, we have a top-notch dataset for Travis county/ Austin (*although it is in the city of Austin's open data portal, has coverage for the majority of Travis County).  I created the issue ticket because of the article here: http://davidchiles.org/2016/11/21/Progress-on-OpenAddresses.html but should have looked at the

[2016-11-28 22:59] #2158 closed

[2016-11-29 02:03] davidchiles commented on #2145
Made a quick script to convert the Plumas County kmz to csv. https://github.com/davidchiles/plumas-address

Where do you want to put the csv for hosting?

[2016-11-29 04:45] nvkelso commented on #2145
@davidchiles Are you able to use https://results.openaddresses.io/upload-cache?

@migurski I get the same error as Justin after authenticating and falsely see:

`Error logging in: you need to be a member of the OpenAddresses Github organization.`.

[2016-11-29 06:32] migurski commented on #2145
Grar, I'm going to need to figure out how to debug this. It seems to hinge on whether you are a public or private member of the group.

[2016-11-29 07:44] nvkelso commented on #2145
Confirmed: I made my membership public (didn't realize it was default private) and now I can login.

[2016-11-29 07:47] nvkelso commented on #2145
@davidchiles Looks like your lat & lon fields are reversed. Current setup plots them south of Antarctica!

[2016-11-29 07:49] nvkelso commented on #2145
I've fixed locally and uploaded to:

- https://s3.amazonaws.com/data.openaddresses.io/cache/uploads/nvkelso/e8ef1c/plumas_california_usa_kmz_csv_results.csv

[2016-11-29 07:59] nvkelso commented on #1941
Check sent via snail mail. It's only a few hours north of SF where I am so maybe a CD this week?

[2016-11-29 08:02] davidchiles commented on #2145
@nvkelso Thanks! Fixed in the script now.

[2016-11-29 11:15] justinelliotmeyers commented on #2145
thanks @davidchiles for converting the kml!!

[2016-11-29 12:52] justinelliotmeyers commented on #2150
![nd_day_3](https://cloud.githubusercontent.com/assets/5324316/20709867/a541881a-b605-11e6-9dac-5d411b70cd35.jpg)

Finished contacting all counties in ND!!!!!  I am still waiting on Mr. Phil Peterschick (ND Emergency Services) to see if we can receive a state wide dump - he was super nice and seemed like he would share it, but had to ask.  He told me worst case scenario we would have to reach out

[2016-11-29 12:59] justinelliotmeyers commented on #2150
Another problem with North Dakota is that many of the counties are very rural.  This means there is no GIS department.  They hired a third party company to create and maintain their gis data - Sidwell - http://www.sidwellco.com/

I spoke to someone from Sidwell and they have different agreements with each county.  If you request the data from the county, they have Sidwell contact you and basically

[2016-11-29 13:04] justinelliotmeyers commented on #2150
Sent a follow-up e-mail to Mr. Phil Peterschick (ND Emergency Services) (has been seven days since I spoke to him).  Hopefully they have good news for us!?!

[2016-11-29 13:07] justinelliotmeyers opened #2168 "Richland County, ND Parcel data"
![richland_nd_parcels](https://cloud.githubusercontent.com/assets/5324316/20710902/c8c244a0-b60a-11e6-95e5-778cc1b978a6.jpg)

https://c39gisserver.co.richland.nd.us/arcgis/rest/services/Cadastre/Parcel_Layer/MapServer/0

[2016-11-29 13:10] justinelliotmeyers opened #2169 "Mountrail County, ND Parcel Data"
![mountrail_nd_parcels](https://cloud.githubusercontent.com/assets/5324316/20710970/20508ab0-b60b-11e6-869a-c48cac02a64d.jpg)

https://www.dropbox.com/sh/u2pp1z9aryx3cvs/AABWar2BjcO5qIJo_CYFeQO4a?dl=0

Data is in a few places - excel file, and in an ESRI FGDB - if anyone wants to put together

[2016-11-29 13:10] justinelliotmeyers commented on #2150
Mountrail Issue Created - https://github.com/openaddresses/openaddresses/issues/2169
Richland Issue Created - https://github.com/openaddresses/openaddresses/issues/2168

[2016-11-29 16:48] b-may opened #2170 "us-fl-st_johns"
St Johns County address points shapefile is here: http://www.gis.bocc.co.st-johns.fl.us/GISDataDepot/download.aspx?layer=/GISDataDepot/Library/Address_Site.zip

public domain (any public data in FL unless specifically exempted)

[2016-11-29 16:51] nvkelso commented on #2143
Connects with https://github.com/openaddresses/openaddresses/pull/2144, which was merged.

[2016-11-29 16:51] #2143 closed

[2016-11-29 16:56] nvkelso commented on #2170
Nice find!

This is near Jacksonville in north Florida. From Wikipedia: `St. Johns County is a county of the U.S. state of Florida. As of the 2010 United States Census, the county's population was 190,039. The county seat and largest incorporated city is St. Augustine.`

[2016-11-29 17:09] nvkelso commented on #2020
Received the data, here's the column preview (only a generic street address column):

<img width="324" alt="screen shot 2016-11-29 at 09 06 32" src="https://cloud.githubusercontent.com/assets/853051/20720298/7aa4e544-b613-11e6-90de-9d23fd8133f7.png">

[2016-11-29 17:10] nvkelso commented on #2020
Uploaded using OpenAddresses.io S3 uploader:

- https://s3.amazonaws.com/data.openaddresses.io/cache/uploads/nvkelso/5a5bf6/ParkCountyADDRESS_POINTS_point.zip

[2016-11-29 17:45] migurski commented on #2075
New `prefix_street` and `prefix_number` conform functions are live as of Machine 3.10.0. The next step would be to document them in this repository.

[2016-11-29 17:45] trescube commented on #2075
I can handle that

[2016-11-29 18:03] migurski commented on #2075
Thanks @trescube! Thanks for your good work on the new functions!

[2016-11-29 18:13] justinelliotmeyers commented on #2150
Foster County Response-

We are not interested in participating at this time. Thank you!

-J

Jess Earle
Foster County Emergency Management
Emergency Manager/911 Coordinator
1030 1st St N
Carrington, ND 58421
jdearle@nd.gov
701.652.2252 (Office)
701.650.2085 (Cell)

[2016-11-29 18:58] #2145 closed

[2016-11-29 19:09] nvkelso commented on #2150
**Worst case fee:** 11 counties at 10,000 parcels each at $0.35 a parcel = `$38,500`.
**Medium case fee:** 11 counties at 4,500 parcels each at $0.40 a parcel = `$19,800`.

[2016-11-29 19:19] justinelliotmeyers commented on #2150
Don't kill the messenger!?!  I'm still optimistic we will get a state -wide dataset ;)

[2016-11-29 19:22] #1977 closed

[2016-11-29 20:04] justinelliotmeyers commented on #1947
After emailing Nancy (. Nancy Grabinski-Young at ngrabins@cityoftacoma.org or (253) 591-5394 ) several times since September 27th... I followed up with her boss today.  She called me and asked 50 questions!?!  They are going to clip the data to the city proper and send it to us.  I told her if I don't receive it by Friday I was going to call and follow up.  So we should receive something in the ne

[2016-11-29 20:14] nvkelso commented on #2150
No worries! I’m mostly thinking about what a larger data acquisition budget
might look like.

On Tue, Nov 29, 2016 at 11:19 AM, Justin Meyers <notifications@github.com>
wrote:

[2016-11-29 20:14] nvkelso commented on #1947
What’s in the unclipped data? The more addresses the better, unless it’s
something they can’t give us.

On Tue, Nov 29, 2016 at 12:06 PM, Justin Meyers <notifications@github.com>
wrote:

[2016-11-29 21:09] justinelliotmeyers opened #2174 "Pierce County, WA Parcel Data"
![pierce_co_wa](https://cloud.githubusercontent.com/assets/5324316/20728886/cde23588-b64d-11e6-9e28-e270b145faaf.jpg)

TERMS OF USE here: http://yakima.co.pierce.wa.us/GeoDataExpress/PierceCountyGISDataTermsofUse.pdf

@nvkelso can you look over the terms above to make sure the data is okay to use?  I believe it is, just want another set of eyes to check it out before a PR is created.  Thanks!

the

[2016-11-29 21:12] nvkelso commented on #2174
Terms look fine to me.

[2016-11-29 21:14] iandees opened #2175 "Convert source JSON validity check to jsonschema"
We should convert the checks that are done in [this node program](https://github.com/openaddresses/openaddresses/blob/master/test/sources.js) to use a jsonschema.

[2016-11-29 21:16] justinelliotmeyers commented on #2174
Thank you sir!  Although not in these terms, I think every city/ county (in WA ) is concerned with lists of people's names being used for commercial purposes.  When I tell them we want nothing to do with it, there are a lot more easy going...

[2016-11-29 21:44] justinelliotmeyers commented on #2174
**as per the county creating the actual address point layer from Linda Gerrell - 2537984923

no timeline, fighting to get it in 2017 budget - and once it is created, cannot say whether or not it will be open data

[2016-11-29 22:09] justinelliotmeyers commented on #1947
long story - after they clip it and ship it I will ask the guy if we can receive the full dataset.  It was not my idea to clip it - I would never say such a thing - but that is what she was willing to do, so I said yes please...  Stay tuned amigos!! haha

[2016-11-30 01:14] migurski commented on #2145
Thanks @nvkelso! Sorry about the public/private issue, I will attempt a fix.

[2016-11-30 01:19] migurski commented on #2175
I was not familiar with JSON Schema; it’s described at http://json-schema.org. I think this is a good idea, if there’s good tools in Node and in Python!

[2016-11-30 02:58] #2159 closed

[2016-11-30 03:53] billgeo commented on #1712
@migurski, LINZ has just published a new version of this data with address components split out which would be better to use. The old version will be discontinued mid 2017.

New version: https://data.linz.govt.nz/layer/3353-nz-street-address/

Suggested attribute mapping:
[code]

[2016-11-30 04:07] andrewharvey commented on #1712
@billgeo I put together a pull request for this at https://github.com/openaddresses/openaddresses/pull/2161

[2016-11-30 04:46] palmerj commented on #1712
Thanks @andrewharvey for the PR. You are missing the region as recommended by @billgeo.

Also would you consider using wfs as per @imincik recommendaction in this thread? Will remove the need for manual steps and give automation.

[2016-11-30 04:59] andrewharvey commented on #1712
Thanks for the feedback @palmerj, I've replied over on the [PR here](https://github.com/openaddresses/openaddresses/pull/2161#issuecomment-263783427) to keep the discussion on the new AIMS data there, and the discussion where to source that data WFS/Shape extract here. :wink:

[2016-11-30 05:11] andrewharvey commented on #1712
@palmerj I'm not completly across how OA works, but this is my understanding.

https://github.com/openaddresses/openaddresses/blob/master/CONTRIBUTING.md#processing-tags suggests OA can natively read gdb, shapefile, shapefile-polygon, csv, geojson, or xml (for GML). I believe we currently have this preprocessing script which needs to be run manually because OA can't read directly from WFS and the

[2016-11-30 09:30] palmerj commented on #1712
@andrewharvey: using the WFS and ogr2ogr would allow an automatic way to download the data to a cached file first before being pushed up the S3 bucket for import into OA. The cached file could or course be shapefile, csv or gdb. See https://github.com/openaddresses/openaddresses/tree/master/scripts/nz#readme

[2016-11-30 14:31] justinelliotmeyers opened #2176 "Kharkiv Ukraine"
http://cdr.citynet.kharkov.ua/arcgis/rest/services/gis_ort_stat_general/MapServer/1

I tried to quick pull some down and verify - looks like points plot, but didn't want to come in WGS84 - just a fyi

[2016-11-30 15:50] trescube opened #2177 "Add prefix functions support for letter suffix house number"
The functions `prefix_number` and `prefix_street` should support an optional letter suffix as part of the house number.  For example, Berks County, PA has addresses like `70A RIEGEL LN` which the `prefix-*` functions don't support now (the `regexp` it was [using before](https://github.com/openaddresses/openaddresses/blob/614bfe07844f6698307f1d8312fb8a72e4d8a603/sources/us/pa/berks.json) didn't acc

[2016-11-30 16:37] migurski commented on #2177
Point of order: this should probably go in `openaddresses/machine` since it’ll be addressed there.

[2016-11-30 16:37] trescube commented on #2177
Oh, whoops!  My bad, I'll move it.

[2016-11-30 16:39] trescube commented on #2177
Moved to openaddresses/machine#465

[2016-11-30 16:39] #2177 closed

[2016-11-30 17:05] nvkelso commented on #2176
The projection is pulkovo-1942-gauss-kruger-7n, aka [EPSG:28467](http://spatialreference.org/ref/epsg/pulkovo-1942-gauss-kruger-7n/), via [metadata](http://cdr.citynet.kharkov.ua/arcgis/rest/services/gis_ort_stat_general/MapServer) on the level up on that endpoint.

[2016-11-30 17:30] justinelliotmeyers opened #2178 "Stutsman County, ND"
Hello,

Attached is a copy of Stutsman County ND address points. Zuercher Technologies maintains GIS data for the county’s emergency management. I have received this request from Dorinda Andres.

Andrew Bland
GIS Analyst
Zuercher Technologies | www.zuerchertech.com
Office: (605) 274-6061 | Direct: (605) 809-8690

https://www.dropbox.com/s/njdotpmezwz0k9t/StutsmanAddressPoints.zip?dl=0

![stutsman_

[2016-11-30 19:50] justinelliotmeyers commented on #2150
emails are starting to come in and it is all over the place - but I believe the state runs the counties in brown here:
![state-radio-service-area](https://cloud.githubusercontent.com/assets/5324316/20768492/48d45866-b70c-11e6-9fcf-108f94731533.jpg)

Haven't heard back from Phil yet.  If I don't by tomorrow I will call and touch base.

[2016-11-30 20:58] justinelliotmeyers commented on #2150
25 counties have the state maintain their data.  Just spoke to Phil on the phone - He has not had an opportunity to speak directly to his director.  They are dealing with DAPL and do not know when it can be discussed; but he will bring it up I was told.

[2016-11-30 22:47] justinelliotmeyers opened #2179 "Texas OA Data"
![texas_oa_yeeeehawwww](https://cloud.githubusercontent.com/assets/5324316/20774587/f810ac68-b724-11e6-9f0b-baf46cae0461.jpg)

After filing an official PIA, this is what I was sent.  Cheers!

Mr. Meyers,

The information responsive to your request can be downloaded via the following link:  https://geo-comm.sharefile.com/d-s72fbc0849fe49de9.  The Road Centerline and Site Structure Address Points (S

[2016-11-30 23:02] iandees commented on #2179
Wahoo! This is great, thanks for chasing this, @justinelliotmeyers.

I uploaded the data here: http://data.openaddresses.io.s3.amazonaws.com/cache/us/tx/20161129_CSEC_SSAP_RCL.zip

[2016-12-01 14:22] justinelliotmeyers opened #2181 "Grand Forks, ND"
![gfgis_nd](https://cloud.githubusercontent.com/assets/5324316/20797082/5d9d8326-b7a7-11e6-984d-db3f86179957.jpg)

http://opendata.arcgis.com/datasets/b44652e9403344a0b49316d0d7e1e20f_0?geometry=-98.809%2C47.638%2C-95.104%2C48.282

[2016-12-01 16:01] justinelliotmeyers opened #2182 "Fribourg"
![fribourg](https://cloud.githubusercontent.com/assets/5324316/20800907/181351c4-b7b5-11e6-809c-e5e233aa2da8.jpg)

http://www.sit.fr.ch/arcgis/rest/services/Coordonnees/Adresses_rues/MapServer/0

[2016-12-01 16:43] justinelliotmeyers commented on #2137
Good Morning Justin!
A full export file of the counties parcels is $75.00.  Let me know if you have any further questions!

Thanks!
Kasey Gilly
Deputy Auditor/Treasurer Il
Isanti County Auditor-Treasurer Dept
555 18th Ave SW
Cambridge, MN  55008
763-689-1644

[2016-12-01 16:44] justinelliotmeyers commented on #2137
her supervisor is out of office until 12/2/2016 and will find out if we can use for OA.

[2016-12-01 21:09] cesaregerbino opened #2183 "Info about licences"
Hi all! I've collected some information about several open addresses datasets in Italy published from several Public Administration.

The data licences are heterogeneous, for examples

- CC BY 2.5 IT
- CC BY 3.0 IT
- CC0 1.0 Universal (CC0 1.0)
- Creative Commons Attribution 4.0
- Creative Commons Attribution Share-Alike
- Creative Commons Attribution 2.5 Italia (CC BY 2.5 IT)
- Creative Commons C

[2016-12-01 21:32] sergiyprotsiv commented on #2183
Hi Cesare,
you can take a look at the pull requests 1894 to 1900 (many are still open), they cover some of the regions in Italy I was able to find. Most of the open ones are due to not being able to import the data automatically (so it sits in my Dropbox). If you find a way to get, for example, the files for Lombardia directly from source, would be great! Otherwise, need to document the process, w

[2016-12-01 22:25] iandees opened #2184 "Connecticut Municipal Sources"
@OpenDataCT put together this awesome list of municipal data sources in Connecticut: https://docs.google.com/spreadsheets/d/19zLQnZtoGHREVuahJ1CeHYAlfcOJ7kgGNjlt2YLh6Uk/edit#gid=1942029771

We should create sources for the Esri endpoints in there that have addresses. We [already have a statewide source](http://results.openaddresses.io/sources/us/ct/statewide) but it doesn't look to get updated ver

[2016-12-01 23:07] nvkelso commented on #1948
Good news! I received the DVD today from Clark County (Vancouver, Washington state).

Now the complication: I actually have no way of reading said DVD. I'll hunt down an old PC or Mac to do that next and upload using the S3 Uploader tool.

[2016-12-02 03:33] #2179 closed

[2016-12-02 06:39] migurski commented on #2183
New data sets are certainly of interest! Those license all seem fine; we have two true/false flags for license characteristics in OA, for attribution and share-alike requirements. It’s only important that a source be correctly flagged.

[2016-12-02 12:44] justinelliotmeyers commented on #1947
Just followed up with an e-mail... hopefully we get this today!?  stay tuned

[2016-12-02 15:49] justinelliotmeyers opened #2185 "2016 Washington State parcels (polygons)"
http://geoservices.wa.gov/arcgis/rest/services/Parcels/ECY_Washington_State_Parcel_Database_2016/MapServer/0

[2016-12-02 17:08] nvkelso opened #2186 "Remove El Paso county from Texas footprint map"
Picking up from https://github.com/openaddresses/openaddresses/pull/2180#event-879484747...

Looks like El Paso county didn't get knifed out of the revised Texas footprint, but should be.

![remove these counties](https://cloud.githubusercontent.com/assets/853051/20819113/44d21ea2-b7e7-11e6-8ee2-be1ad7f8733b.gif)

![texas county names](http://www.digital-topo-maps.com/county-map/texas-county-map.g

[2016-12-02 18:13] OpenDataCT commented on #2184
@iandees Correct that our statewide source does not get updated often. We're working on that... Also, in terms of the list above, several of those sites use a Carto based application and I'm curious if anyone has insight on pulling data out of those

[2016-12-02 18:15] #2186 closed

[2016-12-02 18:15] migurski commented on #2186
Oops, thanks!

[2016-12-02 20:43] nvkelso commented on #2184
It should be possible to pull data out of Carto. If it's not obvious I can backchannel that.

[2016-12-02 20:47] cesaregerbino commented on #2183
I've tried to comment this issue https://github.com/openaddresses/openaddresses/pull/1894 about the Lombardia data set.
Tell me if this help you or if you prefer that I prepare each single JSON ...

[2016-12-03 02:12] justinelliotmeyers commented on #1947
https://www.dropbox.com/sh/jtzicj9d0hsyrs7/AADfsHr3m1ArHqi3NGRQaw5Pa?dl=0

Received the data!!!!!!!!!!!!!!!!!!! Will follow-up and see what was actually clipped and why, but this is a start - hopefully the new state-wide parcel layer (https://github.com/openaddresses/openaddresses/issues/2185 ) surrounds this and makes it a complete area, or Pierce County data ( https://github.com/openaddresses/op

[2016-12-05 14:57] justinelliotmeyers commented on #2179
**They plan on having complete coverage by February 2017 - I will put in my calendar to do another formal PIA request so we can fill in the missing counties.

[2016-12-05 16:15] justinelliotmeyers opened #2187 "Österåkers kommun, Stockholms län, Sverige"
![osteraker](https://cloud.githubusercontent.com/assets/5324316/20892377/031c7618-badc-11e6-97e8-b91f5c8d8a53.jpg)

http://gis.osteraker.se/arcgis/rest/services/Osteraker/Adress/MapServer/0

[2016-12-05 16:44] justinelliotmeyers opened #2188 "Kalmar, Sweden"
![kalmar_se](https://cloud.githubusercontent.com/assets/5324316/20893531/227caa9c-bae0-11e6-8acd-3337fc223a95.jpg)

http://gis.kalmar.se/arcgisserver/rest/services/Bakgrundskartan/Bakgrundskarta_500k/MapServer/3

[2016-12-05 17:52] nvkelso opened #2189 "Additional Texas state-wide data (Feb. 2017)"
Following up from: https://github.com/openaddresses/openaddresses/issues/2179#issuecomment-264874921...

`**They plan on having complete coverage by February 2017 - I will put in my calendar to do another formal PIA request so we can fill in the missing counties.`

[2016-12-05 18:36] iandees commented on #2185
The data in here is going to be rather difficult to pull out. The situs address is all merged together into one line with various formats that won't be easily regex'ed out:
- `930 GOLDEN CREST DR WENATCHEE, WA 98801` (no comma after the street name)
- `648 13TH ST` (no city,state,zip)
- `504 S ZINSER,KENNEWICK,WA,USA` (includes country)
- `9213 77TH ST SW UNIT C` (note the subaddress `UNIT C` is p

[2016-12-05 18:38] migurski commented on #2185
Any chance these are owner addresses rather than SITUS?

[2016-12-05 18:42] iandees commented on #2185
I checked on [a map](http://www.arcgis.com/home/webmap/viewer.html?url=http%3A%2F%2Fgeoservices.wa.gov%2Farcgis%2Frest%2Fservices%2FParcels%2FECY_Washington_State_Parcel_Database_2016%2FMapServer&source=sd) and it looks like the situs addresses do correspond with street names in the cases I checked.

[2016-12-05 22:15] nvkelso commented on #1948
@migurski says he has a DVD reader at home, and has the disk now.

[2016-12-05 22:16] nvkelso commented on #1945
The statewide Washington data has landed, but it's a bit messy. I'll order this now so we have a cleaner option.

[2016-12-05 23:26] tkardi opened #2192 "update to the estonian dataset"
https://drive.google.com/file/d/0BwPIVpJhp8rHSFdhbXJSNWoySEk/view?usp=sharing downloaded from http://xgis.maaamet.ee/adsavalik/ads.

previous issue was: https://github.com/openaddresses/openaddresses/pull/1076

[2016-12-06 15:33] #2188 closed

[2016-12-06 15:48] justinelliotmeyers commented on #2188
Thanks @trescube !!!

[2016-12-06 15:50] #2182 closed

[2016-12-06 18:19] justinelliotmeyers opened #2196 "Kenton County, KY Parcels"
![kenton_ky](https://cloud.githubusercontent.com/assets/5324316/20937770/6168f072-bbb6-11e6-8dba-882c238cf507.jpg)

http://kcgis.kcor.org/arcgis/rest/services/KentonPVAMap/MapServer/6

[2016-12-06 19:52] nvkelso commented on #2196
This is suburbs of Cincinnati on the south side of the river.

[2016-12-06 20:15] justinelliotmeyers commented on #2196
It looks like the entire county to me?

![kenton_ky_zoomed_out](https://cloud.githubusercontent.com/assets/5324316/20941848/6a791146-bbc6-11e6-836a-71efe355e2b4.jpg)

[2016-12-06 20:21] sbaugher opened #2198 "Address Data for United States, Missouri, Kansas City"
Using MapZen (which uses OPenAddresses), I was unable to find several Kansas City, MO street addresses, for example:

5400 N Oak Trafficway, Kansas City, MO

Kansas City, MO seems to publish addresses with lat/lng in multiple formats with a public domain license:

https://data.kcmo.org/GIS/Geocoded-Kansas-City-Addresses/3639-4c86

I confirmed that the address above shows up in their dataset, but I

[2016-12-06 20:27] trescube commented on #2198
Oh, nice!  We have a source for Kansas City, MO but it appears to be broken.  We'll get this taken care.  Thanks for submitting the data!

[2016-12-06 21:22] nvkelso commented on #1945
Parcel data received via FTP for Thurston county, Washington state (Olympia, WA) and posted here using S3 uploader:

* https://s3.amazonaws.com/data.openaddresses.io/cache/uploads/nvkelso/cd363b/parcels_thurston_county_washington_state.zip

Note that we are **not** allowed to publish owner names and owner contact addresses, so we need to use the **`situs`** address and other fields (e.g.: don't us

[2016-12-06 21:53] nvkelso commented on #1973
@justinelliotmeyers Can you reach out to Richland County and the city of Columbia again, please?

[2016-12-06 22:33] justinelliotmeyers commented on #1973
@nvkelso

e-mailed them: GIS@rcgov.us - called - office is closed.  will call first thing in morning.

e-mailed city: GIS@columbiasc.net - called, left voicemail.  will call first thing in morning.
**Services disabled for city... lame... https://gis.columbiasc.gov/cola/rest/services

[2016-12-06 22:37] iandees commented on #1973
When you get the "Services Directory has been disabled" error, you can (almost) always use the JSON interface to get into it. It's less convenient, but it works:

https://gis.columbiasc.gov/cola/rest/services?f=json

will eventually get you to:

https://gis.columbiasc.gov/cola/rest/services/temp/OpenTest/MapServer/0?f=json

[2016-12-06 22:46] nvkelso commented on #1973
`RecycleID`, ftw

On Tue, Dec 6, 2016 at 2:37 PM, Ian Dees <notifications@github.com> wrote:

[2016-12-07 01:25] #2198 closed

[2016-12-07 04:54] nvkelso commented on #1941
I've received the DVD! Now for getting it onto S3...

[2016-12-07 04:59] nvkelso opened #2200 "Del Norte county, California"
Part of "finish California" sprint.

[2016-12-07 05:00] nvkelso opened #2201 "Siskiyou county, California"
Part of "finish California" sprint.

[2016-12-07 05:00] nvkelso opened #2202 "Modoc county, California"
Part of "finish California" sprint.

[2016-12-07 05:01] nvkelso opened #2203 "Sierra county, California"
Part of "finish California" sprint.

[2016-12-07 05:01] nvkelso opened #2204 "Alpine county, California"
Part of "finish California" sprint.

[2016-12-07 05:07] nvkelso opened #2205 "Mariposa county, California"
Part of "finish California" sprint.

[2016-12-07 05:08] nvkelso opened #2206 "San Benito county, California"
Part of "finish California" sprint.

[2016-12-07 05:08] nvkelso opened #2207 "Imperial county, California"
Part of "finish California" sprint.

[2016-12-07 05:09] nvkelso commented on #2200
Related:

- https://github.com/openaddresses/openaddresses/issues/2201
- https://github.com/openaddresses/openaddresses/issues/2202
- https://github.com/openaddresses/openaddresses/issues/2203
- https://github.com/openaddresses/openaddresses/issues/2204
- https://github.com/openaddresses/openaddresses/issues/2205
- https://github.com/openaddresses/openaddresses/issues/2206
- https://github.com/ope

[2016-12-07 05:14] nvkelso commented on #2200
Download link:

- http://www.co.del-norte.ca.us/departments/information-technology/geographic-information-services-gis/Parcels.zip?attredirects=0&d=1

[2016-12-07 05:17] nvkelso commented on #2200
Hmm, looks like the file only has APN parcel numbers, the `situs_address` is empty for all records :(

Will require email / phone followup to find join table:

- http://www.co.del-norte.ca.us/departments/information-technology/geographic-information-services-gis

![screen shot 2016-12-06 at 21 16 14](https://cloud.githubusercontent.com/assets/853051/20955597/510f968e-bbf9-11e6-9caa-c7da4e2dd277.pn

[2016-12-07 05:22] nvkelso commented on #2201
Nothing obvious:

- http://www.co.siskiyou.ca.us/content/assessor-division-parcel-maps
- http://www.co.siskiyou.ca.us

[2016-12-07 05:26] nvkelso commented on #2201
Possibly ([src](http://ice.ucdavis.edu/doc/parcel_data_contacts)):

[code]

[2016-12-07 05:27] nvkelso commented on #2202
Possibly ([src](http://ice.ucdavis.edu/doc/parcel_data_contacts)):

[code]

Looks to be ParcelQuest related.

[2016-12-07 05:28] nvkelso commented on #2202
Related:

- http://www.co.modoc.ca.us/departments/assessor/ownership-information (maps link to Parcel Quest)
- http://www.co.modoc.ca.us/departments/assessor
- http://www.co.modoc.ca.us/departments/information-technology

[2016-12-07 05:30] nvkelso commented on #2203
Via ([src](http://ice.ucdavis.edu/doc/parcel_data_contacts)):

- http://www.sierracounty.ca.gov/index.aspx?nid=249
- assessor@sierracounty.ws

`Acquiring SHAPE Files & Parcel Boundaries
SHAPE files and parcel boundaries are available for purchase from the Sierra County Information Systems Department for $50. For information about purchasing the data, please contact the Assessor's Office via Email

[2016-12-07 05:35] nvkelso commented on #2204
Another Parcel Quest county... via ([src](http://ice.ucdavis.edu/doc/parcel_data_contacts)):

[code]

Data cost sheet (doesn't mention GIS data):

- http://alpinecountyca.gov/DocumentCenter/View/504

Also (probably old info):

[code]

[2016-12-07 05:38] nvkelso commented on #2205
Another Parcel Quest county... via ([src](http://ice.ucdavis.edu/doc/parcel_data_contacts)):

[code]

[2016-12-07 05:44] nvkelso commented on #2206
Via ([src](http://ice.ucdavis.edu/doc/parcel_data_contacts)):

There's a Parcel download (after a click thru that just asks for a name and city)!

Their map viewer makes it seem like there are address points, too, in the legend, but I can't get the map to load.

- http://www.lynxgis.com/sanbenitoco/data/download/parcels.zip
- http://www.lynxgis.com/sanbenitoco/

But similar to Del Norte where the

[2016-12-07 05:52] nvkelso commented on #2207
Via ([src](http://ice.ucdavis.edu/doc/parcel_data_contacts)):

Looks like good data, just need to get it.

- Map viewer: https://www.geoviewer8.com/?username=icpublic&password=icpublic
- County "GIS" page: http://www.co.imperial.ca.us/Assessor/

[code]

Old contact?

[code]

<img width="1391" alt="screen shot 2016-12-06 at 21 46 40" src="https://cloud.githubusercontent.com/assets/853051/20956366/3

[2016-12-07 05:57] nvkelso commented on #2203
I've emailed them.

[2016-12-07 06:00] nvkelso commented on #2200
[code]

They do have an Esri server for a map viewer:

- https://dnco.maps.arcgis.com/apps/MapTools/index.html?appid=b47cd7d681a34383951e7cfaf8cb8a34

@iandees any tricks to get the parcels out of there?

[2016-12-07 06:00] migurski commented on #1948
I have unearthed one of our old laptops, transferred the DVD contents to a thumb drive, and will bring it in for you tomorrow.

[2016-12-07 06:09] nvkelso commented on #1948
And an office DVD reader should arrive Friday :)

[2016-12-07 06:16] davidchiles commented on #2200
@nvkelso This endpoint looks promising https://services3.arcgis.com/IkUDY1vRIUWiVvcz/ArcGIS/rest/services/DN_Parcels/FeatureServer/0

This has 16,165 parcels. But maybe not all have an address?

[code]

[2016-12-07 06:21] migurski commented on #1948
💿

[2016-12-07 06:23] migurski commented on #1948
http://www.newegg.com/Product/Product.aspx?Item=9SIA8R64671887&cm_re=floppy_usb-_-0N6-004E-000H3-_-Product

[2016-12-07 06:29] nvkelso commented on #2200
Looks to be same data, still with empty situs fields :(

On Tue, Dec 6, 2016 at 10:16 PM, David Chiles <notifications@github.com>
wrote:

[2016-12-07 06:30] nvkelso commented on #1948
💾

[2016-12-07 12:00] justinelliotmeyers opened #2208 "Sublette County, WY Address Points"
little over 6k records ;)

![sublette_wy](https://cloud.githubusercontent.com/assets/5324316/20966944/d19ab4ae-bc4a-11e6-80ee-5d9cc101b110.jpg)

http://sublette.greenwoodmap.com/download/ownership_shp.zip

[2016-12-07 12:45] justinelliotmeyers opened #2209 "Coconino County AZ"
![coconino_az](https://cloud.githubusercontent.com/assets/5324316/20968162/1750291a-bc51-11e6-8f54-f1d71a59ba88.jpg)

http://data.coconinocounty.opendata.arcgis.com/datasets/76ca136c49db437aa624ab8f05d493bd_0

rest: https://utility.arcgis.com/usrsvcs/servers/76ca136c49db437aa624ab8f05d493bd/rest/services/OpenData/CoconinoCountyOpenData/FeatureServer/0

[2016-12-07 15:25] justinelliotmeyers opened #2211 "La Paz County, AZ"
Justin,

We can provide you with a cd containing parcel information for La Paz County.  You would need to send us your written request together with a check in the amount of $300 payable to the La Paz County Assessor’s Office.  GIS data information is provided through our Community Development Department.  You can contact Nora Yackley at nyackley@co.la-paz.az.us for further information.

Kimmy Ols

[2016-12-07 15:40] #2196 closed

[2016-12-07 16:04] nvkelso commented on #1959
Related: https://github.com/openaddresses/openaddresses/issues/2209 for the county area around Flagstaff.

[2016-12-07 16:05] nvkelso commented on #2209
(Does duplicate addresses in Flagstaff, but that's okay.)

[2016-12-07 17:06] #2208 closed

[2016-12-07 17:18] #2187 closed

[2016-12-07 17:53] #2178 closed

[2016-12-07 20:51] #2165 closed

[2016-12-07 21:16] trescube commented on #2176
I set `"srs": "EPSG:28467"` in the conform object but that doesn't appear to work in geojson-typed sources.

[2016-12-07 21:36] trescube commented on #192
This looks like the data:  https://gis.okc.gov/arcgis/rest/services/Accela/AGIS_PPLS_DEV/MapServer/0

[2016-12-07 21:39] trescube commented on #192
Perusing the data, this looks like it's all of Oklahoma County, OK (which includes Oklahoma City)

[2016-12-07 21:55] #192 closed

[2016-12-08 05:34] davidchiles opened #2221 "us/ga/forsyth"
http://gisp2.forsythco.com/arcgis/rest/services/TaxAssessor/CAMA_ParcelMap/MapServer/0

[2016-12-08 05:36] davidchiles commented on #455
Could probably use
http://gis.cherokeega.com/arcgis/rest/services/Address/MapServer/0
or
http://gis.cherokeega.com/arcgis/rest/services/TaxParcels/MapServer/6

[2016-12-08 06:25] davidchiles opened #2224 "us/nm/sandoval"
Not sure how to handle [this one](http://www.sandovalcounty.com/departments/gis-and-mapping/interactive-web-maps-ftp-site).

Site: `ftp://209.234.181.120/ `
Username: `gisguest`
Password : `sandovalG1$`

Possible parcels in this directory ftp://209.234.181.120/GIS%20FTP/TOB/

[2016-12-08 15:24] trescube commented on #2170
OA machine is throwing an exception trying to unzip the file:  https://s3.amazonaws.com/data.openaddresses.io/runs/133288/output.txt

I can download/unzip on both linux and mac without a problem.

[2016-12-08 16:37] migurski commented on #2170
Strange. I tried running the source through Python locally, and it was fine. Then re-ran the pull request and the same error came up.

[2016-12-08 18:40] justinelliotmeyers opened #2228 "Cochise County, AZ"
![cochise_az_12082016](https://cloud.githubusercontent.com/assets/5324316/21022600/3848a2dc-bd4b-11e6-9cf5-a5dabcb26114.jpg)

Mr. Meyers,

I have created an export of Cochise County addresses as requested and uploaded it to the Cochise County ftp site.

As it states in the GIS Map Gallery, you’ll need to contact the Assessor’s office directly to obtain ownership and assessment information as they

[2016-12-08 18:40] justinelliotmeyers commented on #2228
https://www.dropbox.com/sh/wqc35ksrhfvtc5i/AABow5r84CqhMniri0eHWJ5xa?dl=0

[2016-12-08 18:44] migurski commented on #1941
I was unable to read the DVD using my old laptop. Maybe another CD drive would do it?

[2016-12-08 18:57] nvkelso commented on #1941
Doh! I'll try with new drive I ordered. Else will request replacement disc from county.

[2016-12-08 21:17] nvkelso commented on #2211
Interstate 10 goes thru, seems worth while to buy.

[2016-12-08 21:18] nvkelso commented on #2211
Curious fact from the Wikipedia page: The formation of this country prompted Arizona to change the laws to make it harder to form new counties in the state.

[2016-12-08 21:48] justinelliotmeyers commented on #1973
@nvkelso
Richland County - $.50/ parcel - roughly 164k parcels.  That is just for the geometry.  Attributes can be purchased separately.  I can figure out the price for that if you want me to...

City of Columbia - attached record request.  believe it would cost $150 (and maybe some change).  The guy from the city (contact info below) was super helpful and fun speaking to.  asked at least twenty q

[2016-12-08 21:50] justinelliotmeyers commented on #1973
also, Richland is still working on an address point layer, but won't be done soon, and may not release to the public.

[2016-12-08 21:51] davidchiles commented on #2221
@trescube 😕 This is for Forsyth County. The pull request was for Douglas County.

[2016-12-08 22:03] trescube commented on #2221
D'OH!  Sorry about that.

[2016-12-08 22:05] trescube commented on #2221
Some might say that I had Georgia on my mind :rimshot:

[2016-12-08 23:06] nvkelso opened #2229 "Richland county, SC"
The suburbs around Columbia, SC are **Richland County**.

They charge $.50/ parcel - roughly 164k parcels. That is just for the geometry. Attributes can be purchased separately. That's more expensive than my petty cash jar, so filing this away for a lucrative day.

e-mailed them: GIS@rcgov.us - called - office is closed. will call first thing in morning.

They are also working on an address point

[2016-12-08 23:06] nvkelso commented on #1973
Let's split off Richland county into https://github.com/openaddresses/openaddresses/issues/2229, and I'll take on paying for the city.

[2016-12-08 23:11] nvkelso commented on #1948
Data is uploaded to S3 here:

- https://s3.amazonaws.com/data.openaddresses.io/cache/uploads/nvkelso/2806bc/clark_county_vancouver_wa_tax_parcels.zip

Usual caveat about using SITUS address instead of mailing address, and don't export the owner names.

<img width="600" alt="screen shot 2016-12-08 at 15 09 19" src="https://cloud.githubusercontent.com/assets/853051/21031484/9a3c0030-bd58-11e6-8404-6

[2016-12-08 23:49] #1945 closed

[2016-12-09 00:45] #1948 closed

[2016-12-09 00:50] justinelliotmeyers commented on #1973
@nvkelso do we want to pay for it or just pull it from the rest services @iandees found above?

[2016-12-09 01:06] iandees commented on #2228
Uploaded to https://s3.amazonaws.com/data.openaddresses.io/cache/uploads/iandees/c5c85c/CcGISData161208.zip

[2016-12-09 01:08] justinelliotmeyers commented on #2228
Thanks @iandees

[2016-12-09 01:11] iandees commented on #2228
That link I posted was for the .mdb, which we don't support, so I uploaded the accompanying CSV: https://s3.amazonaws.com/data.openaddresses.io/cache/uploads/iandees/c5c85c/Dev_Address_V.csv.zip

[2016-12-09 01:42] #2228 closed

[2016-12-09 02:23] nvkelso commented on #1973
Oh, if there is rest, let's rest!

Sent from my handsful device.

[2016-12-09 05:04] davidchiles commented on #473
Address data here http://gis.peoriacounty.org/arcgis/rest/services/DP/CommunityLayers/MapServer/64
Also need to add `?f=json` to end of url for view in browser.

I need some help with the regex on the `prop_street` field
[code]

This isn't great because it gives back street values like `W WILLOW KNOLLS UNIT 82D RD`. The units value is mixed in with the street name and the street type.

[2016-12-09 15:45] trescube commented on #473
Wow, that is some messy data.  That's probably as good as it's going to get at least with the `regexp` function (insofar as I understand its abilities).  Could you add `unit` to it yet to grab the ones that are postfixed?

[2016-12-10 23:42] justinelliotmeyers opened #2238 "New Nation-wide Czech Address Data!!"
![cz_addr_12092016](https://cloud.githubusercontent.com/assets/5324316/21076941/f06f5320-bf07-11e6-9449-18b65caf0c8f.jpg)

Current data below is green.  Red is new data.  (I like mapping during the holidays... X-Mas colors...).
![cz_addr_12092016_compare_to_current](https://cloud.githubusercontent.com/assets/5324316/21076945/2954ca9e-bf08-11e6-9c92-1250a1880a74.jpg)

For the past week I have been

[2016-12-12 12:51] cesaregerbino opened #2242 "Info about Italy sources ..."
Hi all! I'm just a little confuse about sources data for Italy

Just for info ... I've seen that in

https://github.com/openaddresses/openaddresses/tree/master/sources/it

there are all the sources about Italy. This is ok and clear: I've seen that these are
the same data that I can download from there

http://results.openaddresses.io/?runs=all#runs

But if I look at the pull requests 1894 to 1901

[2016-12-12 15:12] trescube commented on #2174
Only `Site_Address` is valid, the `City_State` and `Zipcode` fields are for mailing address.  Rather than not skipping house number or using `0`, the source adds `XXX`, eg - `XXX KEY PENINSULA HWY N`.

[2016-12-12 15:17] #1477 closed

[2016-12-12 20:55] justinelliotmeyers commented on #2150
Griggs county response:
Hello Justin,
This is the response I got back from our 911 Coordinator. Please let me know if I can do anything else for you or you may email him as well.
Thanks,
Samantha M Larson
Griggs County Auditor

---------- Forwarded message ----------
From: Wayne Oien <wayne.oien@griggscountynd.gov>
Date: Mon, Dec 12, 2016 at 2:19 PM
Subject: Re: Fwd: Griggs County, ND GIS Data Req

[2016-12-13 13:03] justinelliotmeyers commented on #2238
I believe I found a table (http://apl.czso.cz/irso4/home.jsp ) that links to their basic settlement units that tells us the number of addresses we should roughly have per location; not sure how current it is, but I believe they update it regularly.  Data is here: https://www.dropbox.com/sh/d0wwy2wksdejqiy/AACyUy7Eun-RLb69xhdBrX94a?dl=0

[2016-12-13 17:34] #2174 closed

[2016-12-13 17:53] trescube commented on #2168
I'm having a really hard time with this source, it gives a lot of `ReadTimeoutError`'s on the 3rd batch.  I've had no luck with [pyesridump](https://github.com/openaddresses/pyesridump) either.

[2016-12-13 19:18] trescube commented on #2224
I download a number of potentials on that FTP site and encountered:

* there's good data for Bernalillo but we already [have it](https://github.com/openaddresses/openaddresses/blob/master/sources/us/nm/bernalillo.json)
* there is Sandoval parcel data in [this](ftp://209.234.181.120/GIS%20FTP/TOB/Bernalillo/sandoval_802_2010.shp) but the `SITUS` values appear to be some sort of shorthand or inconsi

[2016-12-13 21:04] nvkelso commented on #1941
Data is ready for PR here:

- https://s3.amazonaws.com/data.openaddresses.io/cache/uploads/nvkelso/d84a43/mendocino_california_Parcels_10_15_U.zip

Use `SITUS_*` fields – and like all parcel datasets, the rural areas don't have have street numbers but the urban areas do.

<img width="651" alt="screen shot 2016-12-13 at 12 57 19" src="https://cloud.githubusercontent.com/assets/853051/21159076/9d26b

[2016-12-13 21:05] nvkelso commented on #1941
Turns out there's a reason we stopped using DVD drives, but if you need a disk read, send it my way ;)

[2016-12-13 21:20] nvkelso commented on #2211
I've emailed asking for payment details.

[2016-12-13 21:22] nvkelso commented on #2150
@justinelliotmeyers Looks like issues per county that have data have been created? Is there any more followups here for this general issue or should we close it?

[2016-12-13 21:24] nvkelso commented on #2141
@justinelliotmeyers I think this work is a duplicate of https://github.com/openaddresses/openaddresses/issues/2185? Can you confirm, and if so please close.

[2016-12-13 21:27] nvkelso commented on #2185
Related: It looks like the **2015** version (versus this 2016 data) was used in this recent PR: https://github.com/openaddresses/openaddresses/pull/2133.

@iandees: what's the backstory on that? Should we make a new PR for this issue for the 2016 data?

[2016-12-13 21:28] #1941 closed

[2016-12-13 21:29] iandees commented on #2185
I don't think 2016 existed there when I created that PR.

[2016-12-13 21:29] justinelliotmeyers opened #2247 "Campbell and Pendleton Counties, Kentucky"
Campbell:
![campbell_ky](https://cloud.githubusercontent.com/assets/5324316/21159867/c5db1522-c150-11e6-8987-2c428e284e06.jpg)
http://linkgis.org/arcgisweb/rest/services/addressPoints/MapServer/3
NUMADDR - house number and street name

Pendleton:
![pendleton_ky](https://cloud.githubusercontent.com/assets/5324316/21159876/d1925eb6-c150-11e6-9ceb-051d58db11df.jpg)
http://linkgis.org/arcgisweb/rest/s

[2016-12-13 21:29] nvkelso commented on #2032
@justinelliotmeyers Can you tickle the other 2 Hawaii counties again, please?

[2016-12-13 21:33] nvkelso commented on #2027
I asked them again via the same form.

[2016-12-13 21:37] justinelliotmeyers commented on #2141
@nvkelso In my initial call I asked specifically about address point data.  This was created as per that (in my mind).  She told me she wanted to release it in October, but other projects came up.  So she told me to keep checking.  I checked this morning at 9 am cst and did not see it out there.  I created https://github.com/openaddresses/openaddresses/issues/2185 because the parcels were released

[2016-12-13 21:39] nvkelso commented on #2141
Cool, let's keep this one open then. I'll retitle the issues to emphasize points versus parcels.

[2016-12-13 21:40] nvkelso commented on #1978
@justinelliotmeyers want to tickle these folks again, please?

[2016-12-13 21:42] nvkelso commented on #2016
I think this was covered in the recent Texas state-wide dataset addition this month, but it'll still be nice to add.

[2016-12-13 21:43] justinelliotmeyers commented on #2150
@nvkelso I called and spoke with Mr. Phil Peterschick (ND Emergency Services) today.  We talked for about thirty minutes.  He told me his director said no to releasing the data at this time.  He brought up the state statute   He is still optimistic about the data becoming open, which gives me hope...  But I don't know where that leaves us.  He told me there is a conference in March and would have

[2016-12-13 21:46] justinelliotmeyers commented on #2150
I have to create one more ticket for McLean County, ND - I have been back and forth with their E-911 mapping/ gis person their.  He sent me address data with no attributes - then some attributes...  Finally yesterday he sent all the address attributes he had - which is only for rural addresses (*no idea why urban are empty...).
Justin,
You got the rural areas.  The GIS guy that helps is working on

[2016-12-13 21:47] justinelliotmeyers commented on #2150
@nvkelso is it okay to create a ticket for just rural data for McLean County?

[2016-12-13 21:48] nvkelso commented on #2150
Yes, new issue just for rural part of McLean County.

On Tue, Dec 13, 2016 at 1:47 PM, Justin Meyers <notifications@github.com>
wrote:

[2016-12-13 21:51] nvkelso commented on #2185
Can you check to see if the coverage is better in 2016 version, please?

[2016-12-13 21:59] nvkelso commented on #2207
I've sent them an email.

[2016-12-13 22:02] nvkelso commented on #2206
Emailed them.

[2016-12-13 22:06] nvkelso commented on #2203
Emailed them again.

[2016-12-13 22:14] nvkelso commented on #2200
Called the number, got transferred around a couple times. They have a single GIS tech, left a voice message with her.

[2016-12-13 22:20] nvkelso commented on #2017
This was included in statewide Texas data via https://github.com/openaddresses/openaddresses/issues/2179.

[2016-12-13 22:20] #2017 closed

[2016-12-13 22:21] nvkelso commented on #2015
May still be missing after statewide Texas data via https://github.com/openaddresses/openaddresses/issues/2179, hard to tell.

[2016-12-13 22:23] nvkelso commented on #2014
May still be missing after statewide Texas data via https://github.com/openaddresses/openaddresses/issues/2179.

[2016-12-13 22:30] nvkelso commented on #2014
Definitely still missing.

[2016-12-13 22:31] nvkelso commented on #2015
Missing:

<img width="786" alt="screen shot 2016-12-13 at 14 30 07" src="https://cloud.githubusercontent.com/assets/853051/21162166/d16c88b8-c140-11e6-846f-d79a0c097fdb.png">

[2016-12-13 22:32] nvkelso commented on #2010
Still missing after statewide Texas data via https://github.com/openaddresses/openaddresses/issues/2179.

[2016-12-13 22:34] nvkelso commented on #2009
Still missing after statewide Texas data via https://github.com/openaddresses/openaddresses/issues/2179.

Oddly the rural areas around there do have coverage now?

<img width="733" alt="screen shot 2016-12-13 at 14 33 22" src="https://cloud.githubusercontent.com/assets/853051/21162221/291a71d8-c141-11e6-828b-f6c7f464e14e.png">

[2016-12-13 22:34] nvkelso commented on #2008
Still missing after statewide Texas data via https://github.com/openaddresses/openaddresses/issues/2179.

[2016-12-13 22:35] nvkelso commented on #2007
Still missing after statewide Texas data via https://github.com/openaddresses/openaddresses/issues/2179.

[2016-12-13 22:36] nvkelso commented on #2001
Still missing after statewide Texas data via https://github.com/openaddresses/openaddresses/issues/2179.

[2016-12-13 22:39] nvkelso commented on #1954
Oregon statewide data in #2148 doesn't include Lincoln county :(

[2016-12-13 22:40] nvkelso commented on #1956
Yes, Coos is included in #2148, closing this one.

[2016-12-13 22:40] #1956 closed

[2016-12-13 22:42] nvkelso commented on #1951
Douglas county isn't included in state-wide Oregon data in #2148, this issue is still relevant.

[2016-12-13 23:12] nvkelso commented on #2203
Heard back from Laura and paid via credit card using this confusing [form](https://client.pointandpay.net/web/SierraCountyCAOnlinePayments) (entering in a official fake APN number, of all things!). The fee wasn't too bad, $52 total purchase price.

[code]

[2016-12-13 23:18] justinelliotmeyers commented on #1954
Spoke to assessor, no data... Called e911 dispatch.  5037633328 Robbie hurry.  Left a voicemail.

[2016-12-13 23:22] nvkelso commented on #411
While we have Boulder city, looks like we're still missing Boulder county.

This page [describes](http://gis.bouldercounty.opendata.arcgis.com/datasets/89ae49d4ddf246388ee5f5e952aa84db_0) parcel data, including download options:

- http://maps.bouldercounty.org/arcgis/rest/services/Emap/BOCO_Parcels/MapServer/0
- http://gis.bouldercounty.opendata.arcgis.com/datasets/89ae49d4ddf246388ee5f5e952aa84d

[2016-12-13 23:38] justinelliotmeyers commented on #1954
Robbie called back.  Spoke for 15 minutes,. Need to formally request data.  Person in charge of Salem and three counties data requests will return Wednesday.  Will follow up first thing Wednesday morning.

[2016-12-14 01:01] justinelliotmeyers opened #2248 "McLean County, North Dakota (Rural Addresses Only)"
![mclean_county_north_dakota](https://cloud.githubusercontent.com/assets/5324316/21165636/84635488-c16e-11e6-95bd-7e981d1794d5.jpg)
Been in contact with Todd A. Schreiner
McLean County
Equalization / Land Use / Veteran Service / E-911 Mapping / GIS
tschreiner@nd.gov

since 11/29 - after several emails back and forth, this is as far as their county is with an address point dataset.  He told me to f

[2016-12-14 01:24] justinelliotmeyers commented on #2150
McLean County Ticket here https://github.com/openaddresses/openaddresses/issues/2248

did not add PR because is dropbox link.  There might be one or two counties in the process of sending me data, but I will just create new tickets once I receive data.  I set a follow-up in my calendar to touch base with Mr. Petershick in March.  I also asked if we could purchase the data for a one time fee or sub

[2016-12-14 02:50] nvkelso commented on #2150
Sounds good.

Please do small write up in this ticket to summarize findings. Then close; if new counties come thru make new per county
Issues.

Sent from my handsful device.

[2016-12-14 06:20] nvkelso commented on #2248
Uploaded to S3 here:

- https://s3.amazonaws.com/data.openaddresses.io/cache/uploads/nvkelso/4f623f/McLean_Rural_north_dakota.zip

The addresses seem to be for the property (there isn't situs columns), even though owner names are also listed.

<img width="978" alt="screen shot 2016-12-13 at 22 12 05" src="https://cloud.githubusercontent.com/assets/853051/21171655/4ba3194e-c182-11e6-9af9-778b6b5e4b

[2016-12-14 06:22] nvkelso commented on #2248
(Seems to be the whole county, too, the "missing" areas are water bodies.)

@migurski might be interesting to add the `county` lines from `boundaries` layer to the preview maps to get a sense if the source is full coverage.

[2016-12-14 06:34] nvkelso commented on #411
Verified the join of those 3 files will result in the correct addresses (but PR still needed to automate this).

QGIS preview:

<img width="978" alt="screen shot 2016-12-13 at 22 32 45" src="https://cloud.githubusercontent.com/assets/853051/21171964/2f9201be-c184-11e6-8d78-bef731203163.png">

[2016-12-14 06:41] nvkelso commented on #291
I see data on the dotmap for this area.

But the data download for address **points** is here:

- http://widget.charlottesville.org/gis/zip_download/parcel_point.zip

<img width="722" alt="screen shot 2016-12-13 at 22 40 21" src="https://cloud.githubusercontent.com/assets/853051/21172178/3cb607f4-c185-11e6-8d58-f272e27560bd.png">

[2016-12-14 06:42] nvkelso commented on #417
Too expensive.

[2016-12-14 06:43] nvkelso commented on #2206
Response:

[code]

[2016-12-14 22:45] justinelliotmeyers commented on #2238
https://www.dropbox.com/s/fhopgbg4vkyoobr/czech_addresses_wgs84_12092016_MASTER.zip?dl=0

[2016-12-14 23:52] nvkelso commented on #2206
[code]

I've emailed again today asking for the address point data.

[2016-12-15 01:01] trescube commented on #2238
Sweet!  Is there a form of the data with the the address parts split out or is the single `alternativ` field reliably parseable with regexes?

[2016-12-15 01:13] justinelliotmeyers commented on #2238
From the RUIAN, the way the original import happened; possibly.  I downloaded this gis data from their open INSPIRE dataset.  It seems to be updated very frequently.  So I think either way, we should update it (with or without the data I created).  But the way I converted from their xmls through FME it put it in one field.  Google translate stops working once you get so far in the RUIAN XML downlo

[2016-12-15 01:19] trescube commented on #2238
I think it can make some sense of it.  Towards the end of the file the commas go away or there aren't as many comma-delimited fields but the general format w/postcode might be enough to go on.

[2016-12-15 01:36] justinelliotmeyers commented on #2238
Do you want me to run a nearest to the current data and add all those fields?

[2016-12-15 01:36] trescube commented on #2238
Sure, if you can, that would be helpful if it's not too much trouble

[2016-12-15 01:58] justinelliotmeyers commented on #2238
yes - i have two files; the current dataset w triplicates, and uniques i split out.  ill run  against my uniques, think it should be fine - essentially this will just be a check for you to split out fields - running now.  I'' upload asap when its done cranking (**pending esri doesn't error 99999)!?!

[2016-12-15 05:58] trescube commented on #2175
I have a schema ~90% built for this locally that I'll hopefully be wrapping up this week.  The performance is far better than the node tests.  Using [ajv](https://www.npmjs.com/package/ajv) for validation, all 1788 sources can be checked in < 2 seconds vs 20 seconds for the node tests.

There's also an off-by-one error in sources.js tests.  It processes all the but last source.

[2016-12-15 12:40] justinelliotmeyers commented on #2238
@trescube here is the near analysis done on my filtered unique data: https://www.dropbox.com/s/l5r6smxtxbprzpc/new_czech_near_existing_oa.zip?dl=0

let me know if you have any questions

thanks,
Justin

[2016-12-15 17:38] gfavors21 opened #2255 "Bs"
Help

[2016-12-15 17:38] #2255 closed

[2016-12-15 17:59] nvkelso commented on #2206
Received address points via email, 16.5k records:

- https://s3.amazonaws.com/data.openaddresses.io/cache/uploads/nvkelso/49c92f/SBCAddress.zip

![screen shot 2016-12-15 at 09 53 05](https://cloud.githubusercontent.com/assets/853051/21235793/257dfd02-c2ad-11e6-87d0-f8ebb72b908a.png)

<img width="894" alt="screen shot 2016-12-15 at 09 52 50" src="https://cloud.githubusercontent.com/assets/853051/21

[2016-12-15 18:49] justinelliotmeyers opened #2256 "Jamaica Parcel data"
http://gaia.globejamaica.com/NLA_Flex/rest/services/Maps/LandBase_NLA/MapServer/37

Not sure if this will work or is of any value, but wanted to share

[2016-12-15 19:54] trescube commented on #2256
This might work, too:

http://gaia.globejamaica.com/NLA_Flex/rest/services/Maps/Parcel_Mobile/MapServer/0

It also looks like it has separated fields for street.  I can't get either to load in QGIS, though.

[2016-12-16 11:38] lagoonowner commented on #2256
Its advisable to label them

[2016-12-16 21:11] smemorex opened #2257 "Acerra, Italy (was how to import shape file)"
hello,

i have shape file with all building number and road of a city that don't have this information on openaddresses , can you help me to import on openaddresses so it will be public to all

?

[2016-12-16 21:17] trescube commented on #2257
Hi, first two questions:

1.  is it in a zip file?
2.  where is the shapefile hosted?

[2016-12-16 21:18] nvkelso commented on #2257
Hi @smemorex,

What is the source of the data?

The data should be in CC0, CC-BY, CC-BY-SA, or equivalent license.

We prefer data hosted on a public website, but we also offer an S3 upload
tool:
https://github.com/openaddresses/openaddresses/issues/2257

On Fri, Dec 16, 2016 at 1:11 PM, smemorex <notifications@github.com> wrote:

[2016-12-16 21:21] justinelliotmeyers opened #2258 "Henrico County VA Address Points"
![henrico_co_va_addr_points_12162016](https://cloud.githubusercontent.com/assets/5324316/21278910/a4c8926c-c3ab-11e6-8af9-e8fc352f07c2.jpg)

http://gis.co.henrico.va.us/arcgis/rest/services/OpenData/MapServer/35

[2016-12-16 22:38] trescube commented on #2238
@justinelliotmeyers I checked out the latest data and the separate fields for number/street/city are fantastic!  I noticed a few issues though that I wasn't sure if they were just how Czech addresses were formatted.  First, `NUMBER` and `POSTCODE` values > 1000 are number-formatted with commas.  Second, `/`-delimited numbers like `249/20` have `NUMBER` value of 0.  Please advise!

[2016-12-16 22:45] justinelliotmeyers commented on #2238
If you are talking about the nearest values (from old data (our current OA)), it is because arc doesn't like numbers that are not numbers and it removes the values (either makes null, or makes them a zero).  but in the new data, everything came the way it is, so I would say everything is raw data - unless the way FME converted it changed something, but I don't think it would have.  I hope that mak

[2016-12-16 22:45] Hanafee commented on #2257
#2257

[2016-12-16 23:00] nvkelso commented on #2257
Doh, the real link for S3 upload tool is:

- https://results.openaddresses.io/upload-cache

[2016-12-17 16:27] trescube commented on #2238
I think that makes sense.  I'm currently trying to pull a PR together for the first one you sent and that's going reasonably well, the regexes are a little tricky though.  Anyway, do you know how `č.p. 360, 79862 Rozstání` should be parsed?  The lat/lon on google goes to:

Rozstání 360
798 62 Rozstání

but I'm not sure what the `č.p.` part means.

[2016-12-17 17:47] smemorex commented on #2257
Acerra, 80011 Acerra, Italy

if i do a search i see city in openaddresses but not street or builnding number ,  and in openstreetmap i se street but noit building number

using mapzen i have no result with openaddresses or openstreetmap but i opened another ticket for this

i can ask all license/permission needed to istututional site or government unit but if i can upload data sooner it will bette

[2016-12-17 17:57] nvkelso commented on #2257
Hmm, we should have all of Italy since last week.

Stephen, has Mapzen Search picked up the new data yet?

[2016-12-17 18:15] smemorex commented on #2257
hello,
for example if i search for via mazoni acerra here

https://openaddresses.io/

or via mapzen i can't find anything , i see that there aren't many street of italy

for mapzen they opened this ticket

https://github.com/pelias/pelias/issues/486

i have 2 problem

1) using mapzen i have no result instead on openstreet i should have at least street result withouth building number

2) there aren

[2016-12-17 18:33] smemorex commented on #2257
you cand download an archive with shape file here

http://188.213.168.153/civici_acerra.tar.gz

[2016-12-17 18:50] justinelliotmeyers commented on #2238
Perhaps this: https://cs.m.wikipedia.org/wiki/Číslo_popisné

[2016-12-17 18:56] justinelliotmeyers commented on #2238
Perhaps this: https://cs.m.wikipedia.org/wiki/Číslo_popisné ; I don't know how it should be parsed.  I just hope it is consistent.  I'm away from a PC right now but can look later to see.  I think Praha gas a good open website that may have addresses that we can double check against here: http://www.geoportalpraha.cz/cs/opendata#.WFWJzJ9MFnG but I can't see if any of the datasets are address point

[2016-12-17 19:29] iandees commented on #2257
One of the important parts of OpenAddresses is that we prefer to have data from primary sources.

Can you let us know where this data came from?

[2016-12-17 19:46] smemorex commented on #2257
www.comune.acerra.na.it official municipality give me , if i need to upload on official site i need some day to ask permission but i prefer to load data before and then will upload shp on official site when i publish my work

[2016-12-17 20:26] smemorex commented on #2257
so data are from primary source

[2016-12-18 13:19] james2432 opened #2262 "Gatineau, QC, CA"
https://github.com/openaddresses/openaddresses/blob/master/sources/ca/qc/gatineau.json
Way back I notified you that the click through didnt work for gatineau, because you needed to accept the license terms. I've been processing Gatineau address data in the CSV format to add to osm and upload that month's file to dropbox. Would it be useful for me to give you a dropbox link to the latest file that

[2016-12-18 15:36] smemorex commented on #2242
Hello, i opened a issue  #2257 for Acerra ( it ) , i can't find it on openaddresses , i have shape file taken from municipality but i don't uderstand how to upload info on openaddresses

[2016-12-19 11:32] justinelliotmeyers commented on #2150
Reaching out to all 53 counties in North Dakota was a bit of a challenge. Many of the counties are rural, don't have straight forward webpages, or any gis at all. After my first large push of finding data, I was informed that the state is putting together a state wide dataset. This was an amazing discovery; it would save eveyone so much time. After speaking to Phil Peterschick (the state gis perso

[2016-12-19 11:35] justinelliotmeyers commented on #1978
e-mailed
gis@luzernecounty.org
fred.rosencrans@luzernecounty.org

will follow-up Wednesday if I do not hear back

[2016-12-19 11:44] justinelliotmeyers commented on #2027
I sent another formal request; I will call on Wednesday if I do not receive a response.

[2016-12-19 11:56] justinelliotmeyers commented on #2032
Sent follow-up to Kauai, Hawaii, and Honolulu counties. If I do not hear back by wednesday, I will follow-up

[2016-12-19 12:55] justinelliotmeyers commented on #2238
@trescube this seems to explain the Czech addresses pretty good: http://www.upu.int/fileadmin/documentsFiles/activities/addressingUnit/czeEn.pdf

[2016-12-19 15:20] justinelliotmeyers commented on #1978
Called and left a voicemail with director:
5708251521
David Skoronski

[2016-12-19 15:43] justinelliotmeyers commented on #1978
Justin,

At this time we cannot extract those data elements from our internal proprietary emergency dispatching system for openly licensed purposes.  Additionally, the internal data we manage does not have postal codes inherent in the data.  Keep in touch for any future developments in this area.

We do have a policy for enhanced digital data distribution that includes Tax Parcel data (tax mailing

[2016-12-19 17:38] nvkelso commented on #2203
Received their DVD, but the parcel polygons only have APN identifiers.

I've emailed them back asking for a join table or a different version with the addresses.

- https://s3.amazonaws.com/data.openaddresses.io/cache/uploads/nvkelso/515881/sierra_co_california_parcels.zip

[2016-12-19 17:48] nvkelso commented on #2203
Sounds like the assessor can query a report into Excel to include APN and Situs together and forward :)

[2016-12-19 18:04] nvkelso commented on #2150
Research for North Dakota was spread out over several days, but took somewhere between 8-10 hours. 10 hours * 60 minutes / hour / 53 counties = 12 minutes per county.

[2016-12-19 18:42] nvkelso commented on #2262
Nice! I see what you mean about the license click-thru (and it's just CC-BY, sigh).

We generally do S3 uploads so I've done that step and it's here:

- https://s3.amazonaws.com/data.openaddresses.io/cache/uploads/nvkelso/6e49cb/Gatineau_QC_CA_ADRESSE.zip

Looks like this data source has not been added to the map yet (though it was indexed):

<img width="1062" alt="screen shot 2016-12-19 at 10 38

[2016-12-19 18:46] james2432 commented on #2262
Yeah, the license page has to receive a "accept license" cookie before download proceeds, which is annoying. I update this data monthly(when they release a new file) older files can be found here: https://www.dropbox.com/sh/n8tpe1p45fvzmrk/AAB0YFAIjCpZfF8aZxUXf8uYa?dl=0

[2016-12-19 19:11] james2432 commented on #2262
I just checked and the csv seems to work directly now with this link(didn't before): http://gatineau.ca/upload/donneesouvertes/ADRESSE.csv

[2016-12-19 19:12] james2432 commented on #2262
Shapefile even works now: http://gatineau.ca/upload/donneesouvertes/ADRESSE.zip

[2016-12-19 19:16] nvkelso commented on #2257
Looks like this new source has significantly more coverage than what' in OpenAddresses now, good find!

![screen shot 2016-12-19 at 11 15 26](https://cloud.githubusercontent.com/assets/853051/21325728/8eb3ca2c-c5dc-11e6-97f4-de72493682c8.png)
<img width="1106" alt="screen shot 2016-12-19 at 11 15 20" src="https://cloud.githubusercontent.com/assets/853051/21325730/8ed01fec-c5dc-11e6-89f9-78e64d00d0

[2016-12-19 20:58] smemorex commented on #2257
hello,
also if i search a street now on opendresses i can't find anything regarding acerra , but only the city , in the map published on openaddresses you can see some street but if you try to search you don't have any result
there is a way to upload new data and fix search problem?

[2016-12-19 23:15] nvkelso commented on #2257
This case seems more complicated than normal. Thanks for your patience while we work through it.

@smemorex Can you verify the data license on the address data, please (CC-BY or similar)?

Ideally it's posted on the city website so the "primary source" is obvious, and if they later update the data we can automatically pick up the changes.

Sometimes we will include data that is not posted publicly

[2016-12-20 08:30] smemorex commented on #2257
Hello,
License is IODL 2.0 , is italian opendata that is cc-by compliant

For future automatic update i have to create a page that permit download of
file in wich format?

Il 20/dic/2016 00:15, "Nathaniel V. KELSO" <notifications@github.com> ha
scritto:

[2016-12-20 11:40] justinelliotmeyers opened #2271 "Wuppertal, Nordrhein-Westfalen, Deutschland"
![wuppertal](https://cloud.githubusercontent.com/assets/5324316/21349258/f249bbe4-c67e-11e6-87ea-f151dd307f78.jpg)

Residential Building Addresses: http://www.offenedaten-wuppertal.de/dataset/wohngeb%C3%A4ude-baujahre-wuppertal
Non-Residential Building Addresses: http://www.offenedaten-wuppertal.de/dataset/nichtwohngeb%C3%A4ude-baujahre-wuppertal

I downloaded the WGS84 Web Mercator Shapefile vers

[2016-12-20 12:08] justinelliotmeyers opened #2272 "Vitoria, Brazil"
Something here is broken: http://results.openaddresses.io/sources/br/es/vitoria

I did find this resource today: https://proxygis.vitoria.es.gov.br/arcgis/rest/services/Externo/PortalInstitucional/MapServer/27 But I can only grab the first 1,000 records. Can someone else see if this pulls down more current data than what we had (seemed like it was a one-time dataset and amounts didn't change)?

Th

[2016-12-20 12:40] justinelliotmeyers opened #2273 "Grafschaft Bentheim, Niedersachsen, Deutschland"
![grafschaft_1](https://cloud.githubusercontent.com/assets/5324316/21350664/89b9b41e-c686-11e6-975d-04bdfa67c6b1.jpg)
![grafschaft_0](https://cloud.githubusercontent.com/assets/5324316/21350665/89bc7c3a-c686-11e6-85ae-aef2b2d97135.jpg)

http://gis.grafschaft.de/arcgis/rest/services/offen/Hausadressen_LGB/MapServer

[2016-12-20 16:11] #2273 closed

[2016-12-20 16:54] nvkelso commented on #2257
Great to hear about IODL 2.0 license!

Yes, public download link works best. For instance on the city website.

[2016-12-20 17:22] smemorex commented on #2257
Hello in meantime Can you upload new data before i do de page? Can this
Also solve search project?

Il 20/dic/2016 17:54, "Nathaniel V. KELSO" <notifications@github.com> ha
scritto:

Great to hear about IODL 2.0 license!

Yes, public download link works best. For instance on the city website.

of

the

when

issues/2257#issuecomment-268106716>,

AXdIxFtpQTbeWjJgteDqRWOFEsXqn54tks5rJxAkgaJpZM4LPmSC

[2016-12-20 17:36] #2272 closed

[2016-12-21 15:17] justinelliotmeyers commented on #2027
12/21/2016 after calling several times today... finally got through to the only office that handles gis - was told they would pull the data, but no idea if that will happen.  I believe the person in charge is:
Leon Gafford
Public Works GIS
Title: GIS Analyst
Phone: (318) 226-6934

Hopefully I can resolve all of this today.

[2016-12-21 16:15] justinelliotmeyers commented on #2027
what a journey...
gis > assesors > third party company > sales person...

$2000 for all of Caddo Parish (about 140 k parcels).  about 100k in Shreveport alone (which if we don't want all data, it is $.40 per parcel with $100 minimum.

I sent a formal e-mail about the project to make sure the terms of the data allow redistribution. Stay tuned @nvkelso

The point of contact I was working with is her

[2016-12-21 19:06] #2168 closed

[2016-12-21 19:16] davidchiles opened #2280 "Allegan County, Michigan"
I found this:

http://cms.allegancounty.org/services/GIS/SitePages/Parcels.aspx

Each township has its own shape file that contains `PROPADDRESS` for each parcel.

[2016-12-21 19:22] trescube commented on #2280
Nice find!

[2016-12-21 23:42] nvkelso opened #2281 "Switch Acerra, Italy datasource over to govt website"
We took a shortcut in https://github.com/openaddresses/openaddresses/issues/2257 to post the source to S3. Once the data is published on the public government website we should switch it over.

[2016-12-21 23:42] nvkelso commented on #2257
I've uploaded to S3 here:

- https://s3.amazonaws.com/data.openaddresses.io/cache/uploads/nvkelso/e0a0f2/civici_acerra_italy.tar

[2016-12-22 00:57] nvkelso commented on #2257
@smemorex Pull Request to add data has been merged: https://github.com/openaddresses/openaddresses/issues/2282.

[2016-12-22 00:57] #2257 closed

[2016-12-22 01:07] nvkelso commented on #2257
(OpenAddress builds I think are on the weekend, and then Mapzen Search will need to pick that up, so it's not live immediately.)

[2016-12-22 10:02] simonkas opened #2284 "My accounts and devices are all compromised"
I don't have control of my iPhones and MacBook and printers, even my new Sony dslr with wifi. I know remotes access my devices, steal my data , large photos ( I'm a a photographer). Changes are constantly made and my permissions denied. I'm always locked out and passwords and accounts hijacked. I've had root administrating my mac , and frequent guests signed on. Going on for over 6 years, can't ge

[2016-12-22 10:03] simonkas commented on #2284
Please help me?

[2016-12-22 13:12] #2284 closed

[2016-12-22 15:46] justinelliotmeyers commented on #1978
Justin,

Since the Tax Assessor’s SITUS address field is so very riddled with bad data, we do not include SITUS in data deliveries (perhaps that will change in the future, but I’m not in control of their database).  I speak for the E911 folks related to data inside their CAD system and they are not doing extracts at this time.

Attached and below my signature is our boiler-plate information for da

[2016-12-22 16:26] iandees opened #2285 "Orange County, NY"
http://ocgis.orangecountygov.com/ArcGIS/rest/services/Dynamic/LandBase/MapServer/0

(For https://twitter.com/mrejfox/status/811945914067718144)

[2016-12-22 17:02] justinelliotmeyers opened #2286 "Lincoln County, WY"
![lincoln_wy](https://cloud.githubusercontent.com/assets/5324316/21433565/5366e530-c83e-11e6-880a-e45d0f1d3388.jpg)

https://www.dropbox.com/s/2m0s7fqrv9u9jyh/LincolnCoWyRuralAddresses.zip?dl=0

[2016-12-22 17:03] justinelliotmeyers commented on #2286
Initial E-mail:
Justin,

Yes I did get your email.  I've just been unavailable to get back to you until now.  Yes, I think the county would be willing to share our data for this project.  How do you want the x,y?  Lat/long, Northing/Easting?  Let me know and I will start putting it together.

Destry Dearden, GISP
IT/GIS Director
520 Topaz Suite 109
Kemmerer, WY 83101
(307)877-2102
dtdearden@lcwy.o

[2016-12-24 21:35] #2181 closed

[2016-12-25 04:35] trescube commented on #2258
Fixed in #2259

[2016-12-25 04:35] #2258 closed

[2016-12-25 20:54] nvkelso commented on #576
Related: #2285

[2016-12-25 20:55] nvkelso commented on #2285
Related: https://github.com/openaddresses/openaddresses/issues/1987

[2016-12-27 14:04] justinelliotmeyers commented on #1954
called last wednesday (12/21/2016) - left a voicemail.  Called 12/27/2016 and left another voicemail.

[2016-12-27 14:07] justinelliotmeyers commented on #1954
called Salem IT GIS dept 503-588-6351 and left a voicemail

[2016-12-28 14:52] trescube commented on #2286
Getting this error in the machine processing this souce:  `GDAL gave Failure 6: No translation for Mercator_Auxiliary_Sphere to PROJ.4 format is known.`

[2016-12-28 14:54] trescube commented on #2285
Getting the following error processing this sourc:

[code]

I think this means that the geometry for a record in ESRI is borked and the machine doesn't reject the record.

[2016-12-28 15:02] iandees commented on #2286
See also https://github.com/openaddresses/machine/issues/423.

[2016-12-28 16:30] #2262 closed

[2016-12-28 17:42] trescube commented on #2256
I'm currently scraping the source with pyesridump but it's taking _forever_.

[2016-12-28 17:46] justinelliotmeyers commented on #2256
Stephen,
Thanks for looking into this. About a week ago I had an online chat session with one of the technical people for their agency. It sounds like there's roughly 900,000 parcels they have for the country. I'm not sure all of them have addresses however, specifically in the rural parts. I looked at about 1000, and some of the addresses seem good, but a lot were empty or missing. Hopefully this

[2016-12-28 18:59] justinelliotmeyers commented on #1995
http://arcgisserver.semcog.org/arcgis/rest/services/OpenData/Buildings/MapServer/0

is for: Detroit, and Livingston,Macomb,Monroe,Oakland,StClair,Washtenaw,Wayne counties

[2016-12-28 19:02] nvkelso opened #2294 "Add Alabama statewide addresses"
We tried to add statewide addresses in Alabama via https://github.com/openaddresses/openaddresses/pull/1905, but the remote server wasn't reliable.

Filing this away for a rainy day. Perhaps a call to them might fix it?

[2016-12-28 19:03] justinelliotmeyers commented on #1995
whoever pulls the data, let me know or just close out the ticket once it is done.  Thanks!

[2016-12-28 19:11] trescube commented on #2294
I managed to pull the data down with 3 runs of pyesridump but wasn't able to make heads or tails of when to use `ADD1` or `ADD2`.  The 2 fields seem to be blank, an address with unknown mailing address or situs, or just contain PO boxes.  Sometimes both fields were PO boxes!

[2016-12-28 19:28] nvkelso commented on #1978
So no effectively no redistribution even if we paid for access :\

[2016-12-28 22:29] trescube commented on #2256
Okay, I pulled both sources down with pyesridump.  The first contains 92,173 addresses while the second contains 188,795.  Both seem rather light for an island of 3 million people, but it's a start.  I'll get a source together tonight or tomorrow.

[2016-12-29 05:14] migurski opened #2297 "Data for Brussels is misprojected"
Looks like it’s shifted a block to the north and west in both Brussels sources:

<img width="797" alt="screen shot 2016-12-28 at 9 13 31 pm" src="https://cloud.githubusercontent.com/assets/58730/21537208/9aff7110-cd42-11e6-8a68-e1c1575a1def.png">

[2016-12-29 05:20] nvkelso commented on #2297
Eek!

On Wed, Dec 28, 2016 at 9:14 PM, migurski <notifications@github.com> wrote:

[2016-12-29 10:06] astoff opened #2298 "Rio de Janeiro, Brazil"
Address data for the city of Rio de Janeiro seems to be located at https://www.arcgis.com/home/item.html?id=161686e6f2204ea4ab486671c459d13d.

That page contains a broken link to an ArcGIS server, but still may be useful to find the dataset. The correct location may be http://pgeo2.rio.rj.gov.br/ArcGIS2/rest/services/CadLog/VW_NPorta_Bairro/MapServer/0
and/or http://pgeo3.rio.rj.gov.br/arcgis/rest

[2016-12-29 10:19] garfbradaz commented on #126
Can you source the data here for the UK?

https://alpha.openaddressesuk.org/

[2016-12-29 10:25] garfbradaz opened #2299 "UK Data - OpenAddressesUK.Org"
Hey Guys,

I don't know if these guys are affiliated with you? But it would be good to have a combined dataset:

[Link](https://alpha.openaddressesuk.org/)

They seem to have JSON and CSV datasets.

[2016-12-29 15:54] iandees commented on #2299
openaddressesuk.org doesn't capture any location information with their addresses, so the dataset isn't particularly useful to us. For example, https://alpha.openaddressesuk.org/addresses/fVEYss.json only has a lat/lon for the postcode.

[2016-12-29 16:58] #2299 closed

[2016-12-29 17:51] nvkelso commented on #126
Spending 5 minutes with the data, those mostly seem to be postal codes
(down to street level), not address points. Can you provide an example of a
street number address in their dataset, please? Generally but also for
Newcastle?

On Thu, Dec 29, 2016 at 2:19 AM, Gareth Bradley <notifications@github.com>
wrote:

[2016-12-30 14:03] astoff opened #2303 "Brazil census data"
Census data could be used to generate a country-wide address list in Brazil, but it would require a dedicated script to parse and process. I will describe the situation so you can decide if this makes sense for openaddresses.

There are two datasets that would need to be combined:
- An address list in each municipality (or, sometimes, a district within a municipality). For rural addresses, a GPS r

[2016-12-30 17:33] nvkelso commented on #2303
This sounds similar to US Census interpolated address ranges ala Tiger.

+1 for OpenAddresses adding support for this data type (at least interpolation points at each end of line).

[2016-12-30 18:27] astoff commented on #2303
@nvkelso These are _not_ address ranges. They are more like the Japanese dataset: individual addresses geolocated up to city block (as opposed to parcel or rooftop).

[2016-12-30 18:42] nvkelso commented on #2303
Interesting!

Can you provide a fully formed Brazil example address, and what this dataset would allow? Is it 1:1 or missing something?

[2016-12-31 19:07] #2298 closed

[2017-01-01 01:37] migurski opened #2305 "Document support for layer names in conform"
- [x] Wait for https://github.com/openaddresses/machine/pull/510 to be merged
- [x] Wait for changes to be released to all workers
- [x] Describe use of new `layer` conform attribute
- [ ] Update New Jersey statewide source, as noted in https://github.com/openaddresses/machine/issues/500#issuecomment-269878745

[2017-01-01 01:37] iandees commented on #2305
You read my mind. I was just thinking about how to explain this in the docs...

[2017-01-01 01:45] migurski commented on #2305
Want to take a crack at this one? I'm just about ready to merge and release.

 _…waits for CI tests after another Python 2 strings/bytes bug._

[2017-01-01 02:13] #1995 closed

[2017-01-01 02:23] migurski commented on #2305
Released. Changes will be on all workers after [the current batch set](https://results.openaddresses.io/sets/141476/) is complete. Should be tomorrow sometime.

[2017-01-01 16:05] astoff commented on #2303
I have attached a little example of what one can get (a part of Curitiba)
[c-uniq.csv.gz](https://github.com/openaddresses/openaddresses/files/680067/c-uniq.csv.gz).  Judging by the amount of dots, I'd say the dataset is fairly complete.

In another case (Porto Alegre) there are 638K dwellings (house number + unit), and 288K unique buildings (i.e., after discarding units). Again, that seems about

[2017-01-01 19:24] #2297 closed

[2017-01-01 20:42] #2305 closed

[2017-01-04 14:38] #2256 closed

[2017-01-05 11:17] smemorex opened #2318 "Update Acerra, Italy to public source (from our S3 bucket)"
hello,
@nvkelso create form me to a csv file now published on openaddresses and that will be imported ( now there is some problem)

ho can i create this file on my own in case of modification and public it on municipality official site so openaddresses can take it from there automatically?

[2017-01-05 18:34] davidchiles opened #2324 "Nashville Tennessee source failing"
Looks like the URL changed to https://maps.nashville.gov/arcgis/rest/services/Cadastral/Parcels/MapServer/0
and there's also another layer at  https://maps.nashville.gov/arcgis/rest/services/Cadastral/Parcels/MapServer/1

The  address points endpoint might be better: https://maps.nashville.gov/arcgis/rest/services/Addressing/AddressPoints/MapServer/0

It has 280662 records

[2017-01-05 19:49] nvkelso commented on #2324
One or both of these?

- https://github.com/openaddresses/openaddresses/blob/master/sources/us/tn/city_of_nashville.json
- https://github.com/openaddresses/openaddresses/blob/master/sources/us/tn/nashville_davidson.json

[2017-01-05 20:02] nvkelso commented on #2318
Once the source is published with a public URL, we'll update it in the OpenAddress source:

- https://github.com/openaddresses/openaddresses/blob/master/sources/it/04/acerra.json#L9

(Original work for this was done in https://github.com/openaddresses/openaddresses/issues/2257.)

[2017-01-05 21:26] migurski commented on #2247
Merged both!

[2017-01-05 21:26] #2247 closed

[2017-01-05 21:26] #2206 closed

[2017-01-05 21:27] #291 closed

[2017-01-06 15:21] Platzii opened #2328 "Wrong projection data Belgium (Flanders and Brussels region)"
Hi all

I've noticed that the OpenAddresses data in Belgium is not correct.

The coordinates from the OpenAddresses zips (results.openaddresses.io) differ slightly from the coordinates from the source (https://github.com/openaddresses/openaddresses/blob/master/sources/be/flanders.json). Possible due to a wrong projection/conversion used.

Here is a small visualisation of the problem:
![screen shot

[2017-01-06 15:27] iandees commented on #2328
I wonder if this is happening because the conform includes a projection. After https://github.com/openaddresses/machine/issues/500 we override the source projection (if any) with the conform projection if it exists.

[2017-01-06 15:40] Platzii commented on #2328
Well, that explains it!
Projection used in the source is Belge Lambert 1972 (https://epsg.io/103300)

[2017-01-06 15:47] Platzii commented on #2328
Brussels data seems to be correct
Although the map on https://openaddresses.io/ shows the shifted coordinates

[2017-01-06 17:34] #2328 closed

[2017-01-06 21:39] migurski opened #2331 "Brussels, Belgium remains misplaced"
We corrected the source projection in #2302 and the preview images [indicate it's in the right place](https://s3.amazonaws.com/data.openaddresses.io/runs/143304/preview.png), but in the latest dot map which re-ran today it looks shifted even further. Something is weird here.

<img width="793" alt="screen shot 2017-01-06 at 1 38 44 pm" src="https://cloud.githubusercontent.com/assets/58730/21733864/

[2017-01-07 00:56] nvkelso commented on #2303
Wow, that's amazing! Let's get this added :)

**Import strategy:** Since there is some manual process involved, I suggest breaking the import into sources per state (27 total, 26 for states and one for the capital).

**Accuracy:** It looks like a lot of these addresses are stacked on top of each other (so there are multiple addresses per "street block"), with "block" level precision. @migurski is

[2017-01-07 01:51] thatdatabaseguy commented on #2303
+1, very interested in Brazil countrywide data. Units could be useful for libpostal purposes as well.

[2017-01-07 05:02] migurski commented on #2303
This data is great. I would say "5" for accuracy, and maybe we can reevaluate what we're using for accuracy anyway. The integer values are not sure, it'd be nice to just use the strings.

[2017-01-07 09:58] astoff commented on #2303
OK, great to hear you like this. Let's discuss the concern with units.

In the vast majority of cases, the "units" in this dataset refer to apartments of an apartment tower, and not different buildings within the same parcel or different street-level entrances to a given building. I imagined you would not want to retain this level of detail — are you saying you actually do want to keep it?

I shou

[2017-01-07 14:07] Platzii commented on #2328
Not fixed yet :/

<img width="1196" alt="screen shot 2017-01-07 at 15 05 07" src="https://cloud.githubusercontent.com/assets/7767841/21742235/bbcd6640-d4ea-11e6-9555-b8151a38832c.png">

[2017-01-07 14:13] iandees commented on #2328
The data from results.openaddresses.io is only updated weekly. If you are checking there, give it a few days.

[2017-01-07 14:59] Platzii commented on #2328
Yes, I know, but the last run was Saturday, Jan 07, 2017 according to the site.
So it should be fixed already?

[2017-01-07 15:18] iandees commented on #2328
The latest run has started but has not finished yet.

[2017-01-07 18:25] migurski commented on #2303
We do have a place in the OA schema to put units, so if they exist in the data it wouldn't hurt to add them! For @thatdatabaseguy’s purposes, I believe that the presence of units has also helped with libpostal training data sets.

[2017-01-08 18:02] thatdatabaseguy commented on #2303
Yes, the libpostal parser takes data sets like OpenAddresses that are already separated into fields, recreates what the full address would look like, and then trains a model to parse full addresses (from geocoder input, CSVs, etc) into components. Having the unit information helps the system handle more types of input, for example recognizing that "Apto 202" is a unit, and thus most geocoding syst

[2017-01-10 08:54] astoff commented on #2303
One more question before I am satisfied with the script: Should we try to clean up the original data in any way? (By the way, is a CSV enhancer (https://github.com/openaddresses/machine/issues/283) still on the roadmap?)

This particular dataset would benefit mostly from the following two things, the second of which may be quite important if this is to be used as training data:

1. Titlecase and a

[2017-01-10 14:18] iandees commented on #2303
I would prefer to see caching/downloading scripts be as "dumb" as possible and to constrain themselves to only downloading the data from the source in as raw of a format as possible. Doing this means that we end up with the raw data downloaded to our system to start with and can adjust the transform/conform process to include different data later.

The CSV enhancer/cleaner steps are still on our r

[2017-01-10 15:49] thatdatabaseguy commented on #2303
Agreed, it's usually reasonable to keep the raw data raw and update the transform over time. The number_suffix changes are a bit more intricate than what the OA transforms can currently handle, but AFAICT from the São Paulo data, these cases are fairly infrequent and shouldn't affect consumers much.

Libpostal has its own cleanup/normalization which can accommodate all of the above, so no worries

[2017-01-11 19:16] migurski commented on #2331
Looks fine now.

<img width="811" alt="screen shot 2017-01-11 at 11 15 58 am" src="https://cloud.githubusercontent.com/assets/58730/21862740/5eb3fd18-d7ef-11e6-8227-b2e9a9531156.png">

[2017-01-11 19:16] #2331 closed

[2017-01-12 20:11] astoff commented on #2303
https://github.com/openaddresses/openaddresses/pull/2315 closes this.

[2017-01-12 20:11] #2303 closed

[2017-01-13 18:15] astoff commented on #937
Address ranges no longer interesting

[2017-01-13 18:15] #937 closed

[2017-01-13 18:16] astoff commented on #773
Address ranges no longer interesting

[2017-01-13 18:16] #773 closed

[2017-01-16 17:36] justinelliotmeyers opened #2353 "Vitebsk Address Data!!!!!!!!!!!!!!!!!!!! (Belarus)"
http://vitebsk.gismap.by/ArcGIS/rest/services/Vblotsset/MapServer/0

not sure about the coverage, but looked at a handful, and they look good.

[2017-01-17 17:39] trescube commented on #2353
This probably isn't countrywide since there are only 19,773 records.  The `ADDRESS` field I think contains the entire address but it's very muddled and I don't speak Russian so I have to investigate further.

[2017-01-17 17:56] trescube commented on #2353
It appears to be https://en.wikipedia.org/wiki/Vitebsk_Region

[2017-01-17 18:07] sergiyprotsiv commented on #2353
Hi, this is indeed just Vitebsk and the coverage is good but not complete. There have been quite a few efforts there (in Belarus, Ukraine, Russia, Kazakhstan, etc.) to put up addresses online both from private individuals (lots of effort to get the data for their car GPS systems) and the governments (most countries have an openly accessible cadastral map). The problem with cadastral maps is that i

[2017-01-17 18:10] trescube commented on #2353
The OA machine calculates the polygon centroid for the lat/lon value.

Since you're a Russian speaker, can you give me some guidance on parsing some addresses?

* Докшицкий р-н, Порплищенский с/с, д. Порплище, ул. И.Курец, 17
* гп. Бешенковичи, ул. Я.Колоса, 8
* Бешенковичский район, Соржицкий с/с, д.Дашково
* г. Витебск, ул. Набережная 2-я, д. 5

I assume the values are comma-delimited and the fi

[2017-01-17 18:17] trescube commented on #2353
By substituting in other region names, I found a few more:

* [Mogilev](http://mogilev.gismap.by/ArcGIS/rest/services/)
* [Gomel](http://gomel.gismap.by/ArcGIS/rest/services/)
* [Brest](http://brest.gismap.by/ArcGIS/rest/services/) (returns a 500, though)
* [Grodno](http://grodno.gismap.by/ArcGIS/rest/services/)

Minsk is missing, but the interactive map seems to farm those out to other region's G

[2017-01-17 18:56] sergiyprotsiv commented on #2353
Sure, but this does not look particularly easy in this case.

In short, most countries that have inherited the Soviet systems have districts ("raion") as the main municipal governance units (similar to US counties, but generally smaller). Usually the name of the town/village/hamlet need only be unique wishing the raion, so it is often given as part of the address.

"район" is the Russian term and

[2017-01-17 18:57] sergiyprotsiv commented on #2353
Sorry, did not finish the sentence:
"ул" = "улица" is one of the possible types of streets (by far the most common) and should generally be kept as part of the street name as there can definitely be a "Pravda street" and "Pravda avenue" within the same city (to use an example of my grandmother's address).

[2017-01-17 18:58] migurski commented on #2353
@sergiyprotsiv, thank you so much for offering your expertise here.

[2017-01-17 22:09] sergiyprotsiv commented on #2353
The Minsk data is here: http://gismap.by/arcgis/rest/services/Public/Uchastki_Minsk_public/MapServer/0 but it does not seem to have the address field (even though it is listed as the display name). Does not open in Chrome for some reason - try another browser.

Found this by following the network requests when scrolling around this map: http://gismap.by/mobile/ Maybe eventually can dig up more.

[2017-01-18 12:18] justinelliotmeyers opened #2359 "Saginaw County, MI Parcels/ Address Labels"
![saginaw_parcels](https://cloud.githubusercontent.com/assets/5324316/22063687/17605984-dd4e-11e6-8972-2786174bc6b2.jpg)

Not sure the best source to use;
Parcels - http://beta.sagagis.org:6080/arcgis/rest/services/MyServices/sagaframeless/MapServer/1
address labels (*seems to have the fields that would make sense for us) - http://beta.sagagis.org:6080/arcgis/rest/services/MyServices/Saga_General/

[2017-01-18 13:09] justinelliotmeyers opened #2360 "Grand Traverse County, MI Parcels"
![grand_traverse_mi_parcels](https://cloud.githubusercontent.com/assets/5324316/22065260/72ed34d2-dd55-11e6-8ee3-cab9aaeb59ec.jpg)

http://gis2.co.grand-traverse.mi.us/arcgis/rest/services/PARCELS/TaxParcelQuery/MapServer/0

**I believe they have address points, but every service I tried errored out, maybe someone else may have more luck?
http://gis2.co.grand-traverse.mi.us/arcgis/rest/services/GI

[2017-01-18 14:41] justinelliotmeyers opened #2361 "Bay County, MI Parcels *Unsure this will work*"
http://services3.arcgis.com/blE8NdGZSd9Sfngv/arcgis/rest/services/bayParcels/FeatureServer/0

[2017-01-18 14:42] justinelliotmeyers opened #2362 "Eaton County, MI Parcels"
*Unsure this will work*

http://ecgis.eatoncounty.org/ecgis/rest/services/Equalization/Parcels/Mapserver/0